<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <!--
                Compiler for OSB XQuery Resources
    -->
    <extension point="com.bea.alsb.common.compiler.ui.factories">
        <factory class="com.bea.alsb.ui.resources.xquery.compiler.SBXQueryCompilerFactory"/>
    </extension>


    <!--
                Provider for OSB Custom XPath Functions
    -->
    <extension point="com.bea.alsb.common.xquery.ui.functionsProvider">
        <provider class="com.bea.alsb.ui.resources.xquery.functions.CustomXPathFunctionsProvider"/>
    </extension>

</plugin>
