<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="com.bea.alsb.core.stages.ui">
      <stage_ui>
         <palette>
            <items>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.Communication"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.dynamicPublish"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.DynamicPublish"
                     label="%items.dynamicPublish.label"
                     palette-icon-small="icons/communication/16/dynamic_publish.gif"
                     palette-icon-large="icons/communication/24/dynamic_publish.gif"
                     tooltip="%items.dynamicPublish.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.Communication"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.publish"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Publish"
                     label="%items.publish.label"
                     palette-icon-small="icons/communication/16/publish.gif"
                     palette-icon-large="icons/communication/24/publish.gif"
                     tooltip="%items.publish.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.Communication"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.publishTable"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.PublishTable"
                     label="%items.publishTable.label"
                     palette-icon-small="icons/communication/16/publish_table.gif"
                     palette-icon-large="icons/communication/24/publish_table.gif"
                     tooltip="%items.publishTable.tooltip"/>
            </items>
         </palette>
         <actions>
            <action
                  id="http://www.bea.com/wli/sb/stages/publish/config/dynamic-route"
                  type="stage">
               <node
                     canvas-icon-large="icons/communication/32/dynamic_publish.gif"
                     canvas-icon-small="icons/communication/24/dynamic_publish.gif"
                     class="com.bea.alsb.stages.publish.ui.factory.DynamicPublishFactory"
                     id="com.bea.alsb.messageflow.stages.publish.DynamicPublish"
                     menu-icon-large="icons/communication/24/dynamic_publish.gif"
                     menu-icon-small="icons/communication/16/dynamic_publish.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.Communication"
                     outline-icon-large="icons/communication/24/dynamic_publish.gif"
                     outline-icon-small="icons/communication/16/dynamic_publish.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.DynamicPublish"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/publish/config/route"
                  type="stage">
               <node
                     canvas-icon-large="icons/communication/32/publish.gif"
                     canvas-icon-small="icons/communication/24/publish.gif"
                     class="com.bea.alsb.stages.publish.ui.factory.PublishFactory"
                     id="com.bea.alsb.messageflow.stages.publish.Publish"
                     menu-icon-large="icons/communication/24/publish.gif"
                     menu-icon-small="icons/communication/16/publish.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.Communication"
                     outline-icon-large="icons/communication/24/publish.gif"
                     outline-icon-small="icons/communication/16/publish.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Publish"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/publish/config/routingTable"
                  type="stage">
               <node
                     canvas-icon-large="icons/communication/32/publish_table.gif"
                     canvas-icon-small="icons/communication/24/publish_table.gif"
                     class="com.bea.alsb.stages.publish.ui.factory.PublishTableFactory"
                     id="com.bea.alsb.messageflow.stages.publish.PublishTable"
                     menu-icon-large="icons/communication/24/publish_table.gif"
                     menu-icon-small="icons/communication/16/publish_table.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.Communication"
                     outline-icon-large="icons/communication/24/publish_table.gif"
                     outline-icon-small="icons/communication/16/publish_table.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.PublishTable"/>
            </action>   
            <action
                  id="http://www.bea.com/wli/sb/stages/publish/config/routingTableCase"
                  type="stage">               
               <node
                     class="com.bea.alsb.stages.publish.ui.factory.PublishTableCaseFactory"
                     id="com.bea.alsb.messageflow.stages.publish.PublishTableCase"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                     palette-id="none"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/publish/config/routingTableOtherwise"
                  type="stage">
               <node
                     class="com.bea.alsb.stages.publish.ui.factory.PublishTableDefaultFactory"
                     id="com.bea.alsb.messageflow.stages.publish.PublishTableOtherwise"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                     palette-id="none"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/publish/config/requestAction"
                  type="stage">
	         	<node
	                 class="com.bea.alsb.stages.publish.ui.factory.RequestFactory"
	                 id="com.bea.alsb.messageflow.stages.publish.RequestAction"
	                 palette-id="none"/>
         	</action>
          </actions>
      </stage_ui>
   </extension>
 
 <!--
				Message Flow - Communication Action Commands
 -->
 <extension
       point="org.eclipse.ui.commands">
    <category
          description="%CommunicationCategory.description"
          id="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          name="%CommunicationCategory.name"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.dynamicPublish"
          name="com.bea.alsb.ui.editors.messageflow.design.dynamicPublish"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.publish"
          name="com.bea.alsb.ui.editors.messageflow.design.publish"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.publishTable"
          name="com.bea.alsb.ui.editors.messageflow.design.publishTable"/>
  </extension>           
 
  <!--
				Message Flow - Communication Property Tabs
 -->
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">
       <propertyTab
             category="stageaction"
             id="messageflow.tab.DynamicPublish"
             label="Dynamic Publish"/>
       <propertyTab
             category="stageaction"
             id="messageflow.tab.Publish"
             label="Publish"/>
       <propertyTab
             category="stageaction"
             id="messageflow.tab.PublishTable"
             label="Publish Table"/>
       <propertyTab
             category="stageaction"
             id="messageflow.tab.PublishCase"
             label="Case"/>
    </propertyTabs>
 </extension>
 
 <!--
				Message Flow - Communication Property Sections
 -->
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.stages.publish.ui.model.RequestBranchNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.publish.ui.properties.DynamicPublishSection"
             id="messageflow.section.DynamicPublish"
             tab="messageflow.tab.DynamicPublish">
          <input type="com.bea.alsb.stages.publish.ui.model.DynamicPublishContainer"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.publish.ui.properties.PublishSection"
             id="messageflow.section.Publish"
             tab="messageflow.tab.Publish">
          <input type="com.bea.alsb.stages.publish.ui.model.PublishContainer"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.publish.ui.properties.PublishTableSection"
             id="messageflow.section.PublishTable"
             tab="messageflow.tab.PublishTable">
          <input type="com.bea.alsb.stages.publish.ui.model.PublishTableContainer"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.publish.ui.properties.PublishCaseSection"
             id="messageflow.section.PublishCase"
             tab="messageflow.tab.PublishCase">
          <input type="com.bea.alsb.stages.publish.ui.model.PublishTableCaseNode"/>
       </propertySection>
        <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.stages.publish.ui.model.PublishTableOtherwiseNode"/>
       </propertySection>
    </propertySections>
 </extension>
 
</plugin>
