<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <!--
        ALSB Publish Tasks 
    -->
	<extension point="org.eclipse.wst.server.core.publishTasks">
		<publishTask
		    id="com.bea.alsb.server.core.publishTask"
		    typeIds="com.bea.weblogic1036.server"
		    class="com.bea.alsb.server.publish.ALSBPublishTask" />
	</extension>

	<!--
		ALSB contribution to WLS server runtime
	-->
	 <extension point="oracle.eclipse.tools.weblogic.runtimeComponentProviders">
	    <runtime-component-provider class="com.bea.alsb.server.publish.ALSBRuntimeProvider"/>
	 </extension>
	 
	<!--
	 	ALSB facet runtime support mapping
	--> 	
	<extension point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type id="alsb.container.component"/>
      <runtime-component-version type="alsb.container.component" version="1.0.100"/>
	  <supported>
	    <facet id="alsb.container"/>
     	<runtime-component id="alsb.container.component"/>
	  </supported>
	</extension>
	
	<extension point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type id="alsb.project.component"/>
      <runtime-component-version type="alsb.project.component" version="1.0.100"/>
	  <supported>
	    <facet id="alsb.core"/>
     	<runtime-component id="alsb.project.component"/>
	  </supported>
  	</extension>
  	
	<extension
	     point="org.eclipse.wst.server.ui.serverImages">
	  <image icon="icons/modules/container.gif"
	         id="com.bea.alsb.server"
	         typeIds="bea.alsb.container.module"/>
	  <image icon="icons/modules/project.gif"
	         id="com.bea.alsb.server"
	         typeIds="bea.alsb.project.module"/>
	</extension>
 <extension
       point="oracle.eclipse.tools.weblogic.serverModuleHelper">
    <serverModuleHelper
          class="com.bea.alsb.server.publish.ALSBServerModuleHelper"
          name="ALSB Server Module Helper class"/>
 </extension>
</plugin>
