<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!--
                Message Flow Palette
    -->
	<extension point="com.bea.workshop.common.ui.palette.DesignPaletteContributors">
    	<contributor  class="com.bea.alsb.process.messageflow.ui.palette.MessageFlowPaletteContributor"
			editorPartClassName="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor"
			id="com.bea.alsb.process.messageflow.ui.palette.messageFlowPaletteContributor"
			paletteViewID="com.bea.workshop.common.ui.CorePaletteView"/>
	</extension>
	
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
        <propertyContributor
                contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor"
                labelProvider="com.bea.alsb.process.messageflow.ui.properties.MessageFlowSectionLabelProvider"
                typeMapper="com.bea.alsb.process.messageflow.ui.properties.MessageFlowElementTypeMapper">
            <propertyCategory category="general"/>
            <propertyCategory category="branch"/>
            <propertyCategory category="errorhandler"/>
            <propertyCategory category="pipelinepair"/>
            <propertyCategory category="pipelinerequest"/>
            <propertyCategory category="pipelineresponse"/>
            <propertyCategory category="route"/>
            <propertyCategory category="service"/>
            <propertyCategory category="stageaction"/>
            <propertyCategory category="stage"/>
        </propertyContributor>
    </extension>

    <!--
        Register the flow debug model presentation as a presentation delegate
        with the com.bea.alsb.debug.ui plugin
    -->
   <extension point="com.bea.alsb.debug.ui.debugModelPresentation">
       <sourceModelPresentation id="com.bea.alsb.pipeline.debug"
                                class="com.bea.alsb.process.messageflow.ui.debug.PipelineDebugModelPresentation"/>
       <variableModelPresentation id="com.bea.alsb.pipeline.debug"
                                  class="com.bea.alsb.process.messageflow.ui.debug.PipelineVariableModelPresentation"/>
   </extension>

   <!--
				Preferences Pages
	
    <extension point="org.eclipse.ui.preferencePages">       
        <page id="com.bea.alsb.process.messageflow.ui.preferences.pipeline"
              category="com.bea.alsb.process.common.core.preferences.canvas"
              class="com.bea.alsb.process.messageflow.ui.preferences.MessageFlowPreferencePage"
              name="%MessageFlowPreferencePage_name"/>
        <page id="com.bea.alsb.process.messageflow.ui.preferences.pipeline.collapse"
              category="com.bea.alsb.process.messageflow.ui.preferences.pipeline"
              class="com.bea.alsb.process.messageflow.ui.preferences.MessageFlowNodeCollapsingPreferencePage"
              name="%MessageFlowNodeCollapsingPreferencePage_name"/>
    </extension>
    -->
</plugin>
