<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="com.bea.alsb.new" name="%ALSBCategory_name">
		</category>
        <wizard
              category="com.bea.alsb.new"
              class="com.bea.alsb.ui.resources.wspolicy.wizard.NewWsPolicyWizard"
              finalPerspective="com.bea.alsb.ui.perspectives.aqualogic"
              icon="icons/new_system_config.gif"
              id="com.bea.alsb.ui.wizards.policy"
              name="%NewWsPolicyWizard_name"
              preferredPerspectives="com.bea.alsb.ui.perspectives.aqualogic"
              project="false">
           <description>%NewWsPolicyWizard_description</description>
        </wizard>  
	</extension>
	
	<extension point="org.eclipse.core.runtime.contentTypes">
       <file-association content-type="org.eclipse.core.runtime.xml"
                         file-extensions="policy"/>
    </extension>
    
	<extension point="org.eclipse.ui.navigator.navigatorContent">
        <commonWizard type="new" 
                      menuGroupId="com.bea.alsb.new"
                      wizardId="com.bea.alsb.ui.wizards.policy">
            <enablement>
                <or>
                    <adapt type="org.eclipse.core.resources.IResource">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb.project"/>
				    </adapt>
                </or>
            </enablement>
        </commonWizard>
	</extension>
	<extension
	   point="org.eclipse.ui.perspectiveExtensions">
	   <perspectiveExtension targetID="com.bea.alsb.ui.perspectives.aqualogic">
	      <newWizardShortcut id="com.bea.alsb.ui.wizards.policy"/>
	   </perspectiveExtension>
	</extension>
</plugin>
