<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <!--
            Extension point for Stage Registration
    -->
    <extension-point id="stages" name="Stage" schema="eschema/stages.exsd"/>
    <extension-point id="stages.ui" name="Stage UI" schema="eschema/stages_ui.exsd"/>

    <!--
            Extension point for Transport Registration
    -->
    <extension-point id="transports" name="Transport" schema="eschema/transports.exsd"/>

    <!--
            Extension point for Custom Resources Registration
    -->
    <extension-point id="resources" name="Resource" schema="eschema/resources.exsd"/>


    <!--
			ALSB Container Facet
	-->
	<extension point="org.eclipse.wst.common.project.facet.core.facets">
		<project-facet id="alsb.container">
			<label>%alsb.container.label</label>
			<description>
				Enables a project to be an ALSB container, containing normal ALSB projects
			</description>
		</project-facet>
		<project-facet-version facet="alsb.container" version="1.0.100">
			<action id="alsb.container.install" type="INSTALL">
				<delegate class="com.bea.alsb.core.facets.ALSBContainerFacetInstallDelegate"/>
			</action>
			<group-member id="modules"/>
			<constraint>
				<conflicts group="modules"/>
			</constraint>
		</project-facet-version>
		<template id="alsb.container.template">
			<label>%alsb.container.template.label</label>
			<fixed facet="alsb.container"/>
<!-- TODO deprecated remove -->
			<preset id="alsb.container.preset"/>
<!-- -->
		</template>
<!-- TODO deprecated remove
		<preset id="alsb.container.preset">
			<label>%alsb.container.preset.label</label>
			<description>%alsb.container.preset.description</description>
			<facet id="alsb.container" version="1.0.100"/>	
		</preset>
-->
	</extension>

	<!-- 
		ALSB Container Facet Preset 
	-->
   <extension point="org.eclipse.wst.common.project.facet.core.presets">
		<static-preset id="alsb.container.preset">
    		<label>%alsb.container.preset.label</label>
    		<description>%alsb.container.preset.description</description>
    		<facet id="alsb.container" version="1.0.100"/>
  		</static-preset>
   		
   </extension>

    <!--
			ALSB Project Facet
	-->
	<extension point="org.eclipse.wst.common.project.facet.core.facets">
		<project-facet id="alsb.core">
			<label>%alsb.core.label</label>
			<description>
				Enables ALSB functionality on the project
			</description>
		</project-facet>
		<project-facet-version facet="alsb.core" version="1.0.100">
			<action id="alsb.core.install" type="INSTALL">
				<delegate class="com.bea.alsb.core.facets.ALSBCoreFacetInstallDelegate"/>
			</action>
			<group-member id="modules"/>
			<constraint>
				<conflicts group="modules"/>
			</constraint>
		</project-facet-version>
		<template id="alsb.core.template">
			<label>%alsb.core.template.label</label>
			<fixed facet="alsb.core"/>
			<!-- <fixed facet="aqualogic.common"/> -->
			<preset id="alsb.core.preset"/>
		</template>
<!-- deprectated - remove 
		<preset id="alsb.core.preset">
			<label>%alsb.core.preset.label</label>
			<description>%alsb.core.preset.description</description>
			<facet id="alsb.core" version="1.0.100"/>	
		    <facet id="aqualogic.common" version="3.0"/>
		</preset>
-->
	</extension>
	<extension point="org.eclipse.wst.common.project.facet.ui.images">	
		<image facet="alsb.core" path="icons/alsb_facet.gif"/>
	</extension>	

	<!-- 
		ALSB Project Facet Preset 
	-->
   <extension point="org.eclipse.wst.common.project.facet.core.presets">
		<static-preset id="alsb.core.preset">
    		<label>%alsb.core.preset.label</label>
    		<description>%alsb.core.preset.description</description>
    		<facet id="alsb.core" version="1.0.100"/>
  		</static-preset>
   		
   </extension>

    <!--
		ALSB modules
	-->
	<extension point="org.eclipse.wst.server.core.moduleTypes">
    	<moduleType id="bea.alsb.container.module"
    				name="%alsb.module.type.name"/>
    	<moduleType id="bea.alsb.project.module"
    				name="%alsb.module.type.name"/>
    </extension>
    
    <extension point="org.eclipse.wst.server.core.moduleFactories">
   		<moduleFactory projects="true"
			class="com.bea.alsb.core.internal.deployables.ALSBDeployableFactory"
			id="com.bea.alsb.core.internal.deployables">
			<moduleType versions="1.0.100" types="bea.alsb.container.module,bea.alsb.project.module"/>
		</moduleFactory>
	</extension>	
    
    <!-- enable eclipse run as... functionality for ALSB projects and some ALSB resources -->
	<extension point="org.eclipse.wst.server.core.moduleArtifactAdapters">
		<moduleArtifactAdapter
		    priority="1"
			id="com.bea.alsb.core.internal.deployables.ALSBModuleArtifactAdapter"
			class="com.bea.alsb.core.internal.deployables.ALSBModuleArtifactAdapterDelegate">
			<enablement>
				<with variable="selection">
				    <or>
					    <adapt type="org.eclipse.core.resources.IProject">
					        <test forcePluginActivation="true" 
					              property="org.eclipse.core.resources.projectNature"
					              value="com.bea.alsb.core.natures.alsb"/>
					    </adapt>
					    <adapt type="org.eclipse.core.resources.IFile">
					        <and>
					        	<test forcePluginActivation="true" 
					                  property="org.eclipse.core.resources.projectNature"
					                  value="com.bea.alsb.core.natures.alsb"/>
                                <or>
                                    <test forcePluginActivation="true" 
                                          property="org.eclipse.core.resources.contentTypeId" 
                                          value="com.bea.alsb.core.resources.proxy.content-type"/>
                                    <test forcePluginActivation="true" 
                                          property="org.eclipse.core.resources.contentTypeId" 
                                          value="com.bea.alsb.core.resources.biz.content-type"/>
                                    <or>
                                         <test forcePluginActivation="true"
                                               property="org.eclipse.core.resources.extension" 
                                               value="xq"/>
                                         <or>
	                                         <test forcePluginActivation="true"
                                                   property="org.eclipse.core.resources.extension" 
                                                   value="xsl"/>
	                                         <test forcePluginActivation="true"
                                                   property="org.eclipse.core.resources.extension" 
                                                   value="mfl"/>
                                         </or>
                                    </or>
                                </or>
					        </and>
					    </adapt>
					    <instanceof value="com.bea.alsb.core.deployables.ALSBXPathHelper"/>
					</or>
				</with>
			</enablement>
		</moduleArtifactAdapter>
	</extension>


    <!--
                ALSB Nature
    -->
    <extension point="org.eclipse.core.resources.natures"
               id="natures.alsb"
               name="ALSB Common Nature">
        <runtime>
            <run class="com.bea.alsb.core.natures.AlsbNature"/>
        </runtime>
    </extension>
    
    <!--
                ALSB Container Nature
    -->
    <extension point="org.eclipse.core.resources.natures"
               id="natures.alsb.container"
               name="ALSB Container Nature">
        <runtime>
            <run class="com.bea.alsb.core.natures.AlsbContainerNature"/>
        </runtime>
    </extension>

    <!--
                ALSB Project Nature
    -->
    <extension point="org.eclipse.core.resources.natures"
               id="natures.alsb.project"
               name="ALSB Project Nature">
        <runtime>
            <run class="com.bea.alsb.core.natures.AlsbProjectNature"/>
        </runtime>
    </extension>

    <extension point="org.eclipse.core.resources.markers"
               id="markers.conflict"
               name="ALSB Conflict">
        <super type="org.eclipse.core.resources.textmarker"/>
        <super type="org.eclipse.core.resources.problemmarker"/>
        <persistent value="true"/>
    </extension>

    <extension point="org.eclipse.core.resources.markers"
               id="markers.synchronizer"
               name="ALSB Synchronization Error">
        <super type="org.eclipse.core.resources.textmarker"/>
        <super type="org.eclipse.core.resources.problemmarker"/>
        <persistent value="true"/>
    </extension>


    <!--
                Content-Types for ALSB resources
    -->
    <extension point="org.eclipse.core.contenttype.contentTypes">

        <!-- base -->
        <content-type id="com.bea.alsb.core.resources.content-type"
                      describer="com.bea.alsb.core.internal.resources.ResourceContentDescriber"
                      name="%ResourceContentType_name"
                      priority="normal"/>

        <!-- ALSB resources -->
        <content-type id="com.bea.alsb.core.resources.biz.content-type"
                      name="%BizResourceContentType_name"
                      base-type="com.bea.alsb.core.resources.content-type"
                      file-extensions="biz"
                      priority="high"/>
        <content-type id="com.bea.alsb.core.resources.proxy.content-type"
                      name="%ProxyResourceContentType_name"
                      base-type="com.bea.alsb.core.resources.content-type"
                      file-extensions="proxy"
                      priority="high"/>
        <content-type id="com.bea.alsb.core.resources.jndi.content-type"
                      name="%JndiResourceContentType_name"
                      base-type="com.bea.alsb.core.resources.content-type"
                      file-extensions="jndi"
                      priority="high"/>
        <content-type id="com.bea.alsb.core.resources.smtp.content-type"
                      name="%SmtpResourceContentType_name"
                      base-type="com.bea.alsb.core.resources.content-type"
                      file-extensions="smtp"
                      priority="high"/>
        <content-type id="com.bea.alsb.core.resources.uddi.content-type"
                      name="%UddiResourceContentType_name"
                      base-type="com.bea.alsb.core.resources.content-type"
                      file-extensions="uddi"
                      priority="high"/>
        <content-type id="com.bea.alsb.core.resources.sa.content-type"
                      name="%ServiceAccountResourceContentType_name"
                      base-type="com.bea.alsb.core.resources.content-type"
                      file-extensions="sa"
                      priority="high"/>
        <content-type id="com.bea.alsb.core.resources.skp.content-type"
                      name="%ServiceKeyProviderResourceContentType_name"
                      base-type="com.bea.alsb.core.resources.content-type"
                      file-extensions="skp"
                      priority="high"/>
        <content-type id="com.bea.alsb.core.resources.alert.content-type"
                      name="%AlertResourceContentType_name"
                      base-type="com.bea.alsb.core.resources.content-type"
                      file-extensions="alert"
                      priority="high"/>
        <content-type id="com.bea.alsb.core.resources.jar.content-type"
                      name="%JarResourceContentType_name"
                      base-type="com.bea.alsb.core.resources.content-type"
                      file-extensions="jar"
                      priority="high"/>
        <content-type id="com.bea.alsb.core.resources.ps.content-type"
                      name="%ProxyServerResourceContentType_name"
                      base-type="com.bea.alsb.core.resources.content-type"
                      file-extensions="ps"
                      priority="high"/>

        <!-- standard resources -->
        <content-type id="com.bea.alsb.core.resources.jca.content-type"
                      name="%JcaResourceContentType_name"
                      base-type="org.eclipse.core.runtime.xml"
                      file-extensions="jca"
                      priority="high"/>

        <!-- custom resources -->
        <content-type id="com.bea.alsb.core.resources.custom.content-type"
                      name="%CustomResourceContentType_name"
                      base-type="com.bea.alsb.core.resources.content-type"
                      priority="normal"/>

    </extension>
    
    <!--
		Project upgrade
    -->
	<extension point="oracle.eclipse.tools.common.upgrade.projectUpgradeParticipants">
		<participant class="com.bea.alsb.core.internal.projects.upgrade.ALSBUpgradeParticipant"/>
	</extension>
	
	<!--
	   Optional Refactor handler for ALSB containers and projects.  In effect this 
	   extension will 'disconnect' ALSB containers and projects from J2EE refactoring.
	   Applies to deletes and renames.
	-->
    <extension point="org.eclipse.jst.j2ee.optionalRefactorHandler">
    	<optionalRefactorHandler class="com.bea.alsb.core.internal.projects.AlsbProjectOptionalRefactorHandler"/>
    </extension>

    <!--
		Support for command line (headless mode) config jar export
    -->
   <extension
         id="ConfigExport"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
			class="com.bea.alsb.core.internal.repositories.ConfigExportApplication">
         </run>
      </application>
   </extension>
</plugin>
