<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!--
		The menu item adds the submit action for harvester on OSB Projects.
	-->
	<extension point="org.eclipse.ui.popupMenus">

		<objectContribution id="com.bea.alsb.harvester.connector.ui.submit"
			                objectClass="org.eclipse.core.resources.IProject">

			<action id="com.bea.alsb.harvester.connector.ui.submitAction"
				    class="com.bea.alsb.harvester.connector.ui.HarvesterSubmitAction"
				    enablesFor="1"
				    label="%submit.action.label"
				    menubarPath="group.generate">
			</action>
			<visibility>
                <objectState name="projectNature" value="com.bea.alsb.core.natures.alsb"/>
			</visibility>

		</objectContribution>

	</extension>

</plugin>
