<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <!-- action for cloning -->
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution id="com.bea.alsb.ui.popup.popupMenu"
                            objectClass="org.eclipse.core.resources.IContainer">
	        <filter name="projectNature" value="com.bea.alsb.core.natures.alsb.project"/>
            <action id="com.bea.alsb.ui.clone"
                    class="com.bea.alsb.ui.resources.common.actions.CloneAction"
                    enablesFor="1"
                    label="%CloneAction_name"
                    menubarPath="com.bea.alsb.ui.common.popup/ALSBpopupGroup"/>
        </objectContribution>
    </extension>
    
    <!--
                Views
    -->
    <extension point="org.eclipse.ui.views">
       <category
             id="com.bea.alsb.ui"
             name="%ALSBCategory_name"/>
       <view
             category="com.bea.alsb.ui"
             class="com.bea.alsb.ui.resources.common.reference.ReferenceView"
             icon="icons/reference/references.gif"
             id="com.bea.alsb.ui.views.ReferenceView"
             name="%ReferenceView_name"/>
    </extension>
</plugin>
