#if($bean.facesServlet)
 <${bean.prefix}servlet>
    <${bean.prefix}servlet-name>Faces Servlet</${bean.prefix}servlet-name>
    <${bean.prefix}servlet-class>javax.faces.webapp.FacesServlet</${bean.prefix}servlet-class>
    <${bean.prefix}load-on-startup>1</${bean.prefix}load-on-startup>
  </${bean.prefix}servlet>
#end
#if($bean.facesServletMapping)
  <${bean.prefix}servlet-mapping>
    <${bean.prefix}servlet-name>$bean.servletName</${bean.prefix}servlet-name>
    <${bean.prefix}url-pattern>/faces/*</${bean.prefix}url-pattern>
  </${bean.prefix}servlet-mapping>
#end
#if($bean.trinidadFilter)
  <${bean.prefix}filter>
    <${bean.prefix}filter-name>trinidad</${bean.prefix}filter-name>
    <${bean.prefix}filter-class>org.apache.myfaces.trinidad.webapp.TrinidadFilter</${bean.prefix}filter-class>
  </${bean.prefix}filter>
#end
#if($bean.trinidadFilterMapping)
  <${bean.prefix}filter-mapping>
    <${bean.prefix}filter-name>$bean.filterName</${bean.prefix}filter-name>
    <${bean.prefix}servlet-name>$bean.servletName</${bean.prefix}servlet-name>
    <${bean.prefix}dispatcher>FORWARD</${bean.prefix}dispatcher>
    <${bean.prefix}dispatcher>REQUEST</${bean.prefix}dispatcher>
  </${bean.prefix}filter-mapping>
#end
#if($bean.servletADFFilter) 
   <${bean.prefix}filter>
    <${bean.prefix}filter-name>ServletADFFilter</${bean.prefix}filter-name>
    <${bean.prefix}filter-class>oracle.adf.share.http.ServletADFFilter</${bean.prefix}filter-class>
  </${bean.prefix}filter>
#end
#if($bean.servletADFFilterMapping) 
  <${bean.prefix}filter-mapping>
    <${bean.prefix}filter-name>$bean.filterName</${bean.prefix}filter-name>
    <${bean.prefix}servlet-name>$bean.servletName</${bean.prefix}servlet-name>
    <${bean.prefix}dispatcher>FORWARD</${bean.prefix}dispatcher>
    <${bean.prefix}dispatcher>REQUEST</${bean.prefix}dispatcher>
  </${bean.prefix}filter-mapping> 
#end
#if($bean.resourcesServlet)
  <${bean.prefix}servlet>
    <${bean.prefix}servlet-name>resources</${bean.prefix}servlet-name>
    <${bean.prefix}servlet-class>org.apache.myfaces.trinidad.webapp.ResourceServlet</${bean.prefix}servlet-class>
  </${bean.prefix}servlet>
#end
#if($bean.resourcesAdfServletMapping)
  <${bean.prefix}servlet-mapping>
    <${bean.prefix}servlet-name>$bean.servletName</${bean.prefix}servlet-name>
    <${bean.prefix}url-pattern>/adf/*</${bean.prefix}url-pattern>
  </${bean.prefix}servlet-mapping>
#end
#if($bean.resourcesAfrServletMapping)
  <${bean.prefix}servlet-mapping>
    <${bean.prefix}servlet-name>$bean.servletName</${bean.prefix}servlet-name>
    <${bean.prefix}url-pattern>/afr/*</${bean.prefix}url-pattern>
  </${bean.prefix}servlet-mapping>
#end
#if($bean.resourcesBiServletMapping)
  <${bean.prefix}servlet-mapping>
    <${bean.prefix}servlet-name>$bean.servletName</${bean.prefix}servlet-name>
    <${bean.prefix}url-pattern>/bi/*</${bean.prefix}url-pattern>
  </${bean.prefix}servlet-mapping> 
#end
#if($bean.biGraphServlet)  
  <${bean.prefix}servlet>
    <${bean.prefix}servlet-name>BIGRAPHSERVLET</${bean.prefix}servlet-name>
    <${bean.prefix}servlet-class>oracle.adfinternal.view.faces.bi.renderkit.graph.GraphServlet</${bean.prefix}servlet-class>
  </${bean.prefix}servlet>
#end
#if($bean.biGraphServletMapping)
  <${bean.prefix}servlet-mapping>
    <${bean.prefix}servlet-name>$bean.servletName</${bean.prefix}servlet-name>
    <${bean.prefix}url-pattern>/servlet/GraphServlet/*</${bean.prefix}url-pattern>
  </${bean.prefix}servlet-mapping> 
#end
#if($bean.biGaugeServlet)  
  <${bean.prefix}servlet>
    <${bean.prefix}servlet-name>BIGAUGESERVLET</${bean.prefix}servlet-name>
    <${bean.prefix}servlet-class>oracle.adfinternal.view.faces.bi.renderkit.gauge.GaugeServlet</${bean.prefix}servlet-class>
  </${bean.prefix}servlet>
#end
#if($bean.biGaugeServletMapping)
  <${bean.prefix}servlet-mapping>
    <${bean.prefix}servlet-name>$bean.servletName</${bean.prefix}servlet-name>
    <${bean.prefix}url-pattern>/servlet/GaugeServlet/*</${bean.prefix}url-pattern>
  </${bean.prefix}servlet-mapping>
#end
#if($bean.mapProxyServlet)
  <${bean.prefix}servlet>
    <${bean.prefix}servlet-name>MapProxyServlet</${bean.prefix}servlet-name>
    <${bean.prefix}servlet-class>oracle.adfinternal.view.faces.bi.renderkit.geoMap.servlet.MapProxyServlet</${bean.prefix}servlet-class>
  </${bean.prefix}servlet>
#end
#if($bean.mapProxyServletMapping)
  <${bean.prefix}servlet-mapping>
    <${bean.prefix}servlet-name>$bean.servletName</${bean.prefix}servlet-name>
    <${bean.prefix}url-pattern>/mapproxy/*</${bean.prefix}url-pattern>
  </${bean.prefix}servlet-mapping> 
#end
#if($bean.gatewayServlet)
  <${bean.prefix}servlet>
    <${bean.prefix}servlet-name>GatewayServlet</${bean.prefix}servlet-name>
    <${bean.prefix}servlet-class>oracle.adfinternal.view.faces.bi.renderkit.graph.FlashBridgeServlet</${bean.prefix}servlet-class>
  </${bean.prefix}servlet>
#end
#if($bean.gatewayServletMapping)
  <${bean.prefix}servlet-mapping>
    <${bean.prefix}servlet-name>$bean.servletName</${bean.prefix}servlet-name>
    <${bean.prefix}url-pattern>/flashbridge/*</${bean.prefix}url-pattern>
  </${bean.prefix}servlet-mapping> 
#end
#if($bean.stateSavingMethodContext)
  <${bean.prefix}context-param>
    <${bean.prefix}param-name>javax.faces.STATE_SAVING_METHOD</${bean.prefix}param-name> 
    <${bean.prefix}param-value>client</${bean.prefix}param-value> 
  </${bean.prefix}context-param>
#end

#if($bean.trinidadCheckFileModificationContext)
  <${bean.prefix}context-param>
    <${bean.prefix}description>If this parameter is true, there will be an automatic check of the modification date of your JSPs, and saved state will be discarded when JSP's change. It will also automatically check if your skinning css files have changed without you having to restart the server. This makes development easier, but adds overhead. For this reason this parameter should be set to false when your application is deployed.</${bean.prefix}description> 
    <${bean.prefix}param-name>org.apache.myfaces.trinidad.CHECK_FILE_MODIFICATION</${bean.prefix}param-name>
    <${bean.prefix}param-value>false</${bean.prefix}param-value>
  </${bean.prefix}context-param> 
#end
#if($bean.versionStringHiddenContext)  
  <${bean.prefix}context-param>
    <${bean.prefix}description>Whether the 'Generated by...' comment at the bottom of ADF Faces HTML pages should contain version number information.</${bean.prefix}description>
    <${bean.prefix}param-name>oracle.adf.view.rich.versionString.HIDDEN</${bean.prefix}param-name>
    <${bean.prefix}param-value>false</${bean.prefix}param-value>
  </${bean.prefix}context-param> 
#end
#if($bean.localizationContext)
  <${bean.prefix}context-param>
    <${bean.prefix}param-name>javax.servlet.jsp.jstl.fmt.localizationContext</${bean.prefix}param-name> 
    <${bean.prefix}param-value>resources.application</${bean.prefix}param-value> 
  </${bean.prefix}context-param>
#end
#if($bean.adfLibraryFilter)  
  <${bean.prefix}filter>
    <${bean.prefix}filter-name>ADFLibraryFilter</${bean.prefix}filter-name>
    <${bean.prefix}filter-class>oracle.adf.library.webapp.LibraryFilter</${bean.prefix}filter-class>
    <${bean.prefix}init-param>
      <${bean.prefix}param-name>provider-lazy-inited</${bean.prefix}param-name>
      <${bean.prefix}param-value>true</${bean.prefix}param-value>
    </${bean.prefix}init-param>
  </${bean.prefix}filter> 
#end
#if($bean.adfLibraryFilterMapping)
  <${bean.prefix}filter-mapping>
    <${bean.prefix}filter-name>ADFLibraryFilter</${bean.prefix}filter-name>
    <${bean.prefix}url-pattern>/*</${bean.prefix}url-pattern>
    <${bean.prefix}dispatcher>FORWARD</${bean.prefix}dispatcher>
    <${bean.prefix}dispatcher>REQUEST</${bean.prefix}dispatcher>
  </${bean.prefix}filter-mapping> 
#end
#if($bean.jpsFilter)
  <${bean.prefix}filter>
    <${bean.prefix}filter-name>JpsFilter</${bean.prefix}filter-name> 
    <${bean.prefix}filter-class>oracle.security.jps.ee.http.JpsFilter</${bean.prefix}filter-class> 
    <${bean.prefix}init-param>
      <${bean.prefix}param-name>enable.anonymous</${bean.prefix}param-name> 
      <${bean.prefix}param-value>true</${bean.prefix}param-value> 
    </${bean.prefix}init-param>
  </${bean.prefix}filter>
#end
#if($bean.jpsFilterMapping)
  <${bean.prefix}filter-mapping>
    <${bean.prefix}filter-name>JpsFilter</${bean.prefix}filter-name> 
    <${bean.prefix}url-pattern>/*</${bean.prefix}url-pattern> 
    <${bean.prefix}dispatcher>FORWARD</${bean.prefix}dispatcher> 
    <${bean.prefix}dispatcher>REQUEST</${bean.prefix}dispatcher> 
    <${bean.prefix}dispatcher>INCLUDE</${bean.prefix}dispatcher> 
  </${bean.prefix}filter-mapping>
#end
#if($bean.ojspServlet)
  <${bean.prefix}servlet>
    <${bean.prefix}servlet-name>ojsp</${bean.prefix}servlet-name>
    <${bean.prefix}servlet-class>oracle.jsp.runtimev2.JspServlet</${bean.prefix}servlet-class>
    <${bean.prefix}init-param>
      <${bean.prefix}param-name>generic_servlet_mode</${bean.prefix}param-name>
      <${bean.prefix}param-value>single</${bean.prefix}param-value>
    </${bean.prefix}init-param>
    <${bean.prefix}init-param>
      <${bean.prefix}param-name>page_provider</${bean.prefix}param-name>
      <${bean.prefix}param-value>oracle.adf.library.webapp.ADFJspResourceProvider</${bean.prefix}param-value>
    </${bean.prefix}init-param>
    <${bean.prefix}init-param>
      <${bean.prefix}param-name>jsp_timeout</${bean.prefix}param-name>
      <${bean.prefix}param-value>600</${bean.prefix}param-value>
    </${bean.prefix}init-param>
    <${bean.prefix}init-param>
      <${bean.prefix}param-name>debug_mode</${bean.prefix}param-name>
      <${bean.prefix}param-value>false</${bean.prefix}param-value>
    </${bean.prefix}init-param>
    <${bean.prefix}load-on-startup>1</${bean.prefix}load-on-startup>
  </${bean.prefix}servlet>   
#end
#if($bean.ojspJsffServletMapping)
  <${bean.prefix}servlet-mapping>
    <${bean.prefix}servlet-name>$bean.servletName</${bean.prefix}servlet-name>
    <${bean.prefix}url-pattern>*.jsff</${bean.prefix}url-pattern>
  </${bean.prefix}servlet-mapping>
#end
#if($bean.ojspJspxServletMapping)
  <${bean.prefix}servlet-mapping>
    <${bean.prefix}servlet-name>$bean.servletName</${bean.prefix}servlet-name>
    <${bean.prefix}url-pattern>*.jspx</${bean.prefix}url-pattern>
  </${bean.prefix}servlet-mapping> 
#end
#if($bean.adflibResourcesServlet)  
  <${bean.prefix}servlet>
    <${bean.prefix}servlet-name>adflibResources</${bean.prefix}servlet-name>
    <${bean.prefix}servlet-class>oracle.adf.library.webapp.ResourceServlet</${bean.prefix}servlet-class>
  </${bean.prefix}servlet> 
#end
#if($bean.adflibResourcesServletMapping)
  <${bean.prefix}servlet-mapping>
    <${bean.prefix}servlet-name>adflibResources</${bean.prefix}servlet-name>
    <${bean.prefix}url-pattern>/adflib/*</${bean.prefix}url-pattern>
  </${bean.prefix}servlet-mapping>
#end  
#if($bean.adfConfigLifeCycleCallBackListener)
  <${bean.prefix}listener>
    <${bean.prefix}listener-class>oracle.adf.mbean.share.config.ADFConfigLifeCycleCallBack</${bean.prefix}listener-class>
  </${bean.prefix}listener>
#end
#if($bean.lifecycleServletContextListener)
  <${bean.prefix}listener>
    <${bean.prefix}listener-class>oracle.webcenter.lifecycle.listener.LifecycleServletContextListener</${bean.prefix}listener-class>
  </${bean.prefix}listener>
#end
#if($bean.wCFrameworkContextListener)
  <${bean.prefix}listener>
    <${bean.prefix}listener-class>oracle.webcenter.framework.internal.view.WCFrameworkContextListener</${bean.prefix}listener-class>
  </${bean.prefix}listener>
#end
#if($bean.webCenterExecutorContextListener)
  <${bean.prefix}listener>
    <${bean.prefix}listener-class>oracle.webcenter.concurrent.WebCenterExecutorContextListener</${bean.prefix}listener-class>
  </${bean.prefix}listener>
#end
#if($bean.adfConnectionLifeCycleCallBackListener)
  <${bean.prefix}listener>
    <${bean.prefix}listener-class>oracle.adf.mbean.share.connection.ADFConnectionLifeCycleCallBack</${bean.prefix}listener-class>
  </${bean.prefix}listener>
#end