#if($bean.aDFDomainLibraryRef)
  <${bean.prefix}library-ref>
    <${bean.prefix}library-name>adf.oracle.domain</${bean.prefix}library-name>
  </${bean.prefix}library-ref>
#end
#if($bean.jspNextLibraryRef)
<${bean.prefix}library-ref>
    <${bean.prefix}library-name>oracle.jsp.next</${bean.prefix}library-name>
</${bean.prefix}library-ref>
#end
#if($bean.xmlParserFactory)
    <${bean.prefix}xml>
        <${bean.prefix}parser-factory>
        </${bean.prefix}parser-factory>
    </${bean.prefix}xml>
#end
#if($bean.saxParserFactory)
<${bean.prefix}saxparser-factory>oracle.xml.jaxp.JXSAXParserFactory</${bean.prefix}saxparser-factory>
#end
#if($bean.documentBuilderFactory)
<${bean.prefix}document-builder-factory>oracle.xml.jaxp.JXDocumentBuilderFactory</${bean.prefix}document-builder-factory>
#end
#if($bean.transformerFactory)
<${bean.prefix}transformer-factory>oracle.xml.jaxp.JXSAXTransformerFactory</${bean.prefix}transformer-factory>
#end
#if($bean.jXSAXParserFactory)
    <${bean.prefix}xml>
        <${bean.prefix}parser-factory>
            <${bean.prefix}saxparser-factory>oracle.xml.jaxp.JXSAXParserFactory</${bean.prefix}saxparser-factory>
            <${bean.prefix}document-builder-factory>oracle.xml.jaxp.JXDocumentBuilderFactory</${bean.prefix}document-builder-factory>
            <${bean.prefix}transformer-factory>oracle.xml.jaxp.JXSAXTransformerFactory</${bean.prefix}transformer-factory>
        </${bean.prefix}parser-factory>
    </${bean.prefix}xml>
#end
#if($bean.aDFApplicationLifecycleListener)
  <${bean.prefix}listener>
    <${bean.prefix}listener-class>oracle.adf.share.weblogic.listeners.ADFApplicationLifecycleListener</${bean.prefix}listener-class>
  </${bean.prefix}listener>
#end
#if($bean.wLLifecycleListener)
  <${bean.prefix}listener>
    <${bean.prefix}listener-class>oracle.mds.lcm.weblogic.WLLifecycleListener</${bean.prefix}listener-class>
  </${bean.prefix}listener>
#end
