#if($bean.adfDomainWebappLibraryRef)
<${bean.prefix}library-ref>
  <${bean.prefix}library-name>adf.oracle.domain.webapp</${bean.prefix}library-name>
  <${bean.prefix}specification-version>1.0</${bean.prefix}specification-version>
  <${bean.prefix}exact-match>false</${bean.prefix}exact-match>
</${bean.prefix}library-ref>
#end
