<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>
<contexts>

	<context id="tpEJBTransportBizService" 
		title="EJB Transport Configuration page (Business Service)">
	    <description>Use this page to configure the EJB transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpEJBTransportBizService.htm" 
		label="EJB Transport Configuration page (Business Service)"/>
	</context>
				
	<context id="tpEJBTransportBizWizard" 
		title="EJB Transport Configuration page (Business Service)">
	    <description>Use this page to configure the EJB transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpEJBTransportBizService.htm" 
		label="EJB Transport Configuration page (Business Service)"/>
	</context>
				
</contexts>

