<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


	<!--
				Server Actions
	-->	
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution id="com.bea.alsb.ui.actions.server"
        					objectClass="org.eclipse.wst.server.core.IServer">
            <action id="com.bea.alsb.ui.actions.server.console"
                	class="com.bea.alsb.server.ui.OpenAdminConsoleAction"
                	enablesFor="1"                
                	label="%ALSB_Admin_Console_Menu"
                	menubarPath="additions">
            </action>
        </objectContribution>
    </extension>
    
	<!--
		Add a component handler to the Weblogic Tools Server Dialog/Wizard
	-->	
	<extension point="oracle.eclipse.tools.weblogic.ui.componentHandlers">
		<component-handler class="com.bea.alsb.server.ui.WebLogicServerServiceBusComponentHandler"/>
	</extension>
  
    <!--
      This plugin is an early startup plugin in order to correctly enable/disable
      the 'Open Admin Console' menu action.  Eclipse creates a proxy for the 
      object contribution which in effect causes this plugin not to be loaded 
      when a user right-clicks in the server's view.  By making this an early
      startup plugin the proxy will forward any requests to the OpenAdminConsoleAction
      so that it may correctly set its enabled/disabled status.
      
      NOTE: This is the old form of the early startup extension point (no startup
      class specified), the new form doesn't work correctly for this case.
    -->
    <extension point="org.eclipse.ui.startup">
    	<startup/>
    </extension>

</plugin>
