<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="valueProvider" name="ValueProvider" schema="schema/valueProvider.exsd"/>
   <extension-point id="valueFactory" name="ValueFactory" schema="schema/valueFactory.exsd"/>


    <!--
        Launchables
    -->
    <extension point="org.eclipse.wst.server.core.launchableAdapters">
        <launchableAdapter id="com.bea.alsb.debug.core.launchableAdapter"
                           class="com.bea.alsb.debug.core.internal.launch.ALSBLaunchableAdapterDelegate"/>
    </extension>
    
	<!--
		Breakpoint marker declaration.
	-->    
	<extension
    	id="alsbBreakpointMarker"
        point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.debug.core.breakpointMarker"/>
       <persistent value="true"/>
    </extension>
    
    
    <!-- 
   	    ALSB Debugger Launch Configuration type.
   	    This launch configuration type is used by the WLS launch configuration type,
   	    it is not meant to be instantiated by an end-user from the Eclipse UI.
    -->
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
       <launchConfigurationType id="com.bea.alsb.debug.core.launchConfigurationType1"
                                delegate="com.bea.alsb.debug.core.internal.launch.AlsbDeuggerWLSLaunchConfigurationDelegate"
                                modes="debug" 
                                public="false"
                                name="%alsb.launch.config.name">
       </launchConfigurationType>
    </extension>
    
    <!-- 
   	    ALSB Debugger Launch Configuration type.
   	    This launch configuration delegate is launched from a user-defined ALSB debugger launch configuation.
    -->
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
       <launchConfigurationType id="com.bea.alsb.debug.core.launchConfigurationType.standalone"
                                delegate="com.bea.alsb.debug.core.internal.launch.AlsbDebuggerLaunchConfigurationDelegate"
      							sourcePathComputerId="com.bea.alsb.debug.core.alsbSourcePathComputer"
                                sourceLocatorId="com.bea.alsb.debug.core.alsbSourceLocator"
                                modes="debug" 
                                public="true"
                                delegateName="%alsb.launch.config.delegate.name"
                                delegateDescription="%alsb.launch.config.delegate.desc"
                                name="%alsb.launch.config.name2">
       </launchConfigurationType>
    </extension>
    
    <!-- 
    	Source lookup director for the ALSB debugger.
    -->
   	<extension point="org.eclipse.debug.core.sourceLocators">
      	<sourceLocator id="com.bea.alsb.debug.core.alsbSourceLocator"
      				   name="%alsb.source.lookup.director.name"
            		   class="com.bea.alsb.debug.core.internal.source.lookup.AlsbSourceLookupDirector">
      	</sourceLocator>
   	</extension>
   	
    <!--
   	    Source path computer for the ALSB debugger.
   	-->
    <extension point="org.eclipse.debug.core.sourcePathComputers">
       	<sourcePathComputer id="com.bea.alsb.debug.core.alsbSourcePathComputer"
                            class="com.bea.alsb.debug.core.internal.source.lookup.AlsbSourcePathComputerDelegate">
       	</sourcePathComputer>
    </extension>


    <!--
        XML Value Support
    -->
    <extension point="com.bea.alsb.debug.core.valueProvider">
        <valueProvider class="com.bea.alsb.debug.xml.XmlValueProvider"/>
    </extension>

    <extension point="com.bea.alsb.debug.core.valueFactory">
        <valueFactory modelID="com.bea.alsb.debug.xml"
        		      class="com.bea.alsb.debug.core.internal.xml.XmlValueFactory" />
    </extension>

</plugin>
