<?xml version='1.0' encoding='UTF-8'?>
<?eclipse version='3.0'?>
<plugin>
    <extension
        id="flow"
        name="FLOW Transport"
        point="com.bea.alsb.core.transports">
        <transport transport-provider="com.bea.alsb.flow.transport.FlowTransportProviderFactory"/>
    </extension>
</plugin>
