<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension point="org.eclipse.ui.editors">
       <editor
               class="com.bea.alsb.process.flow.ui.editor.FlowMultipageEditor"
               contributorClass="com.bea.alsb.process.bpel.ui.editor.SOEditorActionContributor"
               default="true"
               icon="resources/images/util/process_16x16.gif"
               id="com.bea.alsb.process.flow.ui.editor.FlowMultipageEditor"
               name="%FlowServiceEditor_name">
           <contentTypeBinding contentTypeId="com.bea.alsb.core.resources.flow.content-type"/>
       </editor>
   </extension>
	<extension point="org.eclipse.ui.newWizards">
      <wizard
            name="%wizardName"
            icon="resources/images/util/process_plus_16x16.gif"
            category="com.bea.alsb.new"
            class="com.bea.alsb.process.flow.ui.wizards.NewFlowWizard"
            id="com.bea.alsb.process.flow.ui.wizards.NewFlowWizard"
            finalPerspective="com.bea.alsb.ui.perspectives.aqualogic"
            preferredPerspectives="com.bea.alsb.ui.perspectives.aqualogic"
            project="false">
      </wizard>
   </extension>
    <extension point="org.eclipse.ui.navigator.navigatorContent">
        <commonWizard type="new"
                      menuGroupId="com.bea.alsb.new"
                      wizardId="com.bea.alsb.process.flow.ui.wizards.NewFlowWizard">
            <enablement>
                <or>
                    <adapt type="org.eclipse.core.resources.IResource">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb.project"/>
				    </adapt>
                </or>
            </enablement>
        </commonWizard>
    </extension>
   <extension
         point="com.bea.workshop.common.ui.palette.DesignPaletteContributors">
      <contributor
            class="com.bea.alsb.process.flow.ui.gef.FlowGraphModelEditorPaletteContributor"
            id="com.bea.alsb.process.flow.ui.gef.FlowGraphModelEditorPaletteContributor"
            editorPartClassName="com.bea.alsb.process.flow.ui.gef.FlowGraphModelEditor"
            paletteViewID="com.bea.workshop.common.ui.CorePaletteView"/>
   </extension>
    <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.bea.alsb.process.flow.ui.editor.FlowMultipageEditor"
            labelProvider="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivitySectionLabelProvider"
            typeMapper="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityTypeMapper">
         <propertyCategory category="activity"/>
         <propertyCategory category="common"/>
      </propertyContributor>
    </extension>
    <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="com.bea.alsb.process.flow.ui.editor.FlowMultipageEditor">
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.flow.ui.ReceiveOperation"
               label="Operation"/>
         <propertyTab
               afterTab="com.bea.alsb.process.flow.ui.ReceiveOperation"
               category="activity"
               id="com.bea.alsb.process.flow.ui.ReceiveVariable"
               label="Variable"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.flow.ui.ReplyOperation"
               label="Operation"/>
         <propertyTab
               afterTab="com.bea.alsb.process.flow.ui.ReplyOperation"
               category="activity"
               id="com.bea.alsb.process.flow.ui.ReplyVariable"
               label="Variable"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.flow.ui.InvokeOperation"
               label="Operation"/>
         <propertyTab
               afterTab="com.bea.alsb.process.flow.ui.InvokeOperation"
               category="activity"
               id="com.bea.alsb.process.flow.ui.InputVariable"
               label="Input Variable"/>
         <propertyTab
               afterTab="com.bea.alsb.process.flow.ui.InputVariable"
               category="activity"
               id="com.bea.alsb.process.flow.ui.OutputVariable"
               label="Output Variable"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.partnerlink"
               label="External Service"/>
             <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.CounterVariables"
               label="Counter Variables"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.IfCondition"
               label="Condition"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.Assign"
               label="Assign"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.Throw"
               label="Raise Error"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.Variable"
               label="Variable"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.catchall"
               label="CatchAll"/>
         <propertyTab
               category="common"
               id="com.bea.alsb.process.bpel.ui.General"
               label="General"/>
         <propertyTab
               category="common"
               id="com.bea.alsb.process.bpel.ui.BranchGeneral"
               label="General"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.imports"
               label="Imports"/>
         <propertyTab
         		category="activity"
         		id="com.bea.alsb.process.bpel.ui.assign.Copy"
         		label="Copy"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.assign.Assign"
               label="Assign"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.assign.Insert"
               label="Insert"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.assign.Delete"
               label="Delete"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.assign.Replace"
               label="Replace"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.assign.Log"
               label="Log"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.assign.JavaCallout"
               label="Java Callout"/>
         <propertyTab
               afterTab="com.bea.alsb.process.bpel.ui.CounterVariables"
               category="activity"
               id="com.bea.alsb.process.bpel.ui.CompletionCondition"
               label="Completion Condition"/>
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.catch"
               label="Catch">
         </propertyTab>\
         <propertyTab
               category="activity"
               id="com.bea.alsb.process.bpel.ui.wait"
               label="Wait">
         </propertyTab>
       </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="com.bea.alsb.process.flow.ui.editor.FlowMultipageEditor">
         <propertySection
               class="com.bea.alsb.process.flow.ui.tabbedpropertyui.sections.ReceiveOperationSection"
               id="activity.section.ReceiveOperation"
               tab="com.bea.alsb.process.flow.ui.ReceiveOperation">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ReceiveGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.flow.ui.tabbedpropertyui.sections.InputVariableSection"
               id="activity.section.ReceiveVariable"
               tab="com.bea.alsb.process.flow.ui.ReceiveVariable">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ReceiveGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ReceiveGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.flow.ui.tabbedpropertyui.sections.ReplyOperationSection"
               id="activity.section.ReplyOperation"
               tab="com.bea.alsb.process.flow.ui.ReplyOperation">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ReplyGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.flow.ui.tabbedpropertyui.sections.OutputVariableSection"
               id="activity.section.ReplyVariable"
               tab="com.bea.alsb.process.flow.ui.ReplyVariable">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ReplyGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ReplyGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.flow.ui.tabbedpropertyui.sections.InvokeOperationSection"
               id="activity.section.InvokeOperation"
               tab="com.bea.alsb.process.flow.ui.InvokeOperation">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.InvokeGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.flow.ui.tabbedpropertyui.sections.InputVariableSection"
               id="activity.section.InputVariable"
               tab="com.bea.alsb.process.flow.ui.InputVariable">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.InvokeGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.flow.ui.tabbedpropertyui.sections.OutputVariableSection"
               id="activity.section.OutputVariable"
               tab="com.bea.alsb.process.flow.ui.OutputVariable">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.InvokeGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.InvokeGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.flow.ui.tabbedpropertyui.sections.PartnerLinkSection"
               id="activity.section.partnerlink"
               tab="com.bea.alsb.process.bpel.ui.partnerlink">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.PartnerLinkGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ForeachCounterSection"
               id="activity.section.CounterVariables"
               tab="com.bea.alsb.process.bpel.ui.CounterVariables">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ForeachGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.IfGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ConditionSection"
               id="activity.section.IfCondition"
               tab="com.bea.alsb.process.bpel.ui.IfCondition">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.IfBranchGraphNode"/>
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ElseIfBranchGraphNode"/>
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.RepeatUntilGraphNode"/>
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.WhileGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.AssignSection"
               id="activity.section.Assign"
               tab="com.bea.alsb.process.bpel.ui.Assign">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.AssignGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.AssignGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ThrowGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.VariableSection"
               id="activity.section.Variable"
               tab="com.bea.alsb.process.bpel.ui.Variable">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.VariableGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.CatchAllSection"
               id="activity.section.Catchall"
               tab="com.bea.alsb.process.bpel.ui.catchall">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.CatchAllBranchGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ForeachGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.FlowGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ScopeGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.RethrowGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.StartGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.BranchIndicatorGeneralSection"
               id="activity.section.BranchGeneral"
               tab="com.bea.alsb.process.bpel.ui.BranchGeneral">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.IfBranchGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ElseIfBranchGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ElseBranchGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.flow.ui.tabbedpropertyui.sections.ImportsSection"
               id="activity.section.imports"
               tab="com.bea.alsb.process.bpel.ui.imports">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.StartGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.assign.CopySection"
               id="assignoperation.section.copy"
               tab="com.bea.alsb.process.bpel.ui.assign.Copy">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.CopyGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.CopyGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.assign.AssignActionSection"
               id="assignoperation.section.assign"
               tab="com.bea.alsb.process.bpel.ui.assign.Assign">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.AssignActionGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.AssignActionGraphNode"/>
         </propertySection>
         //
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.assign.InsertActionSection"
               id="assignoperation.section.insert"
               tab="com.bea.alsb.process.bpel.ui.assign.Insert">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.InsertActionGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.InsertActionGraphNode"/>
         </propertySection>
         //
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.assign.DeleteActionSection"
               id="assignoperation.section.delete"
               tab="com.bea.alsb.process.bpel.ui.assign.Delete">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.DeleteActionGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.DeleteActionGraphNode"/>
         </propertySection>
         //
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.assign.ReplaceActionSection"
               id="assignoperation.section.replace"
               tab="com.bea.alsb.process.bpel.ui.assign.Replace">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ReplaceActionGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ReplaceActionGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.assign.LogActionSection"
               id="assignoperation.section.log"
               tab="com.bea.alsb.process.bpel.ui.assign.Log">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.LogActionGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.LogActionGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.assign.ext.JavaCalloutSection"
               id="assignoperation.section.JavaCallout"
               tab="com.bea.alsb.process.bpel.ui.assign.JavaCallout">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.JavaCalloutActionGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.JavaCalloutActionGraphNode"/>
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.RepeatUntilGraphNode"/>
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.WhileGraphNode"/>
            <input
                  type="com.bea.alsb.process.bpel.core.internal.graph.nodes.CatchBranchGraphNode">
            </input>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.foreach.CompletionConditionSection"
               id="activity.section.CompletionCondition"
               tab="com.bea.alsb.process.bpel.ui.CompletionCondition">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ForeachGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.flow.ui.tabbedpropertyui.sections.ThrowSection"
               id="activity.section.Throw"
               tab="com.bea.alsb.process.bpel.ui.Throw">
            <input
                  type="com.bea.alsb.process.bpel.core.internal.graph.nodes.ThrowGraphNode">
            </input>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.flow.ui.tabbedpropertyui.sections.CatchSection"
               id="activity.section.Catch"
               tab="com.bea.alsb.process.bpel.ui.catch">
            <input
                  type="com.bea.alsb.process.bpel.core.internal.graph.nodes.CatchBranchGraphNode">
            </input>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.ActivityGeneralSection"
               id="activity.section.General"
               tab="com.bea.alsb.process.bpel.ui.General">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.WaitGraphNode"/>
         </propertySection>
         <propertySection
               class="com.bea.alsb.process.bpel.ui.tabbedpropertyui.sections.WaitSection"
               id="activity.section.Wait"
               tab="com.bea.alsb.process.bpel.ui.wait">
            <input type="com.bea.alsb.process.bpel.core.internal.graph.nodes.WaitGraphNode"/>
         </propertySection>
       </propertySections>
    </extension>
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution id="com.bea.alsb.ui.popup.popupMenu.flow"
        					nameFilter="*.flow"
                            objectClass="org.eclipse.core.resources.IFile">
	        <filter name="projectNature" value="com.bea.alsb.core.natures.alsb"/>
            <action id="com.bea.alsb.process.bpel.ui.generateBusinessService"
                    class="com.bea.alsb.process.flow.ui.actions.GenerateBusinessServiceAction"
                    enablesFor="1"
                    label="Generate Business Service"
                    menubarPath="com.bea.alsb.ui.common.popup/ALSBpopupGroup"/>
        </objectContribution>
   </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension targetID="com.bea.alsb.ui.perspectives.aqualogic">
          <newWizardShortcut id="com.bea.alsb.process.flow.ui.wizards.NewFlowWizard"/>
       </perspectiveExtension>
    </extension>

    <!--
        Register the flow debug model presentation as a presentation delegate
        with the com.bea.alsb.debug.ui plugin
    -->
   <extension point="com.bea.alsb.debug.ui.debugModelPresentation">
      <sourceModelPresentation id="com.bea.alsb.flow.debug"
                               class="com.bea.alsb.process.flow.ui.debug.FlowDebugModelPresentation"/>
      <variableModelPresentation id="com.bea.alsb.flow.debug"
                                 class="com.bea.alsb.process.flow.ui.debug.FlowVariableModelPresentation"/>
   </extension>
    <!--
				Preferences Pages
    
    <extension point="org.eclipse.ui.preferencePages">
    	<page id="com.bea.alsb.process.flow.ui.preferences.splitjoin"
              category="com.bea.alsb.process.common.core.preferences.canvas"
              class="com.bea.alsb.process.flow.ui.preferences.SplitJoinPreferencePage"
              name="%SplitJoinPreferencePage_name"/>
        <page id="com.bea.alsb.process.flow.ui.preferences.splitjoin.collapse"
              category="com.bea.alsb.process.flow.ui.preferences.splitjoin"
              class="com.bea.alsb.process.flow.ui.preferences.SplitJoinNodeCollapsingPreferencePage"
              name="%SplitJoinNodeCollapsingPreferencePage_name"/>
    </extension>
    -->
</plugin>
