<?xml version='1.0' encoding='UTF-8'?>
<?eclipse version='3.0'?>
<plugin>
    <extension
        point='org.eclipse.help.contexts'>
        <contexts file='/help/en/context.xml' plugin='com.bea.alsb.transports.email'/>
    </extension>

    <extension
        id="email"
        name="Email Transport"
        point="com.bea.alsb.core.transports">
        <transport transport-provider="com.bea.wli.sb.transports.email.EmailTransportProviderFactory"/>
    </extension>
</plugin>
