<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>
<contexts>

<!-- com.bea.alsb.flow.ui.gef.GraphModelEditor class -->
	<context id="uiSplitJoinEditor" 
		title="Split-Join User Interface Reference">
	    <description>Provides reference details for the Split-Join editor.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/sj_uiRef.htm" 
		label="Split-Join User Interface Reference"/>
	</context>

<!-- com.bea.alsb.flow.ui.wizards.FlowNewFilePage class -->
	<context id="uiNewFlowFileWizardPage" 
		title="Split-Join Wizard - New Split-Join">
	    <description>Provides help for the first page of the Split-Join wizard.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/sj_uiSplitJoinWizardNewSplitJoin.htm" 
		label="Split-Join Wizard - New Split-Join"/>
	</context>
		
<!-- com.bea.alsb.flow.ui.wizards.FlowNewFileOptionsPage class -->
	<context id="uiNewFlowWizardPickOperationPage" 
		title="Split-Join Wizard - Specify Operations">
	    <description>Provides help for the second page of the Split-Join wizard.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/sj_uiSplitJoinWizardSpecifyOperations.htm" 
		label="Split-Join Wizard - Specify Operations"/>
	</context>

</contexts>

