<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="functionsProvider" name="Functions Provider" schema="eschema/functionsProvider.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%MapperViewCategory"
            id="com.bea.alsb.common.mapper"/>
      <view
            class="com.bea.wli.ide.xquery.ui.views.FunctionsPalette"
            icon="resources/images/com/bea/wli/ide/xquery/ui/views/functions/functions_view.gif"                        
            category="com.bea.alsb.common.mapper"
            name="%XQueryFunctions"
            id="com.bea.alsb.common.xquery.ui.views.FunctionsPalette"/>
   </extension>
      
   <extension
         point="com.bea.alsb.common.compiler.ui.factories">
      <factory class="com.bea.wli.ide.xml.ui.compiler.XmlCompilerFactory"/>
   </extension>

</plugin>

