<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="com.bea.alsb.core.stages.ui">
      <stage_ui>
         <palette>
            <items>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.Reporting"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.alert"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Alert"
                     label="%items.alert.label"
                     palette-icon-large="icons/reporting/24/alert.gif"
                     palette-icon-small="icons/reporting/16/alert.gif"
                     tooltip="%items.alert.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.Reporting"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.logging"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Log"
                     label="%items.logging.label"
                     palette-icon-large="icons/reporting/24/logging.gif"
                     palette-icon-small="icons/reporting/16/logging.gif"
                     tooltip="%items.logging.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.Reporting"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.report"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Report"
                     label="%items.reporting.label"
                     palette-icon-large="icons/reporting/24/report.gif"
                     palette-icon-small="icons/reporting/16/report.gif"
                     tooltip="%items.reporting.tooltip"/>
            </items>
         </palette>
         <actions>
            <action
                  id="http://www.bea.com/wli/sb/stages/alert/config/alert"
                  type="stage">
               <node
                     canvas-icon-large="icons/reporting/32/alert.gif"
                     canvas-icon-small="icons/reporting/24/alert.gif"
                     class="com.bea.alsb.stages.logging.ui.factory.AlertFactory"
                     id="com.bea.alsb.messageflow.stages.logging.Alert"
                     menu-icon-large="icons/reporting/24/alert.gif"
                     menu-icon-small="icons/reporting/16/alert.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.Reporting"
                     outline-icon-large="icons/reporting/24/alert.gif"
                     outline-icon-small="icons/reporting/16/alert.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Alert"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/logging/config/log"
                  type="stage">
               <node
                     canvas-icon-large="icons/reporting/32/logging.gif"
                     canvas-icon-small="icons/reporting/24/logging.gif"
                     class="com.bea.alsb.stages.logging.ui.factory.LogFactory"
                     id="com.bea.alsb.messageflow.stages.logging.Log"
                     menu-icon-large="icons/reporting/24/logging.gif"
                     menu-icon-small="icons/reporting/16/logging.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.Reporting"
                     outline-icon-large="icons/reporting/24/logging.gif"
                     outline-icon-small="icons/reporting/16/logging.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Log"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/logging/config/report"
                  type="stage">
               <node
                     canvas-icon-large="icons/reporting/32/report.gif"
                     canvas-icon-small="icons/reporting/24/report.gif"
                     class="com.bea.alsb.stages.logging.ui.factory.ReportFactory"
                     id="com.bea.alsb.messageflow.stages.logging.Report"
                     menu-icon-large="icons/reporting/24/report.gif"
                     menu-icon-small="icons/reporting/16/report.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.Reporting"
                     outline-icon-large="icons/reporting/24/report.gif"
                     outline-icon-small="icons/reporting/16/report.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Report"/>
            </action>
         </actions> 
      </stage_ui>
   </extension>
   
   
   
 <!--
				Message Flow - Reporting Action Commands
 -->
 <extension
       point="org.eclipse.ui.commands">
    <category
          description="%ReportingCategory.description"
          id="com.bea.alsb.ui.editors.messageflow.reportingCategory"
          name="%ReportingCategory.name"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.reportingCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.alert"
          name="com.bea.alsb.ui.editors.messageflow.design.alert"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.reportingCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.logging"
          name="com.bea.alsb.ui.editors.messageflow.design.logging"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.reportingCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.report"
          name="com.bea.alsb.ui.editors.messageflow.design.report"/>           
 </extension>
 
 <!--
				Message Flow - Reporting Property Tabs
 --> 
  <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">
       <propertyTab
             category="stageaction"
             id="messageflow.tab.Alert"
             label="Alert"/>
       <propertyTab
             category="stageaction"
             id="messageflow.tab.Log"
             label="Log"/>
       <propertyTab
             category="stageaction"
             id="messageflow.tab.Report"
             label="Report"/>
    </propertyTabs>
 </extension>

 <!--
				Message Flow - Reporting Property Sections
 -->
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">
       <propertySection
             class="com.bea.alsb.stages.logging.ui.properties.AlertSection"
             id="messageflow.section.Alert"
             tab="messageflow.tab.Alert">
          <input type="com.bea.alsb.stages.logging.ui.model.AlertNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.logging.ui.properties.LogSection"
             id="messageflow.section.Log"
             tab="messageflow.tab.Log">
          <input type="com.bea.alsb.stages.logging.ui.model.LogNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.logging.ui.properties.ReportSection"
             id="messageflow.section.Report"
             tab="messageflow.tab.Report">
          <input type="com.bea.alsb.stages.logging.ui.model.ReportNode"/>
       </propertySection>
    </propertySections>
 </extension>
 
 
</plugin>
