<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
    id="collapsedMarker"
       point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.core.resources.textmarker"/>
       <persistent value="true"/>
   </extension>
    <extension
        point="org.eclipse.core.runtime.preferences">
        <initializer class="com.bea.alsb.process.common.core.preferences.PreferenceInitializer"/>
  </extension>
  
  <!--
				Preferences Pages
	
    <extension point="org.eclipse.ui.preferencePages">
    	<page id="com.bea.alsb.process.common.core.preferences.canvas"
              category="com.bea.alsb.ui.preferences.general"
              class="com.bea.alsb.process.common.core.preferences.CanvasPreferencePage"
              name="%CanvasPreferencePage_name"/>
    </extension>
    -->
</plugin>
