<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>

<plugin>

  <extension point="org.eclipse.help.toc">
    <tocProvider class="oracle.eclipse.tools.adf.doc.v11gR1PS3.DynamicTocProvider"/>
  </extension>

  <extension point="org.eclipse.help.contentProducer">
    <contentProducer producer="oracle.eclipse.tools.adf.doc.v11gR1PS3.DynamicContentProducer"/>
  </extension>
  
  <extension point="oracle.eclipse.tools.xml.model.tagDocProviders">
    <provider class="oracle.eclipse.tools.adf.doc.v11gR1PS3.AdfFacesTagDocProvider"/>
  </extension>
  
  <extension point="oracle.eclipse.tools.weblogic.sharedLibraryAttachmentProviders">
    <provider class="oracle.eclipse.tools.adf.doc.v11gR1PS3.AdfSharedLibraryAttachmentProvider"/>
  </extension>
  
</plugin>
