<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	
	<!-- actions for jar dependencies -->
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution id="com.bea.alsb.ui.popup.popupMenu"
        					nameFilter="*.jar"
                            objectClass="org.eclipse.core.resources.IFile">
	        <filter name="projectNature" value="com.bea.alsb.core.natures.alsb"/>
            <action id="com.bea.alsb.ui.jarDependencies"
                    class="com.bea.alsb.ui.resources.jar.actions.JarDependencyAction"
                    enablesFor="1"
                    label="%JarDependencyAction_name"
                    menubarPath="com.bea.alsb.ui.common.popup/ALSBpopupGroup"/>
        </objectContribution>
    </extension>
    
	<extension point="org.eclipse.ui.editors">
        <editor
                class="com.bea.alsb.ui.resources.jar.editor.AlsbJarEditor"
                default="true"
                id="com.bea.alsb.ui.editors.jar"
                icon="icons/icon_jar.gif"
                name="%JarDependenciesEditor_name">
            <contentTypeBinding contentTypeId="com.bea.alsb.core.resources.jar.content-type"/>
        </editor>
	</extension>
</plugin>
