<?xml version='1.0' encoding='UTF-8'?>
<?eclipse version='3.0'?>
<plugin>
    <extension
        id="local"
        name="Local Transport"
        point="com.bea.alsb.core.transports">
        <transport transport-provider="com.bea.wli.sb.transports.local.LocalTransportProviderFactory"/>
    </extension>
</plugin>
