<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>
<contexts>

	<context id="tpHTTPTransportBizService" 
		title="HTTP Transport Configuration page (Business Service)">
	    <description>Use this page to configure the HTTP transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpHTTPTransportBizService.htm" 
		label="HTTP Transport Configuration page (Business Service)"/>
	</context>
		
	<context id="tpHTTPTransportProxyService" 
		title="HTTP Transport Configuration page (Proxy Service)">
	    <description>Use this page to configure the HTTP transport used for a proxy service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpHTTPTransportProxyService.htm" 
		label="HTTP Transport Configuration page (Proxy Service)"/>
	</context>

	<context id="tpHTTPTransportBizWizard" 
		title="HTTP Transport Configuration page (Business Service)">
	    <description>Use this page to configure the HTTP transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpHTTPTransportBizService.htm" 
		label="HTTP Transport Configuration page (Business Service)"/>
	</context>
		
	<context id="tpHTTPTransportProxyWizard" 
		title="HTTP Transport Configuration page (Proxy Service)">
	    <description>Use this page to configure the HTTP transport used for a proxy service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpHTTPTransportProxyService.htm" 
		label="HTTP Transport Configuration page (Proxy Service)"/>
	</context>

</contexts>

