<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<!--    Content-Type for BPEL   -->
    <extension point="org.eclipse.core.contenttype.contentTypes">

        <content-type id="com.bea.alsb.core.resources.bpel.content-type"
                      name="%BPELResourceContentType_name"
                      base-type="org.eclipse.core.runtime.xml"
                      file-extensions="bpel"
                      priority="high"/>

    </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="com.bea.alsb.process.bpel.core.debug.LineBreakpoint"
            markerType="com.bea.alsb.process.bpel.core.bpelBreakpointMarker"
            id="com.bea.alsb.process.bpel.core.debug.LineBreakpoint"
            />
   </extension>
  <extension
    id="bpelBreakpointMarker"
       point="org.eclipse.core.resources.markers">
       <super type="com.bea.alsb.debug.core.alsbBreakpointMarker"/>
       <persistent value="true"/>
    </extension>
</plugin>
