<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>
<contexts>

	<context id="tpTUXEDOTransportBizService" 
		title="Tuxedo Transport Configuration page (Business Service)">
	    <description>Use this page to configure the Tuxedo transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpTUXEDOTransportBizService.htm" 
		label="Tuxedo Transport Configuration page (Business Service)"/>
	</context>
		
	<context id="tpTUXEDOTransportProxyService" 
		title="Tuxedo Transport Configuration page (Proxy Service)">
	    <description>Use this page to configure the Tuxedo transport used for a proxy service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpTUXEDOTransportProxyService.htm" 
		label="Tuxedo Transport Configuration page (Proxy Service)"/>
	</context>

	<context id="tpTUXEDOTransportBizWizard" 
		title="Tuxedo Transport Configuration page (Business Service)">
	    <description>Use this page to configure the Tuxedo transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpTUXEDOTransportBizService.htm" 
		label="Tuxedo Transport Configuration page (Business Service)"/>
	</context>
		
	<context id="tpTUXEDOTransportProxyWizard" 
		title="Tuxedo Transport Configuration page (Proxy Service)">
	    <description>Use this page to configure the Tuxedo transport used for a proxy service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpTUXEDOTransportProxyService.htm" 
		label="Tuxedo Transport Configuration page (Proxy Service)"/>
	</context>

</contexts>

