<?xml version='1.0' encoding='UTF-8'?>
<?eclipse version='3.0'?>
<plugin>
    <extension
        point='org.eclipse.help.contexts'>
        <contexts file='/help/en/context.xml' plugin='com.bea.alsb.resources.mq'/>
    </extension>

    <extension
        id="mqconnection"
        name="MQ Connection"
        point="com.bea.alsb.core.resources">
        <resource class="com.bea.wli.sb.resources.mqconnection.MQConnectionResourceProviderFactory" extension="mqc" name="MQ Connection"/>
    </extension>
</plugin>
