<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <!--
            Common Menu Category for ALSB Resources
    -->
    <extension point="org.eclipse.ui.popupMenus">

        <objectContribution id="com.bea.alsb.ui.common.popup.popupMenu"
                            objectClass="org.eclipse.core.resources.IResource">
            <menu id="com.bea.alsb.ui.common.popup"
                  label="%ALSB_Submenu_Name"
                  path="additions">
                <separator name="ALSBpopupGroup"/>
            </menu>
        </objectContribution>
    </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.bea.alsb.ui.common.jface.assist.preferences.FieldAssistPreferenceInitializer"/>
   </extension>
   
   <!--
				Preferences Pages
	-->
    <extension
          point="com.bea.alsb.common.mapper.typeBrowserFilter">
       <filter class="com.bea.alsb.ui.common.contentFilter.ALSBContentFilter"/>
    </extension>


    <!--
             XQuery Snippet Compiler
     -->
    <extension point="com.bea.alsb.common.compiler.ui.factories">
        <factory class="com.bea.alsb.ui.common.expression.compiler.ExpressionCompilerFactory"/>
    </extension>

</plugin>
