<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>
<contexts>

	<context id="tpEMAILTransportBizService" 
		title="E-Mail Transport Configuration page (Business Service)">
	    <description>Use this page to configure the E-mail transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpEMAILTransportBizService.htm" 
		label="E-mail Transport Configuration page (Business Service)"/>
	</context>
		
	<context id="tpEMAILTransportProxyService" 
		title="E-mail Transport Configuration page (Proxy Service)">
	    <description>Use this page to configure the E-mail transport used for a proxy service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpEMAILTransportProxyService.htm" 
		label="E-mail Transport Configuration page (Proxy Service)"/>
	</context>

	<context id="tpEMAILTransportBizWizard" 
		title="E-Mail Transport Configuration page (Business Service)">
	    <description>Use this page to configure the E-mail transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpEMAILTransportBizService.htm" 
		label="E-mail Transport Configuration page (Business Service)"/>
	</context>
		
	<context id="tpEMAILTransportProxyWizard" 
		title="E-mail Transport Configuration page (Proxy Service)">
	    <description>Use this page to configure the E-mail transport used for a proxy service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpEMAILTransportProxyService.htm" 
		label="E-mail Transport Configuration page (Proxy Service)"/>
	</context>

</contexts>

