<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.bea.alsb.core.stages.ui">
      <stage_ui>
         <palette>
            <groups>
               <group
                     id="com.bea.alsb.process.messageflow.core.group.Main"
                     label="%group.main.label"/>
               <group
                     id="com.bea.alsb.process.messageflow.core.group.Stage"
                     label="%group.stage.label"/>
               <group
                     id="com.bea.alsb.process.messageflow.core.group.Route"
                     label="%group.route.label"/>

            </groups>
            <categories>
               <category
                     group-id="com.bea.alsb.process.messageflow.core.group.Main"
                     id="com.bea.alsb.process.messageflow.core.category.main.Nodes"
                     is-open="true"
                     label="%category.nodes.label"
                     priority="-1"/>
               <category
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.category.stage.Communication"
                     is-open="false"
                     label="%category.communication.label"
                     priority="-1"/>
               <category
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.category.stage.FlowControl"
                     is-open="false"
                     label="%category.flowControl.label"
                     priority="-1"/>
               <category
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.category.stage.MessageProcessing"
                     is-open="false"
                     label="%category.messageProcessing.label"
                     priority="-1"/>
               <category
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.category.stage.Reporting"
                     is-open="false"
                     label="%category.reporting.label"
                     priority="-1"/>
               <category
                     group-id="com.bea.alsb.process.messageflow.core.group.Route"
                     id="com.bea.alsb.process.messageflow.core.category.route.Communication"
                     is-open="false"
                     label="%category.communication.label"
                     priority="-1"/>
               <category
                     group-id="com.bea.alsb.process.messageflow.core.group.Route"
                     id="com.bea.alsb.process.messageflow.core.category.route.FlowControl"
                     is-open="false"
                     label="%category.flowControl.label"
                     priority="-1"/>
            </categories>
            <items>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.main.Nodes"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.conditionalBranch"
                     group-id="com.bea.alsb.process.messageflow.core.group.Main"
                     id="com.bea.alsb.process.messageflow.core.item.ConditionalBranch"
                     label="%items.conditionalBranch.label"
                     palette-icon-large="icons/nodes/24/cond_branch.gif"
                     palette-icon-small="icons/nodes/16/cond_branch.gif"
                     tooltip="%items.conditionalBranch.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.main.Nodes"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.operationalBranch"
                     group-id="com.bea.alsb.process.messageflow.core.group.Main"
                     id="com.bea.alsb.process.messageflow.core.item.OperationalBranch"
                     label="%items.operationalBranch.label"
                     palette-icon-large="icons/nodes/24/operational_branch.gif"
                     palette-icon-small="icons/nodes/16/operational_branch.gif"
                     tooltip="%items.operationalBranch.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.main.Nodes"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.pipelinePair"
                     group-id="com.bea.alsb.process.messageflow.core.group.Main"
                     id="com.bea.alsb.process.messageflow.core.item.PipelinePair"
                     label="%items.pipelinePair.label"
                     palette-icon-large="icons/nodes/24/pipeline_pair.gif"
                     palette-icon-small="icons/nodes/16/pipeline_pair.gif"
                     tooltip="%items.pipelinePair.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.main.Nodes"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.routeNode"
                     group-id="com.bea.alsb.process.messageflow.core.group.Main"
                     id="com.bea.alsb.process.messageflow.core.item.Route"
                     label="%items.route.label"
                     palette-icon-large="icons/nodes/24/router.gif"
                     palette-icon-small="icons/nodes/16/router.gif"
                     tooltip="%items.route.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.main.Nodes"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.stage"
                     group-id="com.bea.alsb.process.messageflow.core.group.Main"
                     id="com.bea.alsb.process.messageflow.core.item.Stage"
                     label="%items.stage.label"
                     palette-icon-large="icons/nodes/24/stage.gif"
                     palette-icon-small="icons/nodes/16/stage.gif"
                     tooltip="%items.stage.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.main.Nodes"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.errorHandler"
                     group-id="com.bea.alsb.process.messageflow.core.group.Main"
                     id="com.bea.alsb.process.messageflow.core.item.ErrorHandler"
                     label="%items.errorHandler.label"
                     palette-icon-large="icons/nodes/24/error_handler_shaded.gif"
                     palette-icon-small="icons/nodes/16/error_handler_shaded.gif"
                     tooltip="%items.errorHandler.tooltip"/>  
            </items>
         </palette>
         <actions>
            <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/service"
                  type="pipeline">
               <node
                     canvas-icon-large="icons/nodes/32/service.gif"
                     canvas-icon-small="icons/nodes/24/service.gif"
                     class="com.bea.alsb.process.messageflow.core.factory.ServiceFactory"
                     id="com.bea.alsb.process.messageflow.core.node.Service"
                     menu-icon-large="icons/nodes/24/service.gif"
                     menu-icon-small="icons/nodes/16/service.gif"
                     outline-icon-large="icons/nodes/24/service.gif"
                     outline-icon-small="icons/nodes/16/service.gif"
                     palette-id="none"/>
           </action>
           <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/conditional"
                  type="pipeline">
               <node
                     canvas-icon-large="icons/nodes/32/cond_branch.gif"
                     canvas-icon-small="icons/nodes/24/cond_branch.gif"
                     class="com.bea.alsb.process.messageflow.core.factory.ConditionalFlowFactory"
                     id="com.bea.alsb.process.messageflow.core.node.ConditionalFlow"
                     menu-icon-large="icons/nodes/24/cond_branch.gif"
                     menu-icon-small="icons/nodes/16/cond_branch.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                     outline-icon-large="icons/nodes/24/cond_branch.gif"
                     outline-icon-small="icons/nodes/16/cond_branch.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.ConditionalBranch"/>
           </action>
           <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/operational"
                  type="pipeline">
               <node
                     canvas-icon-large="icons/nodes/32/operational_branch.gif"
                     canvas-icon-small="icons/nodes/24/operational_branch.gif"
                     class="com.bea.alsb.process.messageflow.core.factory.OperationalFlowFactory"
                     id="com.bea.alsb.process.messageflow.core.node.OperationalFlow"
                     menu-icon-large="icons/nodes/24/operational_branch.gif"
                     menu-icon-small="icons/nodes/16/operational_branch.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                     outline-icon-large="icons/nodes/24/operational_branch.gif"
                     outline-icon-small="icons/nodes/16/operational_branch.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.OperationalBranch"/>
           </action>
           <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/pipeline"
                  type="pipeline">
               <node
                     canvas-icon-large="icons/nodes/32/pipeline_pair.gif"
                     canvas-icon-small="icons/nodes/24/pipeline_pair.gif"
                     class="com.bea.alsb.process.messageflow.core.factory.PipelinePairFactory"
                     id="com.bea.alsb.process.messageflow.core.node.PipelinePair"
                     menu-icon-large="icons/nodes/24/pipeline_pair.gif"
                     menu-icon-small="icons/nodes/16/pipeline_pair.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                     outline-icon-large="icons/nodes/24/pipeline_pair.gif"
                     outline-icon-small="icons/nodes/16/pipeline_pair.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.PipelinePair"/>
           </action>
           <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/stage"
                  type="pipeline">
               <node
                     canvas-icon-large="icons/nodes/32/stage.gif"
                     canvas-icon-small="icons/nodes/24/stage.gif"
                     class="com.bea.alsb.process.messageflow.core.factory.StageFactory"
                     id="com.bea.alsb.process.messageflow.core.node.Stage"
                     menu-icon-large="icons/nodes/24/stage.gif"
                     menu-icon-small="icons/nodes/16/stage.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                     outline-icon-large="icons/nodes/24/stage.gif"
                     outline-icon-small="icons/nodes/16/stage.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Stage"/> 
           </action>
           <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/route"
                  type="pipeline">
               <node
                     canvas-icon-large="icons/nodes/32/router.gif"
                     canvas-icon-small="icons/nodes/24/router.gif"
                     class="com.bea.alsb.process.messageflow.core.factory.RouteFactory"
                     id="com.bea.alsb.process.messageflow.core.node.Route"
                     menu-icon-large="icons/nodes/24/router.gif"
                     menu-icon-small="icons/nodes/16/router.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                     outline-icon-large="icons/nodes/24/router.gif"
                     outline-icon-small="icons/nodes/16/router.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Route"/>  
           </action>
           <action
                 id="http://www.bea.com/wli/sb/stages/pipeline/config/errorhandlergroup"
                 type="pipeline">
              <node
                    canvas-icon-large="icons/nodes/24/error_handler.gif"
                    canvas-icon-small="icons/nodes/24/error_handler.gif"
                    class="com.bea.alsb.process.messageflow.core.factory.ErrorHandlerGroupFactory"
                    id="com.bea.alsb.process.messageflow.core.node.ErrorHandlerGroup"
                    menu-icon-large="icons/nodes/24/error_handler_shaded.gif"
                    menu-icon-small="icons/nodes/16/error_handler_shaded.gif"
                    outline-icon-large="icons/nodes/24/error_handler_shaded.gif"
                    outline-icon-small="icons/nodes/16/left_arrow_16x16.gif"
                    palette-id="com.bea.alsb.process.messageflow.core.item.ErrorHandler"/>
           </action>
           <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/errorhandler"
                  type="pipeline">
               <node
		            id="com.bea.alsb.process.messageflow.core.node.ErrorHandler"
	                palette-id="none"
		            class="com.bea.alsb.process.messageflow.core.factory.ErrorHandlerFactory"
	                canvas-icon-large="icons/nodes/24/error_handler.gif"
	                canvas-icon-small="icons/nodes/24/error_handler.gif"
	                menu-icon-large="icons/nodes/24/error_handler_shaded.gif"
	                menu-icon-small="icons/nodes/16/error_handler_shaded.gif"
	                outline-icon-large="icons/nodes/24/error_handler_shaded.gif"
	                outline-icon-small="icons/nodes/16/error_handler_shaded.gif"/>
           </action>
           <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/conditionalbranch"
                  type="pipeline">        
	         <node
                canvas-icon-large="icons/nodes/16/branch.gif"
                canvas-icon-small="icons/nodes/16/branch.gif"
                class="com.bea.alsb.process.messageflow.core.factory.ConditionalFlowBranchFactory"
                id="com.bea.alsb.process.messageflow.core.node.ConditionalBranch"
                menu-icon-large="icons/nodes/24/branch_shaded.gif"
                menu-icon-small="icons/nodes/16/branch_shaded.gif"
                menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                outline-icon-large="icons/nodes/24/branch_shaded.gif"
                outline-icon-small="icons/nodes/16/branch_shaded.gif"
                palette-id="none"/>
           </action>
           <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/conditionaldefault"
                  type="pipeline">
		     <node
             canvas-icon-large="icons/nodes/16/branch.gif"
             canvas-icon-small="icons/nodes/16/branch.gif"
             class="com.bea.alsb.process.messageflow.core.factory.ConditionalFlowDefaultFactory"
             id="com.bea.alsb.process.messageflow.core.node.ConditionalDefault"
             menu-icon-large="icons/nodes/24/branch_shaded.gif"
             menu-icon-small="icons/nodes/16/branch_shaded.gif"
             outline-icon-large="icons/nodes/24/branch_shaded.gif"
             outline-icon-small="icons/nodes/16/branch_shaded.gif"
             palette-id="none"/>
           </action>
           <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/operationalbranch"
                  type="pipeline">
	         <node
                canvas-icon-large="icons/nodes/16/branch.gif"
                canvas-icon-small="icons/nodes/16/branch.gif"
                class="com.bea.alsb.process.messageflow.core.factory.OperationalFlowBranchFactory"
                id="com.bea.alsb.process.messageflow.core.node.OperationalBranch"
                menu-icon-large="icons/nodes/24/branch_shaded.gif"
                menu-icon-small="icons/nodes/16/branch_shaded.gif"
                menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                outline-icon-large="icons/nodes/24/branch_shaded.gif"
                outline-icon-small="icons/nodes/16/branch_shaded.gif"
                palette-id="none"/>
           </action>
           <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/operationaldefault"
                  type="pipeline">
		     <node
             canvas-icon-large="icons/nodes/16/branch.gif"
             canvas-icon-small="icons/nodes/16/branch.gif"
             class="com.bea.alsb.process.messageflow.core.factory.OperationalFlowDefaultFactory"
             id="com.bea.alsb.process.messageflow.core.node.OperationalDefault"
             menu-icon-large="icons/nodes/24/branch_shaded.gif"
             menu-icon-small="icons/nodes/16/branch_shaded.gif"
             outline-icon-large="icons/nodes/24/branch_shaded.gif"
             outline-icon-small="icons/nodes/16/branch_shaded.gif"
             palette-id="none"/>
           </action>
           <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/pipelinerequest"
                  type="pipeline">
	         <node
                class="com.bea.alsb.process.messageflow.core.factory.PipelineRequestFactory"
                id="com.bea.alsb.process.messageflow.core.node.PipelineRequest"
                palette-id="none"/>
           </action>
           <action
                  id="http://www.bea.com/wli/sb/stages/pipeline/config/pipelineresponse"
                  type="pipeline">
	         <node
                class="com.bea.alsb.process.messageflow.core.factory.PipelineResponseFactory"
                id="com.bea.alsb.process.messageflow.core.node.PipelineResponse"
                palette-id="none"/>   
           </action>
	     </actions>
         <menus>
            <menu
                  id="com.bea.alsb.process.messageflow.core.menu.stage.Communication"
                  label="%category.communication.label"
                  parent-id="com.bea.alsb.process.messageflow.core.menu.insert"/>
            <menu
                  id="com.bea.alsb.process.messageflow.core.menu.stage.FlowControl"
                  label="%category.flowControl.label"
                  parent-id="com.bea.alsb.process.messageflow.core.menu.insert"/>
            <menu
                  id="com.bea.alsb.process.messageflow.core.menu.stage.MessageProcessing"
                  label="%category.messageProcessing.label"
                  parent-id="com.bea.alsb.process.messageflow.core.menu.insert"/>
            <menu
                  id="com.bea.alsb.process.messageflow.core.menu.stage.Reporting"
                  label="%category.reporting.label"
                  parent-id="com.bea.alsb.process.messageflow.core.menu.insert"/>
            <menu
                  id="com.bea.alsb.process.messageflow.core.menu.route.Communication"
                  label="%category.communication.label"
                  parent-id="com.bea.alsb.process.messageflow.core.menu.insert"/>
            <menu
                  id="com.bea.alsb.process.messageflow.core.menu.route.FlowControl"
                  label="%category.flowControl.label"
                  parent-id="com.bea.alsb.process.messageflow.core.menu.insert"/>
         </menus>  
       </stage_ui>
   </extension>
   
   
	<!--
				Message Flow - Node Action Commands
	-->
 <extension
       point="org.eclipse.ui.commands">
    <category
          description="%NodeCategory.description"
          id="com.bea.alsb.ui.editors.messageflow.nodeCategory"
          name="%NodeCategory.name"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.nodeCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.pipelinePair"
          name="com.bea.alsb.ui.editors.messageflow.design.pipelinePair"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.nodeCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.conditionalBranch"
          name="com.bea.alsb.ui.editors.messageflow.design.conditionalBranch"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.nodeCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.operationalBranch"
          name="com.bea.alsb.ui.editors.messageflow.design.operationalBranch"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.nodeCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.operationalBranch"
          name="com.bea.alsb.ui.editors.messageflow.design.operationalBranch"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.nodeCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.branchNode"
          name="com.bea.alsb.ui.editors.messageflow.design.branchNode"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.nodeCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.routeNode"
          name="com.bea.alsb.ui.editors.messageflow.design.routeNode"/>
	<command
          categoryId="com.bea.alsb.ui.editors.messageflow.nodeCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.stage"
          name="com.bea.alsb.ui.editors.messageflow.design.stage"/>
	<command
          categoryId="com.bea.alsb.ui.editors.messageflow.nodeCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.errorHandler"
          name="com.bea.alsb.ui.editors.messageflow.design.errorHandler"/>    
 </extension>
 
 <!--
				Message Flow - Node Property Tabs
 --> 
  <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">
       <propertyTab
             category="general"
             id="messageflow.tab.Default"
             label=""/>
       <propertyTab
             category="branch"
             id="messageflow.tab.Flow"
             label="Flow"/>       
       <propertyTab
             afterTab="messageflow.tab.Flow"
             category="branch"
             id="messageflow.tab.ConditionalBranch"
             label="Conditional Branch"/>
       <propertyTab
             category="branch"
             id="messageflow.tab.OperationalFlow"
             label="Operational Branch"/>
       <propertyTab
             category="branch"
             id="messageflow.tab.BranchGeneral"
             label="Branch"/>
       <propertyTab
             category="errorhandler"
             id="messageflow.tab.ErrorHandler"
             label="Error Handler"/>
       <propertyTab
             category="pipelinepair"
             id="messageflow.tab.PipelinePairGeneral"
             label="Pipeline Pair"/>
       <propertyTab
             category="route"
             id="messageflow.tab.RouteGeneral"
             label="Route"/>
       <propertyTab
             category="stage"
             id="messageflow.tab.StageGeneral"
             label="Stage"/>
       <propertyTab
             category="stage"
             id="messageflow.tab.Annotation"
             label="Comment"/>
       <propertyTab
             afterTab="messageflow.tab.StageGeneral"
             category="stage"
             id="messageflow.tab.Namespace"
             label="Namespaces"/>
       <propertyTab
             afterTab="messageflow.tab.Namespace"
             category="stage"
             id="messageflow.tab.Variable"
             label="Variables"/>
    </propertyTabs>
 </extension>

 <!--
				Message Flow - Node Property Sections
 -->
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.process.messageflow.core.model.ServiceNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.FlowGeneralSection"
             id="messageflow.section.Flow"
             tab="messageflow.tab.Flow">
          <input type="com.bea.alsb.process.messageflow.core.model.FlowGraphNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.ConditionalFlowSection"
             id="messageflow.section.ConditionalBranch"
             tab="messageflow.tab.ConditionalBranch">
          <input type="com.bea.alsb.process.messageflow.core.model.ConditionalFlowGraphNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.ConditionalBranchSection"
             id="messageflow.section.BranchGeneral"
             tab="messageflow.tab.BranchGeneral">
          <input type="com.bea.alsb.process.messageflow.core.model.ConditionalFlowBranchNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.process.messageflow.core.model.ConditionalFlowDefaultNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.OperationalBranchSection"
             id="messageflow.section.OperationalBranch"
             tab="messageflow.tab.OperationalFlow">
          <input type="com.bea.alsb.process.messageflow.core.model.OperationalFlowBranchNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.process.messageflow.core.model.OperationalFlowDefaultNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.PipelineGeneralSection"
             id="messageflow.section.PipelinePairGeneral"
             tab="messageflow.tab.PipelinePairGeneral">
          <input type="com.bea.alsb.process.messageflow.core.model.PipelinePairContainer"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.process.messageflow.core.model.PipelineRequestGraphNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.process.messageflow.core.model.PipelineResponseGraphNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.StageGeneralSection"
             id="messageflow.section.StageGeneral"
             tab="messageflow.tab.StageGeneral">
          <input type="com.bea.alsb.process.messageflow.core.model.StageNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.NamespaceSection"
             id="messageflow.section.Namespace"
             tab="messageflow.tab.Namespace">
          <input type="com.bea.alsb.process.messageflow.core.model.StageNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.VariableSection"
             id="messageflow.section.Variable"
             tab="messageflow.tab.Variable">
          <input type="com.bea.alsb.process.messageflow.core.model.StageNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.RouteGeneralSection"
             id="messageflow.section.RouteGeneral"
             tab="messageflow.tab.RouteGeneral">
          <input type="com.bea.alsb.process.messageflow.core.model.RouteNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.NamespaceSection"
             id="messageflow.section.Namespace"
             tab="messageflow.tab.Namespace">
          <input type="com.bea.alsb.process.messageflow.core.model.RouteNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.VariableSection"
             id="messageflow.section.Variable"
             tab="messageflow.tab.Variable">
          <input type="com.bea.alsb.process.messageflow.core.model.RouteNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.process.messageflow.core.model.ErrorHandlerNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.StageActionAnnotationSection"
             id="messageflow.section.Annotation"
             tab="messageflow.tab.Annotation">
          <input type="com.bea.alsb.process.messageflow.core.model.IStageAction"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.NamespaceSection"
             id="messageflow.section.Namespace"
             tab="messageflow.tab.Namespace">
          <input type="com.bea.alsb.process.messageflow.core.model.IStageAction"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.VariableSection"
             id="messageflow.section.Variable"
             tab="messageflow.tab.Variable">
          <input type="com.bea.alsb.process.messageflow.core.model.IStageAction"/>
       </propertySection>
    </propertySections>
 </extension>


 <!--
                Message Flow - Breakpoints
 -->
 <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="com.bea.alsb.process.messageflow.core.debug.XPathBreakpoint"
            markerType="com.bea.alsb.process.messageflow.core.pipelineBreakpointMarker"
            id="com.bea.alsb.process.messageflow.core.debug.XPathBreakpoint"/>
      <breakpoint
            class="com.bea.alsb.process.messageflow.core.debug.NodeBreakpoint"
            markerType="com.bea.alsb.process.messageflow.core.nodeBreakpointMarker"
            id="com.bea.alsb.process.messageflow.core.debug.NodeBreakpoint"/>
      <breakpoint
            class="com.bea.alsb.process.messageflow.core.debug.PipelineRequestBreakpoint"
            markerType="com.bea.alsb.process.messageflow.core.requestBreakpointMarker"
            id="com.bea.alsb.process.messageflow.core.debug.PipelineRequestBreakpoint"/>
      <breakpoint
            class="com.bea.alsb.process.messageflow.core.debug.PipelineResponseBreakpoint"
            markerType="com.bea.alsb.process.messageflow.core.responseBreakpointMarker"
            id="com.bea.alsb.process.messageflow.core.debug.PipelineResponseBreakpoint"/>
      <breakpoint
            class="com.bea.alsb.process.messageflow.core.debug.StageBreakpoint"
            markerType="com.bea.alsb.process.messageflow.core.stageBreakpointMarker"
            id="com.bea.alsb.process.messageflow.core.debug.StageBreakpoint"/>
      <breakpoint
            class="com.bea.alsb.process.messageflow.core.debug.StageActionBreakpoint"
            markerType="com.bea.alsb.process.messageflow.core.stageActionBreakpointMarker"
            id="com.bea.alsb.process.messageflow.core.debug.StageActionBreakpoint"/>
      <breakpoint
            class="com.bea.alsb.process.messageflow.core.debug.RouteActionBreakpoint"
            markerType="com.bea.alsb.process.messageflow.core.routeActionBreakpointMarker"
            id="com.bea.alsb.process.messageflow.core.debug.RouteActionBreakpoint"/>
  </extension>
 <extension
    id="pipelineBreakpointMarker"
       point="org.eclipse.core.resources.markers">
       <super type="com.bea.alsb.debug.core.alsbBreakpointMarker"/>
       <persistent value="true"/>
 </extension>
 <extension
    id="nodeBreakpointMarker"
       point="org.eclipse.core.resources.markers">
       <super type="com.bea.alsb.debug.core.alsbBreakpointMarker"/>
       <persistent value="true"/>
 </extension>
  <extension
    id="requestBreakpointMarker"
       point="org.eclipse.core.resources.markers">
       <super type="com.bea.alsb.debug.core.alsbBreakpointMarker"/>
       <persistent value="true"/>
 </extension>
  <extension
    id="responseBreakpointMarker"
       point="org.eclipse.core.resources.markers">
       <super type="com.bea.alsb.debug.core.alsbBreakpointMarker"/>
       <persistent value="true"/>
 </extension>
 <extension
    id="stageBreakpointMarker"
       point="org.eclipse.core.resources.markers">
       <super type="com.bea.alsb.debug.core.alsbBreakpointMarker"/>
       <persistent value="true"/>
 </extension>
 <extension
    id="stageActionBreakpointMarker"
       point="org.eclipse.core.resources.markers">
       <super type="com.bea.alsb.debug.core.alsbBreakpointMarker"/>
       <persistent value="true"/>
 </extension>
 <extension
    id="routeActionBreakpointMarker"
       point="org.eclipse.core.resources.markers">
       <super type="com.bea.alsb.debug.core.alsbBreakpointMarker"/>
       <persistent value="true"/>
 </extension>

    <!--
                   Message Flow - Values
    -->
    <extension point="com.bea.alsb.debug.core.valueProvider">
        <valueProvider class="com.bea.wli.sb.pipeline.debug.value.PipelineValueProvider"/>
    </extension>

    <extension point="com.bea.alsb.debug.core.valueFactory">
        <valueFactory modelID="com.bea.alsb.pipeline.debug"
        		      class="com.bea.alsb.process.messageflow.core.debug.value.PipelineValueFactory" />
    </extension>

</plugin>
