<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension-point id="typeBrowserFilter" name="Type Browser Filter" schema="schema/typeFilter.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.bea.wli.ide.mapper.editors.MapperEditor"
            contributorClass="com.bea.wli.ide.mapper.editors.MapperEditorContributor"
            default="false"
            extensions="xq"
            icon="resources/images/workshop/xml/mapper/xq.png"
            id="com.bea.alsb.common.mapper.editors.MapperEditor"
            name="%MapperEditor">
         <contentTypeBinding contentTypeId="com.bea.alsb.core.resources.xquery.content-type"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.bea.alsb.util.ui"
            class="com.bea.wli.ide.mapper.wizards.MapperNewWizard"
            finalPerspective="com.bea.alsb.common.mapper.perspectives.MapperPerspective"
            icon="resources/images/workshop/xml/mapper/xq-wiz.png"
            id="com.bea.alsb.common.mapper.wizards.MapperNewWizard"
            name="%MapperFile"
            preferredPerspectives="com.bea.alsb.common.mapper.perspectives.MapperPerspective"
            >
         <description>
            %MapperFileDescription
         </description>
      </wizard>
      <wizard
            category="com.bea.alsb.util.ui"
            class="com.bea.wli.ide.mapper.wizards.MapperExampleWizard"
            finalPerspective="com.bea.alsb.common.mapper.perspectives.MapperPerspective"
            icon="resources/images/workshop/xml/mapper/xq-tutorial-wiz.png"
            id="com.bea.alsb.common.mapper.newMapperExampleWizard"
            name="%NewMapperExample"
            preferredPerspectives="com.bea.alsb.common.mapper.perspectives.MapperPerspective">
         <description>
         	%NewMapperExampleDescription
         </description>
      </wizard>
      
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%MapperViewCategory"
            id="com.bea.alsb.common.mapper">
      </category>
      <view
            name="%TargetExpression"
            icon="resources/images/workshop/xml/mapper/expression_builder.gif"
            category="com.bea.alsb.common.mapper"
            class="com.bea.wli.ide.mapper.views.TargetExpression"
            id="com.bea.alsb.common.mapper.views.TargetExpression">
      </view>
      <view
            name="%Constraints"
            icon="resources/images/workshop/xml/mapper/constraint_builder.gif"
            category="com.bea.alsb.common.mapper"
            class="com.bea.wli.ide.mapper.views.ConstraintsView"
            id="com.bea.alsb.common.mapper.views.ConstraintsView">
      </view>
      <view
            name="%XQueryVariables"
            icon="resources/images/workshop/xml/mapper/variables_view.gif"
            category="com.bea.alsb.common.mapper"
            class="com.bea.wli.ide.mapper.views.DataPalette"
            id="com.bea.alsb.common.mapper.views.DataPalette">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%Perspective.Mapper"
            icon="resources/images/workshop/xml/mapper/xq.png"
            class="com.bea.wli.ide.mapper.perspectives.MapperPerspective"
            id="com.bea.alsb.common.mapper.perspectives.MapperPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="com.bea.alsb.common.mapper.perspectives.MapperPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <perspectiveShortcut
               id="com.bea.alsb.common.mapper.perspectives.MapperPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.bea.workshop.common.ui.perspectives.workshop">
         <perspectiveShortcut
               id="com.bea.alsb.common.mapper.perspectives.MapperPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="%productName"
            description="%productBlurb">
         <property
               name="windowImages"
               value="eclipse.gif,eclipse32.gif">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.gif">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="appName"
               value="Eclipse">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            icon="intro.gif"
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.bea.alsb.common.mapper.intro">
      </intro>
      <introProductBinding
            introId="com.bea.alsb.common.mapper.intro"
            productId="com.bea.alsb.common.mapper.product">
      </introProductBinding>
   </extension>
   <extension
         id="intro"
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.bea.alsb.common.mapper.intro"
            content="$nl$/introContent.xml"
            id="com.bea.alsb.common.mapper.introConfig">
         <presentation
               home-page-id="root"
               standby-page-id="standby">
            <implementation
                  ws="win32"
                  kind="html"
                  style="css/shared.css"
                  os="win32">
            </implementation>
            <implementation
                  kind="swt">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="$nl$/overviewExtensionContent.xml"
            configId="com.bea.alsb.common.mapper.introConfig">
      </configExtension>
      <configExtension
            content="$nl$/tutorialsExtensionContent.xml"
            configId="com.bea.alsb.common.mapper.introConfig">
      </configExtension>
      <configExtension
            content="$nl$/samplesExtensionContent.xml"
            configId="com.bea.alsb.common.mapper.introConfig">
      </configExtension>
   </extension>

</plugin>
