<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="com.bea.alsb.core.stages.ui">
      <stage_ui>
         <palette>
            <items>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.route.Communication"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.dynamicRouting"
                     group-id="com.bea.alsb.process.messageflow.core.group.Route"
                     id="com.bea.alsb.process.messageflow.core.item.DynamicRouting"
                     label="%items.dynamicRouting.label"
                     palette-icon-small="icons/communication/16/dynamic_routing.gif"
                     palette-icon-large="icons/communication/24/dynamic_routing.gif"
                     tooltip="%items.dynamicRouting.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.route.Communication"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.routing"
                     group-id="com.bea.alsb.process.messageflow.core.group.Route"
                     id="com.bea.alsb.process.messageflow.core.item.Routing"
                     label="%items.routing.label"
                     palette-icon-small="icons/communication/16/routing.gif"
                     palette-icon-large="icons/communication/24/routing.gif"
                     tooltip="%items.routing.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.route.Communication"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.routingTable"
                     group-id="com.bea.alsb.process.messageflow.core.group.Route"
                     id="com.bea.alsb.process.messageflow.core.item.RoutingTable"
                     label="%items.routingTable.label"
                     palette-icon-small="icons/communication/16/routing_table.gif"
                     palette-icon-large="icons/communication/24/routing_table.gif"
                     tooltip="%items.routingTable.tooltip"/>
            </items>
         </palette>
         <actions>
            <action
                  id="http://www.bea.com/wli/sb/stages/routing/config/dynamic-route"
                  type="route">
               <node
                     canvas-icon-large="icons/communication/32/dynamic_routing.gif"
                     canvas-icon-small="icons/communication/24/dynamic_routing.gif"
                     class="com.bea.alsb.stages.routing.ui.factory.DynamicRoutingFactory"
                     id="com.bea.alsb.messageflow.stages.routing.DynamicRouting"
                     menu-icon-large="icons/communication/24/dynamic_routing.gif"
                     menu-icon-small="icons/communication/16/dynamic_routing.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.route.Communication"
                     outline-icon-large="icons/communication/24/dynamic_routing.gif"
                     outline-icon-small="icons/communication/16/dynamic_routing.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.DynamicRouting"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/routing/config/route"
                  type="route">
               <node
                     canvas-icon-large="icons/communication/32/routing.gif"
                     canvas-icon-small="icons/communication/24/routing.gif"
                     class="com.bea.alsb.stages.routing.ui.factory.RoutingFactory"
                     id="com.bea.alsb.messageflow.stages.routing.Routing"
                     menu-icon-large="icons/communication/24/routing.gif"
                     menu-icon-small="icons/communication/16/routing.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.route.Communication"
                     outline-icon-large="icons/communication/24/routing.gif"
                     outline-icon-small="icons/communication/16/routing.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Routing"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/routing/config/routingTable"
                  type="route">
               <node
                     canvas-icon-large="icons/communication/32/routing_table.gif"
                     canvas-icon-small="icons/communication/24/routing_table.gif"
                     class="com.bea.alsb.stages.routing.ui.factory.RoutingTableFactory"
                     id="com.bea.alsb.messageflow.stages.routing.RoutingTable"
                     menu-icon-large="icons/communication/24/routing_table.gif"
                     menu-icon-small="icons/communication/16/routing_table.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.route.Communication"
                     outline-icon-large="icons/communication/24/routing_table.gif"
                     outline-icon-small="icons/communication/16/routing_table.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.RoutingTable"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/routing/config/routingTableCase"
                  type="route">
               <node
                     class="com.bea.alsb.stages.routing.ui.factory.RoutingTableCaseFactory"
                     id="com.bea.alsb.messageflow.stages.routing.RoutingTableCase"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                     palette-id="none"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/routing/config/routingTableOtherwise"
                  type="route">
               <node
                     class="com.bea.alsb.stages.routing.ui.factory.RoutingTableDefaultFactory"
                     id="com.bea.alsb.messageflow.stages.routing.RoutingTableOtherwise"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                     palette-id="com.bea.alsb.process.messageflow.core.item.RoutingTableOtherwise"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/routing/config/routingRequest"
                  type="route">
	         	<node
	                class="com.bea.alsb.stages.routing.ui.factory.RoutingRequestFactory"
	                id="com.bea.alsb.messageflow.stages.routing.RequestAction"
	                palette-id="none"/>
         	</action>
            <action
                  id="http://www.bea.com/wli/sb/stages/routing/config/routingResponse"
                  type="route">
         	<node
                class="com.bea.alsb.stages.routing.ui.factory.RoutingResponseFactory"
                id="com.bea.alsb.messageflow.stages.routing.ResponseAction"
                palette-id="none"/>
            </action>
          </actions>
      </stage_ui>
   </extension>
   
   
 <!--
				Message Flow - Communication Action Commands
 -->
 <extension
       point="org.eclipse.ui.commands">
    <category
          description="%CommunicationCategory.description"
          id="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          name="%CommunicationCategory.name"/>
   
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.dynamicRouting"
          name="com.bea.alsb.ui.editors.messageflow.design.dynamicRouting"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.routing"
          name="com.bea.alsb.ui.editors.messageflow.design.routing"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.routingTable"
          name="com.bea.alsb.ui.editors.messageflow.design.routingTable"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.routingCase"
          name="com.bea.alsb.ui.editors.messageflow.design.routingCase"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.routingDefault"
          name="com.bea.alsb.ui.editors.messageflow.design.routingDefault"/>
 </extension>
 
 <!--
				Message Flow - Communication Property Tabs
 -->
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">

       <propertyTab
             category="stageaction"
             id="messageflow.tab.DynamicRouting"
             label="Dynamic Routing"/>
       <propertyTab
             category="stageaction"
             id="messageflow.tab.Routing"
             label="Routing"/>
       <propertyTab
             category="stageaction"
             id="messageflow.tab.RoutingTable"
             label="Routing Table"/>
       <propertyTab
             category="stageaction"
             id="messageflow.tab.RoutingCase"
             label="Case"/>
       <propertyTab
             category="stageaction"
             id="messageflow.tab.RoutingDefaultCase"
             label="Default Case"/>
    </propertyTabs>
 </extension>
 
 <!--
				Message Flow - Communication Property Sections
 -->
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">
       <propertySection
             class="com.bea.alsb.stages.routing.ui.properties.DynamicRoutingSection"
             id="messageflow.section.DynamicRouting"
             tab="messageflow.tab.DynamicRouting">
          <input type="com.bea.alsb.stages.routing.ui.model.DynamicRoutingContainer"/>
       </propertySection>   
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.stages.routing.ui.model.RoutingRequestBranchNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.stages.routing.ui.model.RoutingResponseBranchNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.routing.ui.properties.RoutingSection"
             id="messageflow.section.Routing"
             tab="messageflow.tab.Routing">
          <input type="com.bea.alsb.stages.routing.ui.model.RoutingContainer"/>
       </propertySection>      
       <propertySection
             class="com.bea.alsb.stages.routing.ui.properties.RoutingTableSection"
             id="messageflow.section.RoutingTable"
             tab="messageflow.tab.RoutingTable">
          <input type="com.bea.alsb.stages.routing.ui.model.RoutingTableContainer"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.routing.ui.properties.RoutingCaseSection"
             id="messageflow.section.RoutingCase"
             tab="messageflow.tab.RoutingCase">
          <input type="com.bea.alsb.stages.routing.ui.model.RoutingCaseNode"/>
       </propertySection>
        <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.stages.routing.ui.model.RoutingDefaultCaseNode"/>
       </propertySection>
   </propertySections>
 </extension>       
 
 
</plugin>
