<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.core.runtime.contentTypes">
      <content-type id="com.bea.alsb.core.resources.xquery.content-type"
                    file-extensions="xq"
                    default-charset="UTF-8"
                    name="%xqueryContentTypeName"
                    priority="high"
                    base-type="org.eclipse.core.runtime.text">
         <describer class="com.bea.wli.ide.xquery.core.XQueryContentDescriber"/>
      </content-type>
   </extension>

</plugin>
