<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.bea.alsb.bpel.typesystem.core.wsdlTypeSystemFactories">
         <factory
            class="com.bea.alsb.bpel.alsbtypesystem.core.internal.AlsbWsdlTypeSystemFactory">
	    <enablement>
		  <with variable="affectedProjects">
			<iterate operator="or">
				<instanceof value="org.eclipse.core.resources.IProject"/>
				<test property="org.eclipse.wst.common.project.facet.core.projectFacet" 
				value="alsb.core:1.0.100" forcePluginActivation="true"/>
			</iterate>
		  </with>
	    </enablement>
      </factory>
   </extension>
</plugin>
