<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--    Content-Type for Flow   -->
    <extension point="org.eclipse.core.contenttype.contentTypes">

        <content-type id="com.bea.alsb.core.resources.flow.content-type"
                      name="%FlowResourceContentType_name"
                      base-type="org.eclipse.core.runtime.xml"
                      file-extensions="flow"
                      priority="high"/>

    </extension>
</plugin>
