<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension point="com.bea.alsb.common.typesystem.core.typeSystemFactories">

        <!-- XSD type system -->
        <factory class="com.bea.alsb.typesystem.core.internal.xsd.AlsbXSDTypeSystemFactory">
            <enablement>
                <with variable="affectedProjects">
                    <iterate operator="or">
                        <instanceof value="org.eclipse.core.resources.IProject"/>
                        <test property="org.eclipse.wst.common.project.facet.core.projectFacet"
                              value="alsb.core:1.0.100" forcePluginActivation="true"/>
                    </iterate>
                </with>
            </enablement>
        </factory>

        <!-- MFL type system -->
        <factory class="com.bea.alsb.typesystem.core.internal.xsd.AlsbMFLTypeSystemFactory">
            <enablement>
                <with variable="affectedProjects">
                    <iterate operator="or">
                        <instanceof value="org.eclipse.core.resources.IProject"/>
                        <test property="org.eclipse.wst.common.project.facet.core.projectFacet"
                              value="alsb.core:1.0.100" forcePluginActivation="true"/>
                    </iterate>
                </with>
            </enablement>
        </factory>

        <!-- Services type system -->
        <factory class="com.bea.alsb.typesystem.core.internal.service.AlsbServiceTypeSystemFactory">
            <enablement>
                <with variable="affectedProjects">
                    <iterate operator="or">
                        <instanceof value="org.eclipse.core.resources.IProject"/>
                        <test property="org.eclipse.wst.common.project.facet.core.projectFacet"
                              value="alsb.core:1.0.100" forcePluginActivation="true"/>
                    </iterate>
                </with>
            </enablement>
        </factory>

        <!-- System type system -->
        <factory class="com.bea.alsb.typesystem.core.internal.system.AlsbSystemTypeSystemFactory">
            <enablement>
                <with variable="affectedProjects">
                    <iterate operator="or">
                        <instanceof value="org.eclipse.core.resources.IProject"/>
                        <test property="org.eclipse.wst.common.project.facet.core.projectFacet"
                              value="alsb.core:1.0.100" forcePluginActivation="true"/>
                    </iterate>
                </with>
            </enablement>
        </factory>
    </extension>

</plugin>
