<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


	<!--
				Main UI Layout
	-->
    <extension point="org.eclipse.ui.perspectives"> 
       <perspective id="com.bea.alsb.ui.perspectives.aqualogic"
             		class="com.bea.alsb.ui.perspectives.AquaLogicPerspectiveFactory"
		            icon="icons/perspective/alsb_perspective.gif"             
             		name="%AquaLogicPerspective_name"/>
    </extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="com.bea.alsb.ui.perspectives.aqualogic"/>
      </perspectiveExtension>
   </extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <perspectiveShortcut id="com.bea.alsb.ui.perspectives.aqualogic"/>
      </perspectiveExtension>
   </extension>

	<!--
				Project decorators
	-->
    <extension point="org.eclipse.ui.ide.projectNatureImages">
       <image id="com.bea.alsb.ide.ui.natures.alsb.image"
              icon="icons/decorators/alsb_project.gif"
              natureId="com.bea.alsb.core.natures.alsb.project"/>
    </extension>

    <extension point="org.eclipse.ui.ide.projectNatureImages">
       <image id="com.bea.alsb.ide.ui.natures.alsb.image"
              icon="icons/decorators/container_project.gif"
              natureId="com.bea.alsb.core.natures.alsb.container"/>
    </extension>

    <!--
				Preferences Pages
	-->
    <extension point="org.eclipse.ui.preferencePages">
        <page id="com.bea.alsb.ui.preferences.general"
              class="com.bea.alsb.ui.preferences.GeneralPreferencePage"
              name="%GeneralPreferencePage_name"/>
        <page id="com.bea.alsb.ui.preferences.typeAssociations"
              category="com.bea.alsb.ui.preferences.general"
              class="com.bea.alsb.ui.preferences.ResourceTypeAssociationsPreferencePage"
              name="%ResourceTypeAssociationsPreferencePage_name"/>
    </extension>

    <!--
                Import / Export
                
                Import wizards do not technically support the perspective settings
                but they are necessary to achieve the desired behavior for the ALSB
                import wizards.
    -->
    <extension point="org.eclipse.ui.importWizards">
        <category id="com.bea.alsb.import"
                  name="%ALSBCategory_name">
        </category>
		<wizard id="com.bea.alsb.ui.wizards.importconfig"
				category="com.bea.alsb.import"
                icon="icons/import/import_config_jar.gif"
                name="%ALSB_Configuration_ImportExport_name"
              	finalPerspective="com.bea.alsb.ui.perspectives.aqualogic"
              	preferredPerspectives="com.bea.alsb.ui.perspectives.aqualogic"
                class="com.bea.alsb.ui.repositories.jar.WorkspaceImportWizard">
            <description>%ALSB_Import_description</description>
            <selection class="org.eclipse.core.resources.IResource" />
		</wizard>
		<wizard id="com.bea.alsb.ui.wizards.importZIP"
				category="com.bea.alsb.import"
                icon="icons/import/import_zip.gif"
                name="%ALSB_Configuration_ImportZip_name"
              	finalPerspective="com.bea.alsb.ui.perspectives.aqualogic"
              	preferredPerspectives="com.bea.alsb.ui.perspectives.aqualogic"
                class="com.bea.alsb.ui.repositories.bulk.ZipImportWizard">
            <description>%ALSB_Import_description</description>
            <selection class="org.eclipse.core.resources.IResource" />
		</wizard>
		<wizard id="com.bea.alsb.ui.wizards.importURL"
				category="com.bea.alsb.import"
                icon="icons/import/import_url.gif"
                name="%ALSB_Configuration_ImportFromURL_name"
              	finalPerspective="com.bea.alsb.ui.perspectives.aqualogic"
              	preferredPerspectives="com.bea.alsb.ui.perspectives.aqualogic"
                class="com.bea.alsb.ui.repositories.bulk.UrlImportWizard">
            <description>%ALSB_Import_description</description>
            <selection class="org.eclipse.core.resources.IResource" />
		</wizard>
    </extension>

    <extension point="org.eclipse.ui.exportWizards">
        <category id="com.bea.alsb.export"
                  name="%ALSBCategory_name">
        </category>
        <wizard id="com.bea.alsb.ui.wizards.exportconfig.jar"
				category="com.bea.alsb.export"
                icon="icons/export/export_config_jar.gif"
                name="%ALSB_Configuration_ExportJar_name"
                class="com.bea.alsb.ui.repositories.jar.JarExportWizard">
            <description>%ALSB_Export_description</description>
            <selection class="org.eclipse.core.resources.IResource"/>
        </wizard>
        <wizard id="com.bea.alsb.ui.wizards.exportconfig.server"
				category="com.bea.alsb.export"
                icon="icons/export/export_server.gif"
                name="%ALSB_Configuration_ExportServer_name"
                class="com.bea.alsb.ui.repositories.jar.ServerExportWizard">
            <description>%ALSB_Export_description</description>
            <selection class="org.eclipse.core.resources.IResource"/>
        </wizard>
    </extension>


	<!--
				New Container / Project
	-->
    <extension point="org.eclipse.ui.newWizards">
		<category
        id="com.bea.alsb.new"
        name="%ALSBCategory_name"
        >
		</category>
        <wizard id="com.bea.alsb.ui.wizards.newcontainer"
              	category="com.bea.alsb.new"
              	icon="icons/project/new_container_project.gif"
              	name="%NewContainerWizard_name"
              	class="com.bea.alsb.ui.wizards.NewALSBContainerWizard"
              	finalPerspective="com.bea.alsb.ui.perspectives.aqualogic"
              	preferredPerspectives="com.bea.alsb.ui.perspectives.aqualogic"
              	project="true">
           <description>%NewContainerWizard_description</description>
        </wizard>
        <wizard id="com.bea.alsb.ui.wizards.newproject"
              	category="com.bea.alsb.new"
              	icon="icons/project/new_alsb_project.gif"              
              	name="%NewProjectWizard_name"
              	class="com.bea.alsb.ui.wizards.NewALSBProjectWizard"
              	finalPerspective="com.bea.alsb.ui.perspectives.aqualogic"
              	preferredPerspectives="com.bea.alsb.ui.perspectives.aqualogic"
              	project="true">
           <description>%NewProjectWizard_description</description>
        </wizard>
        <wizard
            category="com.bea.alsb.new"
            class="com.bea.wli.ide.mapper.wizards.MapperNewWizard"
            finalPerspective="com.bea.alsb.common.mapper.perspectives.MapperPerspective"
            icon="icons/resources/new_xq.png"
            id="com.bea.alsb.common.mapper.wizards.MapperNewWizard"
            name="%NewMapperWizard_name"
            preferredPerspectives="com.bea.alsb.common.mapper.perspectives.MapperPerspective">
         <description>%NewMapperWizard_description</description>
      </wizard>
      <wizard
            name="%NewMFLWizard_name"
            icon="icons/resources/new_mfl.png"
			category="com.bea.alsb.new"
            class="com.bea.wli.ide.formatbuilder.wizards.MFLNewWizard"
            id="com.bea.alsb.common.formatbuilder.wizards.MFLNewWizard">
         <description>%NewMFLWizard_description</description>
      </wizard>
    </extension>

    <!--
                Views
    -->

    <extension point="org.eclipse.ui.propertyPages">
        <page
                class="com.bea.alsb.ui.containers.properties.ContainerPropertyPage"
                id="com.bea.alsb.ui.properties.containerPropertyPage"
                name="%ContainerPropertyPage_name"
                adaptable="true"
                objectClass="org.eclipse.core.resources.IProject">
            <filter
                    name="nature"
                    value="com.bea.alsb.core.natures.alsb.container">
            </filter>
        </page>
    </extension>
    
    <extension point="org.eclipse.ui.navigator.navigatorContent">
        <commonWizard type="new" 
                      menuGroupId="com.bea.alsb.new.project"
                      wizardId="com.bea.alsb.ui.wizards.newcontainer">
            <enablement>
                <or>
                    <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
                    <adapt type="org.eclipse.core.resources.IProject"/>
                    <and>
                        <instanceof value="java.util.Collection"/>
                        <count value="0"/>
                    </and>
                </or>
            </enablement>
        </commonWizard>
        <commonWizard type="new" 
                      menuGroupId="com.bea.alsb.new.project"
                      wizardId="com.bea.alsb.ui.wizards.newproject">
            <enablement>
                <or>
                    <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
                    <adapt type="org.eclipse.core.resources.IProject"/>
                    <and>
                        <instanceof value="java.util.Collection"/>
                        <count value="0"/>
                    </and>
                </or>
            </enablement>
        </commonWizard>
        <commonWizard type="import" 
                      menuGroupId="com.bea.alsb.ui.import"
                      wizardId="com.bea.alsb.ui.wizards.importconfig">
            <enablement>
                <or>
                    <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
                    <adapt type="org.eclipse.core.resources.IProject"/>
                    <and>
                        <instanceof value="java.util.Collection"/>
                        <count value="0"/>
                    </and>
                    <adapt type="org.eclipse.core.resources.IResource">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb"/>
				    </adapt>
                </or>
            </enablement>
        </commonWizard>
        <commonWizard type="import" 
                      menuGroupId="com.bea.alsb.ui.import"
                      wizardId="com.bea.alsb.ui.wizards.importZIP">
             <enablement>
                <or>
                    <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
                    <adapt type="org.eclipse.core.resources.IProject"/>
                    <and>
                        <instanceof value="java.util.Collection"/>
                        <count value="0"/>
                    </and>
                    <adapt type="org.eclipse.core.resources.IResource">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb"/>
				    </adapt>
                </or>
            </enablement>
        </commonWizard>
        <commonWizard type="import" 
                      menuGroupId="com.bea.alsb.ui.import"
                      wizardId="com.bea.alsb.ui.wizards.importURL">
            <enablement>
                <or>
                    <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
                    <adapt type="org.eclipse.core.resources.IProject"/>
                    <and>
                        <instanceof value="java.util.Collection"/>
                        <count value="0"/>
                    </and>
                    <adapt type="org.eclipse.core.resources.IResource">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb"/>
				    </adapt>
                </or>
            </enablement>
        </commonWizard>
       <commonWizard type="export" 
                      menuGroupId="com.bea.alsb.ui.export"
                      wizardId="com.bea.alsb.ui.wizards.exportconfig.jar">
            <enablement>
                <or>
                    <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
                    <adapt type="org.eclipse.core.resources.IProject"/>
                    <and>
                        <instanceof value="java.util.Collection"/>
                        <count value="0"/>
                    </and>
                    <adapt type="org.eclipse.core.resources.IResource">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb"/>
				    </adapt>
                </or>
            </enablement>
        </commonWizard>
       <commonWizard type="export" 
                     menuGroupId="com.bea.alsb.ui.export"
                     wizardId="com.bea.alsb.ui.wizards.exportconfig.server">
             <enablement>
                <or>
                    <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
                    <adapt type="org.eclipse.core.resources.IProject"/>
                    <and>
                        <instanceof value="java.util.Collection"/>
                        <count value="0"/>
                    </and>
                    <adapt type="org.eclipse.core.resources.IResource">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb"/>
				    </adapt>
                </or>
            </enablement>
        </commonWizard> 
        
        <commonWizard type="new" 
                      menuGroupId="com.bea.alsb.new"
                      wizardId="com.bea.alsb.common.formatbuilder.wizards.MFLNewWizard">
            <enablement>
                <or>
                    <adapt type="org.eclipse.core.resources.IResource">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb.project"/>
				    </adapt>
                </or>
            </enablement>
            
        </commonWizard>
        
        <commonWizard type="new" 
                      menuGroupId="com.bea.alsb.new"
                      wizardId="com.bea.alsb.common.mapper.wizards.MapperNewWizard">
            <enablement>
                <or>
                    <adapt type="org.eclipse.core.resources.IResource">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb.project"/>
				    </adapt>
                </or>
            </enablement>
        </commonWizard>
    </extension>
    
    <!-- 
         Navigator Content extension for manipulating how ALSB projects are displayed in the 
         Eclipse Project Explorer view.  This content provider nests ALSB projects under 
         ALSB Configurations.
         
         Some notes on the priority attribute setting for this content provider:
         
             The 'priority' attribute is set to 'high' for this content provider, this
             setting will cause the ALSB Projects contributed by this extension to be 
             categorized by the CommonViewerSorter in the 'high bin' and therefore
             displayed before any system resources in the configuration.  
         
         The id value for this extension is referenced in the AlsbContainerActionProvider class.
    -->
    <extension point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent name="%ALSB_Configuration_Content_Provider"
                          priority="high" activeByDefault="true"
                          contentProvider="com.bea.alsb.ui.explorer.projectnester.AlsbContainerContentProvider"
                          labelProvider="com.bea.alsb.ui.explorer.projectnester.AlsbContainerLabelProvider"
                          icon="icons/explorer/alsb-config-filter-16.gif"             
                          id="com.bea.alsb.ui.projects.nested.view">
            <triggerPoints>
                <or>
                    <!-- Provide children (ALSB Projects) for ALSB configurations. -->
                    <adapt type="org.eclipse.core.resources.IProject">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb.container"/>
                    </adapt>
                </or>
            </triggerPoints>
            
            <possibleChildren>
                <or>
                    <!-- Provide the parent (ALSB Configuration) for ALSB projects. -->
                    <adapt type="org.eclipse.core.resources.IProject">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb.project"/>
                    </adapt>
                </or>
            </possibleChildren>
            
            <!--
                Drop assistant provides support for dragging and dropping ALSB projects
                onto ALSB containers.
            -->
            <dropAssistant class="com.bea.alsb.ui.explorer.projectnester.AlsbContainerDropAssistant"
                           id="com.bea.alsb.ui.project.dropassistant">
                           
                <!-- Provide support for dropping ALSB projects on ALSB containers -->
                <possibleDropTargets>
                    <or>
                        <adapt type="org.eclipse.core.resources.IProject">
				            <test forcePluginActivation="true"
				                  property="org.eclipse.core.resources.projectNature"
				                  value="com.bea.alsb.core.natures.alsb.container"/>
                        </adapt>
                    </or>
                </possibleDropTargets>
            </dropAssistant>
            
        </navigatorContent>
    </extension>
    
    <!--
        Navigator Content extension which REMOVES ALSB projects (which are associated
        with an ALSB configuration) from the top level of the tree in the 
        Project Explorer view.
        
       The id value for this extension is referenced in the AlsbContainerActionProvider class.
    -->
    <extension point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent name="%ALSB_Project_Filter" priority="low" activeByDefault="true"
                          contentProvider="com.bea.alsb.ui.explorer.projectnester.AlsbProjectContentProviderOverride"
                          labelProvider="com.bea.alsb.ui.explorer.projectnester.AlsbContainerLabelProvider"
                          icon="icons/explorer/alsb-config-filter-16.gif"             
                          id="com.bea.alsb.ui.projects.view.hide">
                          
            <triggerPoints>
                <or>
                    <!-- 
                         Intercept the default behavior of the javaContent content provider
                         at the workspace root to remove ALSB Projects from the root of the
                         Project Explorer tree. 
                    -->
                    <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
                </or>
            </triggerPoints>
            
            <possibleChildren>
                <or>
                   <!-- 
                        The following is necessary for this content provider to be able
                        to detect the deletion of an ALSB Configuration.  Its not possible 
                        to be more specific than an IProject, since the project is no longer
                        accessible we can't check for the ALSB Container nature. 
                   -->
                   <adapt type="org.eclipse.core.resources.IProject"/>
                </or>
            </possibleChildren>
            
            <!-- Override the jdt javaContent content provider. -->
            <override suppressedExtensionId="org.eclipse.jdt.java.ui.javaContent"/>
        </navigatorContent>
    </extension> 
    
   <!-- 
         Navigator Content extension for displaying virtual resource folders under 
         an ALSB configuration.
         
         Some notes on the priority attribute setting for this content provider:
         
             The 'priority' attribute is set to 'higher' for this content provider, this
             setting will cause the Resource Summary folder contributed by this extension to be 
             categorized by the CommonViewerSorter in the 'higher bin' and therefore
             displayed before any system resources (normal priority) and ALSB Projects (high
             priority when nested under configurations) in the configuration.  
         
    -->
    <extension point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent name="%ALSB_Configuration_Summary_Content_Provider_name"
                          priority="higher" activeByDefault="true"
                          contentProvider="com.bea.alsb.ui.explorer.resourcebrowser.ResourceBrowserContentProvider"
                          labelProvider="com.bea.alsb.ui.explorer.resourcebrowser.ResourceBrowserLabelProvider"
                          icon="icons/explorer/resource-summary-wiz-16.gif"             
                          id="com.bea.alsb.ui.configuration.resources.view">
            <triggerPoints>
                <or>
                    <!-- Provide children (AlsbVirtualResourceFolders) for ALSB configurations. -->
                    <adapt type="org.eclipse.core.resources.IProject">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb.container"/>
                    </adapt>
                    
                    <!-- Provide child for all virtual folder types -->
                    <instanceof value="com.bea.alsb.ui.explorer.resourcebrowser.VirtualFolder"/>
                </or>
            </triggerPoints>
            
            <possibleChildren>
                <or>
                    <!-- Provide the parent (ALSB Configuration) for the virtual root. -->
                    <instanceof value="com.bea.alsb.ui.explorer.resourcebrowser.VirtualFolder"/>
                </or>
            </possibleChildren>
            
            <!--
                This action provider provides the 'Open' and 'Open With' contributions to
                an ALSB resource's context menu.
            -->
            <actionProvider class="com.bea.alsb.ui.explorer.resourcebrowser.VOpenActionProvider"
                            id="com.bea.alsb.ui.explorer.content.providers.VOpenActionProvider">
                <enablement>
                    <or>
                        <instanceof value="com.bea.alsb.ui.explorer.resourcebrowser.AlsbVirtualResource"/>
                    </or>
                </enablement>
            </actionProvider>
            
            <!--
                This action provider provides the 'Properties' contribution to an ALSB resource's
                context menu.
            -->
            <actionProvider class="com.bea.alsb.ui.explorer.resourcebrowser.VPropertiesActionProvider"
                            id="com.bea.alsb.ui.explorer.content.providers.VPropertiesActionProvider">
                <enablement>
                    <or>
                        <instanceof value="com.bea.alsb.ui.explorer.resourcebrowser.AlsbVirtualResource"/>
                    </or>
                </enablement>
            </actionProvider>
            
            <!--
                Used to maintain order for the children of the types specified in the parentExpression tags.
            -->
            <commonSorter id="com.bea.alsb.ui.configuration.vfolder.sorter"
                          class="com.bea.alsb.ui.explorer.resourcebrowser.ResourceBrowserSorter">
                <parentExpression>
                    <or>
                        <instanceof value="com.bea.alsb.ui.explorer.resourcebrowser.ResourceSummaryRoot"/>
                        <instanceof value="com.bea.alsb.ui.explorer.resourcebrowser.FixedContentFolder"/>
                    </or>
                </parentExpression>
            </commonSorter>
        </navigatorContent>
    </extension>
    
    <!-- 
        Associate the specified content providers with the project explorer view.
    -->
    <extension point="org.eclipse.ui.navigator.viewer">
        <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
            <includes>
                <contentExtension isRoot="false" pattern="com.bea.alsb.ui.projects.nested.view"/>
                <contentExtension isRoot="false" pattern="com.bea.alsb.ui.projects.view.hide"/>
                <contentExtension isRoot="false" pattern="com.bea.alsb.ui.configuration.resources.view"/>
            </includes>
        </viewerContentBinding>
    </extension>
    
    <!--
        Decorates ALSB Configuration icons in project explorer tree with 'problem' decorations
        when a project associated with that configuration has errors/warnings/infos. Only only
        enabled when the project nester content extension is also enabled. 
    -->
    <extension point="org.eclipse.ui.decorators">
       <decorator id="com.bea.alsb.ui.explorer.projectnester.container.decorator" 
                  label="%ALSB_Configuration_Decorator_label"
                  class="com.bea.alsb.ui.explorer.projectnester.ConfigurationDecorator"
                  adaptable="false"
                  state="true"
                  lightweight="false">
           <enablement>
               <and>
                   <objectClass name="org.eclipse.core.resources.IProject"/>
                   <or>
                       <objectState name="projectNature" value="com.bea.alsb.core.natures.alsb.container"/>
                       <objectState name="projectNature" value="com.bea.alsb.core.natures.alsb.project"/>
                   </or>
               </and>
           </enablement>
       </decorator>
    </extension>
    
    <!-- 
        Overrides the Eclipse default rename (F2) behavior for ALSB projects.
        The primary purpose for this override is the make sure ALSB project
        names do not end with whitespace on non-win32 platforms.  On non-win32 
        platforms it is valid for a project name to end with whitespace, but it 
        is not  valid for the  ALSB config framework. 
        
        This override is in effect for all platforms, but the enhanced 
        filename checks only take place on non-win32 platforms, e.g. default
        behavior/implementation on Windows platforms.
    -->
    <extension point="org.eclipse.ui.navigator.navigatorContent">
   		<actionProvider 
   		    class="com.bea.alsb.ui.project.rename.AlsbProjectRenameActionProvider"
   		    id="com.bea.alsb.ui.RenameOverrideAction"
   		    overrides="org.eclipse.ui.navigator.resources.actions.RefactorActions"
   		    priority="high">
   		   <enablement>
               <or>
                   <adapt type="org.eclipse.core.resources.IProject">
				       <test forcePluginActivation="true"
				             property="org.eclipse.core.resources.projectNature"
				             value="com.bea.alsb.core.natures.alsb.project"/>
				   </adapt>
                </or>
   		    </enablement> 
   		</actionProvider>
    </extension>
    
    <!-- 
        Attach the rename override to the Elcipse Project Explorer view.
    -->
    <extension point="org.eclipse.ui.navigator.viewer">
        <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
            <includes>
                <actionExtension pattern="com.bea.alsb.ui.RenameOverrideAction"/>
            </includes>
        </viewerActionBinding>
    </extension>
</plugin>
