<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="com.bea.alsb.core.stages.ui">
      <stage_ui>
         <palette>
            <items>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.Communication"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.routingOptions"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.RoutingOptions"
                     label="%items.routingOptions.label"
                     palette-icon-small="icons/communication/16/routing_options.gif"
                     palette-icon-large="icons/communication/24/routing_options.gif"
                     tooltip="%items.routingOptions.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.Communication"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.serviceCallout"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.ServiceCallout"
                     label="%items.serviceCallout.label"
                     palette-icon-small="icons/communication/16/service_callout.gif"
                     palette-icon-large="icons/communication/24/service_callout.gif"
                     tooltip="%items.serviceCallout.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.Communication"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.transportHeaders"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.TransportHeaders"
                     label="%items.transportHeaders.label"
                     palette-icon-small="icons/communication/16/transport_headers.gif"
                     palette-icon-large="icons/communication/24/transport_headers.gif"
                     tooltip="%items.transportHeaders.tooltip"/>
            </items>
     
            <items>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.FlowControl"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.forEach"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.ForEach"
                     label="%items.forEach.label"
                     palette-icon-small="icons/flow_control/16/foreach.gif"
                     palette-icon-large="icons/flow_control/24/foreach.gif"
                     tooltip="%items.forEach.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.FlowControl"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.ifThenNode"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.IfThenStage"
                     label="%items.ifThen.label"
                     palette-icon-small="icons/flow_control/16/ifthen.gif"
                     palette-icon-large="icons/flow_control/24/ifthen.gif"
                     tooltip="%items.ifThen.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.FlowControl"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.raiseError"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.RaiseError"
                     label="%items.raiseError.label"
                     palette-icon-small="icons/flow_control/16/raise_error.gif"
                     palette-icon-large="icons/flow_control/24/raise_error.gif"
                     tooltip="%items.raiseError.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.FlowControl"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.reply"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Reply"
                     label="%items.reply.label"
                     palette-icon-small="icons/flow_control/16/reply.gif"
                     palette-icon-large="icons/flow_control/24/reply.gif"
                     tooltip="%items.reply.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.FlowControl"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.skip"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Skip"
                     label="%items.skip.label"
                     palette-icon-small="icons/flow_control/16/skip.gif"
                     palette-icon-large="icons/flow_control/24/skip.gif"
                     tooltip="%items.skip.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.FlowControl"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.resume"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Resume"
                     label="%items.resume.label"
                     palette-icon-small="icons/flow_control/16/resume.gif"
                     palette-icon-large="icons/flow_control/24/resume.gif"
                     tooltip="%items.skip.tooltip"/>
            </items>
            
            <items>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.MessageProcessing"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.assign"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Assign"
                     label="%items.assign.label"
                     palette-icon-small="icons/message_processing/16/assign.gif"
                     palette-icon-large="icons/message_processing/24/assign.gif"
                     tooltip="%items.assign.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.MessageProcessing"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.delete"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Delete"
                     label="%items.delete.label"
                     palette-icon-small="icons/message_processing/16/delete.gif"
                     palette-icon-large="icons/message_processing/24/delete.gif"
                     tooltip="%items.delete.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.MessageProcessing"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.insert"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Insert"
                     label="%items.insert.label"
                     palette-icon-small="icons/message_processing/16/insert.gif"
                     palette-icon-large="icons/message_processing/24/insert.gif"
                     tooltip="%items.insert.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.MessageProcessing"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.javaCallout"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.JavaCallout"
                     label="%items.javaCallout.label"
                     palette-icon-small="icons/message_processing/16/java_callout.gif"
                     palette-icon-large="icons/message_processing/24/java_callout.gif"
                     tooltip="%items.javaCallout.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.MessageProcessing"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.mfl"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.MflTransform"
                     label="%items.mfl.label"
                     palette-icon-small="icons/message_processing/16/mfl.gif"
                     palette-icon-large="icons/message_processing/24/mfl.gif"
                     tooltip="%items.mfl.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.MessageProcessing"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.rename"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Rename"
                     label="%items.rename.label"
                     palette-icon-small="icons/message_processing/16/rename.gif"
                     palette-icon-large="icons/message_processing/24/rename.gif"
                     tooltip="%items.rename.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.MessageProcessing"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.replace"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Replace"
                     label="%items.replace.label"
                     palette-icon-small="icons/message_processing/16/replace.gif"
                     palette-icon-large="icons/message_processing/24/replace.gif"
                     tooltip="%items.replace.tooltip"/>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.stage.MessageProcessing"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.validate"
                     group-id="com.bea.alsb.process.messageflow.core.group.Stage"
                     id="com.bea.alsb.process.messageflow.core.item.Validate"
                     label="%items.validate.label"
                     palette-icon-small="icons/message_processing/16/validate.gif"
                     palette-icon-large="icons/message_processing/24/validate.gif"
                     tooltip="%items.validate.tooltip"/>
            </items>
           
            <items>
               <item
                     category-id="com.bea.alsb.process.messageflow.core.category.route.FlowControl"
                     command-id="com.bea.alsb.ui.editors.messageflow.design.ifThenNode"
                     group-id="com.bea.alsb.process.messageflow.core.group.Route"
                     id="com.bea.alsb.process.messageflow.core.item.IfThenRoute"
                     label="%items.ifThen.label"
                     palette-icon-small="icons/flow_control/16/ifthen.gif"
                     palette-icon-large="icons/flow_control/24/ifthen.gif"
                     tooltip="%items.ifThen.tooltip"/>
           </items>       
         </palette>
         <actions>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/assign"
                  type="stage">
               <node
                     canvas-icon-large="icons/message_processing/32/assign.gif"
                     canvas-icon-small="icons/message_processing/24/assign.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.AssignFactory"
                     id="com.bea.alsb.messageflow.stages.transform.Assign"
                     menu-icon-large="icons/message_processing/24/assign.gif"
                     menu-icon-small="icons/message_processing/16/assign.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.MessageProcessing"
                     outline-icon-large="icons/message_processing/24/assign.gif"
                     outline-icon-small="icons/message_processing/16/assign.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Assign"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/delete"
                  type="stage">
               <node
                     canvas-icon-large="icons/message_processing/32/delete.gif"
                     canvas-icon-small="icons/message_processing/24/delete.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.DeleteFactory"
                     id="com.bea.alsb.messageflow.stages.transform.Delete"
                     menu-icon-large="icons/message_processing/24/delete.gif"
                     menu-icon-small="icons/message_processing/16/delete.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.MessageProcessing"
                     outline-icon-large="icons/message_processing/24/delete.gif"
                     outline-icon-small="icons/message_processing/16/delete.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Delete"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/foreach"
                  type="stage">
               <node
                     canvas-icon-large="icons/flow_control/32/foreach.gif"
                     canvas-icon-small="icons/flow_control/24/foreach.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.ForEachFactory"
                     id="com.bea.alsb.messageflow.stages.transform.ForEach"
                     menu-icon-large="icons/flow_control/24/foreach.gif"
                     menu-icon-small="icons/flow_control/16/foreach.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.FlowControl"
                     outline-icon-large="icons/flow_control/24/foreach.gif"
                     outline-icon-small="icons/flow_control/16/foreach.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.ForEach"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/ifThenElse"
                  type="stage">
               <node
                     canvas-icon-large="icons/flow_control/32/ifthen.gif"
                     canvas-icon-small="icons/flow_control/24/ifthen.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.IfThenStageFactory"
                     id="com.bea.alsb.messageflow.stages.transform.IfThenStage"
                     menu-icon-large="icons/flow_control/24/ifthen.gif"
                     menu-icon-small="icons/flow_control/16/ifthen.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.FlowControl"
                     outline-icon-large="icons/flow_control/24/ifthen.gif"
                     outline-icon-small="icons/flow_control/16/ifthen.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.IfThenStage"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/case"
                  type="stage">
			   <node
            class="com.bea.alsb.stages.transform.ui.factory.IfThenCaseStageFactory"
            id="com.bea.alsb.messageflow.stages.transform.CaseStage"
            menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
            palette-id="none"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/default"
                  type="stage">
               <node
                     class="com.bea.alsb.stages.transform.ui.factory.IfThenDefaultStageFactory"
                     id="com.bea.alsb.messageflow.stages.transform.DefaultStage"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                     palette-id="none"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/insert"
                  type="stage">
               <node
                     canvas-icon-large="icons/message_processing/32/insert.gif"
                     canvas-icon-small="icons/message_processing/24/insert.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.InsertFactory"
                     id="com.bea.alsb.messageflow.stages.transform.Insert"
                     menu-icon-large="icons/message_processing/24/insert.gif"
                     menu-icon-small="icons/message_processing/16/insert.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.MessageProcessing"
                     outline-icon-large="icons/message_processing/24/insert.gif"
                     outline-icon-small="icons/message_processing/16/insert.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Insert"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/javaCallout"
                  type="stage">
               <node
                     canvas-icon-large="icons/message_processing/32/java_callout.gif"
                     canvas-icon-small="icons/message_processing/24/java_callout.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.JavaCalloutFactory"
                     id="com.bea.alsb.messageflow.stages.transform.JavaCallout"
                     menu-icon-large="icons/message_processing/24/java_callout.gif"
                     menu-icon-small="icons/message_processing/16/java_callout.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.MessageProcessing"
                     outline-icon-large="icons/message_processing/24/java_callout.gif"
                     outline-icon-small="icons/message_processing/16/java_callout.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.JavaCallout"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/mflTransform"
                  type="stage">
               <node
                     canvas-icon-large="icons/message_processing/32/mfl.gif"
                     canvas-icon-small="icons/message_processing/24/mfl.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.MflTransformFactory"
                     id="com.bea.alsb.messageflow.stages.transform.MflTransform"
                     menu-icon-large="icons/message_processing/24/mfl.gif"
                     menu-icon-small="icons/message_processing/16/mfl.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.MessageProcessing"
                     outline-icon-large="icons/message_processing/24/mfl.gif"
                     outline-icon-small="icons/message_processing/16/mfl.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.MflTransform"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/Error"
                  type="stage">
               <node
                     canvas-icon-large="icons/flow_control/32/raise_error.gif"
                     canvas-icon-small="icons/flow_control/24/raise_error.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.RaiseErrorFactory"
                     id="com.bea.alsb.messageflow.stages.transform.RaiseError"
                     menu-icon-large="icons/flow_control/24/raise_error.gif"
                     menu-icon-small="icons/flow_control/16/raise_error.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.FlowControl"
                     outline-icon-large="icons/flow_control/24/raise_error.gif"
                     outline-icon-small="icons/flow_control/16/raise_error.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.RaiseError"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/rename"
                  type="stage">
               <node
                     canvas-icon-large="icons/message_processing/32/rename.gif"
                     canvas-icon-small="icons/message_processing/24/rename.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.RenameFactory"
                     id="com.bea.alsb.messageflow.stages.transform.Rename"
                     menu-icon-large="icons/message_processing/24/rename.gif"
                     menu-icon-small="icons/message_processing/16/rename.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.MessageProcessing"
                     outline-icon-large="icons/message_processing/24/rename.gif"
                     outline-icon-small="icons/message_processing/16/rename.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Rename"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/replace"
                  type="stage">
               <node
                     canvas-icon-large="icons/message_processing/32/replace.gif"
                     canvas-icon-small="icons/message_processing/24/replace.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.ReplaceFactory"
                     id="com.bea.alsb.messageflow.stages.transform.Replace"
                     menu-icon-large="icons/message_processing/24/replace.gif"
                     menu-icon-small="icons/message_processing/16/replace.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.MessageProcessing"
                     outline-icon-large="icons/message_processing/24/replace.gif"
                     outline-icon-small="icons/message_processing/16/replace.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Replace"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/config/reply"
                  type="stage">
               <node
                     canvas-icon-large="icons/flow_control/32/reply.gif"
                     canvas-icon-small="icons/flow_control/24/reply.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.ReplyFactory"
                     id="com.bea.alsb.messageflow.stages.transform.Reply"
                     menu-icon-large="icons/flow_control/24/reply.gif"
                     menu-icon-small="icons/flow_control/16/reply.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.FlowControl"
                     outline-icon-large="icons/flow_control/24/reply.gif"
                     outline-icon-small="icons/flow_control/16/reply.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Reply"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/routing-options"
                  type="stage">
               <node
                     canvas-icon-large="icons/communication/32/routing_options.gif"
                     canvas-icon-small="icons/communication/24/routing_options.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.RoutingOptionsFactory"
                     id="com.bea.alsb.messageflow.stages.transform.RoutingOptions"
                     menu-icon-large="icons/communication/24/routing_options.gif"
                     menu-icon-small="icons/communication/16/routing_options.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.Communication"
                     outline-icon-large="icons/communication/24/routing_options.gif"
                     outline-icon-small="icons/communication/16/routing_options.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.RoutingOptions"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/wsCallout"
                  type="stage">
               <node
                     canvas-icon-large="icons/communication/32/service_callout.gif"
                     canvas-icon-small="icons/communication/24/service_callout.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.ServiceCalloutFactory"
                     id="com.bea.alsb.messageflow.stages.transform.ServiceCallout"
                     menu-icon-large="icons/communication/24/service_callout.gif"
                     menu-icon-small="icons/communication/16/service_callout.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.Communication"
                     outline-icon-large="icons/communication/24/service_callout.gif"
                     outline-icon-small="icons/communication/16/service_callout.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.ServiceCallout"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/config/skip"
                  type="stage">
               <node
                     canvas-icon-large="icons/flow_control/32/skip.gif"
                     canvas-icon-small="icons/flow_control/24/skip.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.SkipFactory"
                     id="com.bea.alsb.messageflow.stages.transform.Skip"
                     menu-icon-large="icons/flow_control/24/skip.gif"
                     menu-icon-small="icons/flow_control/16/skip.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.FlowControl"
                     outline-icon-large="icons/flow_control/24/skip.gif"
                     outline-icon-small="icons/flow_control/16/skip.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Skip"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/config/resume"
                  type="stage">
               <node
                     canvas-icon-large="icons/flow_control/32/resume.gif"
                     canvas-icon-small="icons/flow_control/24/resume.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.ResumeFactory"
                     id="com.bea.alsb.messageflow.stages.transform.Resume"
                     menu-icon-large="icons/flow_control/24/resume.gif"
                     menu-icon-small="icons/flow_control/16/resume.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.FlowControl"
                     outline-icon-large="icons/flow_control/24/resume.gif"
                     outline-icon-small="icons/flow_control/16/resume.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Resume"/>
            </action>
             <action
                   id="http://www.bea.com/wli/sb/stages/transform/config/transport-headers"
                   type="stage">
               <node
                     canvas-icon-large="icons/communication/32/transport_headers.gif"
                     canvas-icon-small="icons/communication/24/transport_headers.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.TransportHeadersFactory"
                     id="com.bea.alsb.messageflow.stages.transform.TransportHeaders"
                     menu-icon-large="icons/communication/24/transport_headers.gif"
                     menu-icon-small="icons/communication/16/transport_headers.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.Communication"
                     outline-icon-large="icons/communication/24/transport_headers.gif"
                     outline-icon-small="icons/communication/16/transport_headers.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.TransportHeaders"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/validate"
                  type="stage">
               <node
                     canvas-icon-large="icons/message_processing/32/validate.gif"
                     canvas-icon-small="icons/message_processing/24/validate.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.ValidateFactory"
                     id="com.bea.alsb.messageflow.stages.transform.Validate"
                     menu-icon-large="icons/message_processing/24/validate.gif"
                     menu-icon-small="icons/message_processing/16/validate.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.stage.MessageProcessing"
                     outline-icon-large="icons/message_processing/24/validate.gif"
                     outline-icon-small="icons/message_processing/16/validate.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.Validate"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/requestAction"
                  type="stage">
	         	<node
	                 class="com.bea.alsb.stages.transform.ui.factory.RequestActionFactory"
	                 id="com.bea.alsb.stages.transform.ui.RequestAction"
	                 palette-id="none"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/responseAction"
                  type="stage">
	         	<node
	                 class="com.bea.alsb.stages.transform.ui.factory.ResponseActionFactory"
	                 id="com.bea.alsb.stages.transform.ui.ResponseAction"
	                 palette-id="none"/>
         	</action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/ifThenElse"
                  type="route">
               <node
                     canvas-icon-large="icons/flow_control/32/ifthen.gif"
                     canvas-icon-small="icons/flow_control/24/ifthen.gif"
                     class="com.bea.alsb.stages.transform.ui.factory.IfThenRouteFactory"
                     id="com.bea.alsb.messageflow.stages.transform.IfThenRoute"
                     menu-icon-large="icons/flow_control/24/ifthen.gif"
                     menu-icon-small="icons/flow_control/16/ifthen.gif"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.route.FlowControl"
                     outline-icon-large="icons/flow_control/24/ifthen.gif"
                     outline-icon-small="icons/flow_control/16/ifthen.gif"
                     palette-id="com.bea.alsb.process.messageflow.core.item.IfThenRoute"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/case"
                  type="route">
			   <node
            class="com.bea.alsb.stages.transform.ui.factory.IfThenCaseRouteFactory"
            id="com.bea.alsb.messageflow.stages.transform.CaseRoute"
            menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
            palette-id="none"/>
            </action>
            <action
                  id="http://www.bea.com/wli/sb/stages/transform/config/default"
                  type="route">
               <node
                     class="com.bea.alsb.stages.transform.ui.factory.IfThenDefaultRouteFactory"
                     id="com.bea.alsb.messageflow.stages.transform.DefaultRoute"
                     menu-id="com.bea.alsb.process.messageflow.core.menu.insert"
                     palette-id="none"/>
            </action>
          </actions> 
           
      </stage_ui>
   </extension>

 <!--
				Message Flow - Communication Action Commands
 -->
 <extension
       point="org.eclipse.ui.commands">
    <category
          description="%CommunicationCategory.description"
          id="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          name="%CommunicationCategory.name"/>
   

    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.routingOptions"
          name="com.bea.alsb.ui.editors.messageflow.design.routingOptions"/>
	<command
          categoryId="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.serviceCallout"
          name="com.bea.alsb.ui.editors.messageflow.design.serviceCallout"/>
	<command
          categoryId="com.bea.alsb.ui.editors.messageflow.communicationCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.transportHeaders"
          name="com.bea.alsb.ui.editors.messageflow.design.transportHeaders"/>
          
 </extension>
 

  <!--
				Message Flow - Flow Control Action Commands
 -->
 <extension
       point="org.eclipse.ui.commands">
    <category
          description="%FlowControlCategory.description"
          id="com.bea.alsb.ui.editors.messageflow.flowControlCategory"
          name="%FlowControlCategory.name"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.flowControlCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.forEach"
          name="com.bea.alsb.ui.editors.messageflow.design.forEach"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.flowControlCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.ifThenNode"
          name="com.bea.alsb.ui.editors.messageflow.design.ifThenNode"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.flowControlCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.elseIfNode"
          name="com.bea.alsb.ui.editors.messageflow.design.elseIfNode"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.flowControlCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.elseNode"
          name="com.bea.alsb.ui.editors.messageflow.design.elseNode"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.flowControlCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.raiseError"
          name="com.bea.alsb.ui.editors.messageflow.design.raiseError"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.flowControlCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.reply"
          name="com.bea.alsb.ui.editors.messageflow.design.reply"/>
	<command
          categoryId="com.bea.alsb.ui.editors.messageflow.flowControlCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.skip"
          name="com.bea.alsb.ui.editors.messageflow.design.skip"/>
 <command
       categoryId="com.bea.alsb.ui.editors.messageflow.flowControlCategory"
       id="com.bea.alsb.ui.editors.messageflow.design.resume"
       name="com.bea.alsb.ui.editors.messageflow.design.resume"/>      
 </extension>
 
 
 
 <!--
				Message Flow - Message Processing Action Commands
 -->
 <extension
       point="org.eclipse.ui.commands">
    <category
          description="%MessageProcessingCategory.description"
          id="com.bea.alsb.ui.editors.messageflow.messageProcessingCategory"
          name="%MessageProcessingCategory.name"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.messageProcessingCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.assign"
          name="com.bea.alsb.ui.editors.messageflow.design.assign"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.messageProcessingCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.delete"
          name="com.bea.alsb.ui.editors.messageflow.design.delete"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.messageProcessingCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.insert"
          name="com.bea.alsb.ui.editors.messageflow.design.insert"/>
    <command
          categoryId="com.bea.alsb.ui.editors.messageflow.messageProcessingCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.javaCallout"
          name="com.bea.alsb.ui.editors.messageflow.design.javaCallout"/>
	<command
          categoryId="com.bea.alsb.ui.editors.messageflow.messageProcessingCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.mfl"
          name="com.bea.alsb.ui.editors.messageflow.design.mfl"/>      
	<command
          categoryId="com.bea.alsb.ui.editors.messageflow.messageProcessingCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.rename"
          name="com.bea.alsb.ui.editors.messageflow.design.rename"/>   
	<command
          categoryId="com.bea.alsb.ui.editors.messageflow.messageProcessingCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.replace"
          name="com.bea.alsb.ui.editors.messageflow.design.replace"/>             
	<command
          categoryId="com.bea.alsb.ui.editors.messageflow.messageProcessingCategory"
          id="com.bea.alsb.ui.editors.messageflow.design.validate"
          name="com.bea.alsb.ui.editors.messageflow.design.validate"/>             
 </extension>
 
 <!--
				Message Flow - Communication Property Tabs
 -->
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">

       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.RoutingOptions"
             label="Routing Options"/>
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.ServiceCallout"
             label="Service Callout"/>
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.TransportHeaders"
             label="Transport Headers"/>
    </propertyTabs>
 </extension>
 
 <!--
				Message Flow - Communication Property Sections
 -->
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">

       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.RoutingOptionsSection"
             id="messageflow.section.RoutingOptions"
             tab="messageflow.tab.RoutingOptions">
          <input type="com.bea.alsb.stages.transform.ui.model.RoutingOptionsNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.ServiceCalloutSection"
             id="messageflow.section.ServiceCallout"
             tab="messageflow.tab.ServiceCallout">
          <input type="com.bea.alsb.stages.transform.ui.model.ServiceCalloutNode"/>
       </propertySection>
              <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.stages.transform.ui.model.RoutingResponseBranchNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.stages.transform.ui.model.RoutingRequestBranchNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.TransportHeadersSection"
             id="messageflow.section.TransportHeaders"
             tab="messageflow.tab.TransportHeaders">
          <input type="com.bea.alsb.stages.transform.ui.model.TransportHeadersNode"/>
       </propertySection>
      
    </propertySections>
 </extension>
 
 <!--
				Message Flow - Flow Control Property Tabs
 --> 
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.ForEach"
             label="For Each"/>
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.If"
             label="If"/>
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.ElseIf"
             label="Else If"/>
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.RaiseError"
             label="Raise Error"/>
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.Reply"
             label="Reply"/>
    </propertyTabs>
 </extension>
 
 <!--
				Message Flow - Flow Control Property Sections
 -->
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.ForEachSection"
             id="messageflow.section.ForEach"
             tab="messageflow.tab.ForEach">
          <input type="com.bea.alsb.stages.transform.ui.model.ForEachContainer"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.IfBranchSection"
             id="messageflow.section.If"
             tab="messageflow.tab.If">
          <input type="com.bea.alsb.stages.transform.ui.model.IfThenCaseNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.process.messageflow.core.properties.DefaultPropertySection"
             id="messageflow.section.Default"
             tab="messageflow.tab.Default">
          <input type="com.bea.alsb.stages.transform.ui.model.IfThenDefaultNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.RaiseErrorSection"
             id="messageflow.section.RaiseError"
             tab="messageflow.tab.RaiseError">
          <input type="com.bea.alsb.stages.transform.ui.model.RaiseErrorNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.ReplySection"
             id="messageflow.section.Reply"
             tab="messageflow.tab.Reply">
          <input type="com.bea.alsb.stages.transform.ui.model.ReplyNode"/>
       </propertySection>
    </propertySections>
 </extension>
 
 <!--
				Message Flow - Message Processing Property Tabs
 --> 
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.Assign"
             label="Assign"/>
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.Delete"
             label="Delete"/>
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.Insert"
             label="Insert"/>
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.JavaCallout"
             label="JavaCallout"/>
       <propertyTab
             category="stageaction"
             id="messageflow.tab.MflTransform"
             label="MFL Transform"/>
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.Rename"
             label="Rename"/>
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.Replace"
             label="Replace"/>
       <propertyTab
             afterTab="messageflow.tab.General"
             category="stageaction"
             id="messageflow.tab.Validate"
             label="Validate"/>
    </propertyTabs>
 </extension>
 
 <!--
				Message Flow - Message Processing Property Sections
 -->
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="com.bea.alsb.process.messageflow.ui.editor.MessageFlowEditor">
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.AssignSection"
             id="messageflow.section.Assign"
             tab="messageflow.tab.Assign">
          <input type="com.bea.alsb.stages.transform.ui.model.AssignNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.DeleteSection"
             id="messageflow.section.Delete"
             tab="messageflow.tab.Delete">
          <input type="com.bea.alsb.stages.transform.ui.model.DeleteNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.InsertSection"
             id="messageflow.section.Insert"
             tab="messageflow.tab.Insert">
          <input type="com.bea.alsb.stages.transform.ui.model.InsertNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.JavaCalloutSection"
             id="messageflow.section.JavaCallout"
             tab="messageflow.tab.JavaCallout">
          <input type="com.bea.alsb.stages.transform.ui.model.JavaCalloutNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.MflTransformSection"
             id="messageflow.section.MflTransform"
             tab="messageflow.tab.MflTransform">
          <input type="com.bea.alsb.stages.transform.ui.model.MflTransformNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.RenameSection"
             id="messageflow.section.Rename"
             tab="messageflow.tab.Rename">
          <input type="com.bea.alsb.stages.transform.ui.model.RenameNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.ReplaceSection"
             id="messageflow.section.Replace"
             tab="messageflow.tab.Replace">
          <input type="com.bea.alsb.stages.transform.ui.model.ReplaceNode"/>
       </propertySection>
       <propertySection
             class="com.bea.alsb.stages.transform.ui.properties.ValidateSection"
             id="messageflow.section.Validate"
             tab="messageflow.tab.Validate">
          <input type="com.bea.alsb.stages.transform.ui.model.ValidateNode"/>
       </propertySection>
    </propertySections>
 </extension>
</plugin>
