<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!--
	<extension point="org.eclipse.ui.editors">
       <editor
               class="com.bea.alsb.process.bpel.ui.editor.BPELMultipageEditor"
               contributorClass="com.bea.alsb.process.bpel.ui.editor.BPELEditorActionContributor"
               default="true"
               icon="resources/images/util/process_16.gif"
               id="com.bea.alsb.process.bpel.ui.editor.BPELMultipageEditor"
               name="%BPELServiceEditor_name">
           <contentTypeBinding contentTypeId="com.bea.alsb.core.resources.bpel.content-type"/>
       </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            name="%wizardName"
            icon="resources/images/util/process_16.gif"
            category="com.bea.alsb.new"
            class="com.bea.alsb.process.bpel.ui.wizards.NewBPELWizard"
            id="com.bea.alsb.process.bpel.ui.wizards.NewBPELWizard"
            finalPerspective="com.bea.alsb.ui.perspectives.aqualogic"
            preferredPerspectives="com.bea.alsb.ui.perspectives.aqualogic"
            project="false">
      </wizard>
   </extension>
   <extension
         point="com.bea.workshop.common.ui.palette.DesignPaletteContributors">
      <contributor
            class="com.bea.alsb.process.bpel.ui.gef.GraphModelEditorPaletteContributor"
            id="com.bea.alsb.process.bpel.ui.GraphModelEditorPaletteContributor"
            editorPartClassName="com.bea.alsb.process.bpel.ui.gef.GraphModelEditor"
            paletteViewID="com.bea.workshop.common.ui.CorePaletteView"/>
   </extension>
   -->
</plugin>
