<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="typeSystemFactories" name="%typeSystemFactory" schema="ext-schema/xsdTypeSystemFactory.exsd"/>
   <extension-point id="mflClassGenerator" name="%mflClassGenerator" schema="ext-schema/mflClassGenerator.exsd"/>

   <extension
         point="com.bea.alsb.common.typesystem.core.typeSystemFactories">
      <factory
            class="com.bea.wli.ide.typesystem.core.internal.xsd.MFLTypeSystemFactory">
	    <enablement>
		  <with variable="affectedProjects">
         <iterate operator="and">
             <instanceof value="org.eclipse.core.resources.IProject"/>
             <test property="com.bea.wli.ide.typesystem.core.hasBuilder" value="com.bea.workshop.xmlbeans.core.XMLBeansBuilder"/>
             <test property="com.bea.wli.ide.typesystem.core.contributesExtension" value="com.bea.wli.ide.typesystem.core.mflClassGenerator"/>
         </iterate>
		  </with>
	    </enablement>
      </factory>
      <factory 
            class="com.bea.wli.ide.typesystem.core.internal.xsd.XBeansTypeSystemFactory">
	    <enablement>
		  <with variable="affectedProjects">
			<iterate operator="and">
				<instanceof value="org.eclipse.core.resources.IProject"/>
				<or>
					<test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="workshop.xmlbeans:2.3"/>
					<test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="wls.ear:10.3"/>
					<test property="com.bea.alsb.common.typesystem.core.hasBuilder" value="oracle.eclipse.tools.xmlbeans.XMLBeansBuilder"/>
					
					
				</or>
			</iterate>
		  </with>
	    </enablement>
      </factory>
   </extension>
   <extension
         point="oracle.eclipse.tools.xmlbeans.contentAdapters">
      <adapter
            class="com.bea.wli.ide.typesystem.core.internal.MFLContentAdapter"
            fileExtension="mfl"/>
   </extension>
      
   <extension
         id="mflProblem"
         name="MFL Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.bea.wli.ide.typesystem.core.internal.ProjectPropertyTester"
            id="com.bea.alsb.common.typesystem.core.projectProperties"
            namespace="com.bea.wli.ide.typesystem.core"
            properties="contributesExtension"
            type="org.eclipse.core.runtime.IAdaptable"/>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.bea.wli.ide.typesystem.core.internal.ProjectBuilderTester"
            id="com.bea.alsb.common.typesystem.core.projectBuilders"
            namespace="com.bea.alsb.common.typesystem.core"
            properties="hasBuilder"
            type="org.eclipse.core.runtime.IAdaptable"/>
   </extension>

</plugin>
