<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>
<contexts>


	<context id="uiAddVariableStructureDialog" 
		title="Add Variable Structure Dialog">
	    <description>Use this dialog to add a variable and add it to the tree of variable structures.</description>
		<topic href="uiAddVariableStructureDialog.htm" 
		label="Add Variable Structure Dialog"/>
	</context>
	
	<context id="uiModifyJARDependenciesEditor" 
		title="Modify JAR Dependencies Dialog">
		<description>In Oracle Service Bus, JAR resources can contain classes that depend on other classes in different JARs. Use this page to add or remove referenced JAR resources. </description>
		<topic href="uiModifyJARDependenciesEditor.htm" 
		label="Modify JAR Dependencies Dialog"/>
	</context>
	
	<context id="uiAlertDestinationEditor" 
		title="Alert Destination Editor">
		<description>An alert destination is a destination address for alert notifications in Oracle Service Bus. Use this page to configure an alert destination resource. </description>
		<topic href="uiAlertDestinationEditor.htm" 
		label="Alert Destination Editor"/>
	</context>

	<context id="uiPreferencesDialogALSBTypeAssociationsPage" 
		title="Type Associations Page">
		<description>Use this page to associate one or more file extensions with an Oracle Service Bus resource type.</description>  
		<topic href="uiPreferencesDialogALSBTypeAssociationsPage.htm" 
		label="Type Associations Page"/>
	</context>

<!-- Oracle Service Bus Configurations -->

	<context id="uiALSBDomainsView" 
		title="Oracle Service Bus Configurations View">
		<description>This view displays a hierarchical list of all your Oracle Service Bus configurations and the projects they contain.</description>  
		<topic href="uiALSBDomainsView.htm" 
		label="Oracle Service Bus Configurations View"/>
		<topic href="uiEditALSBDomainDialog.htm" 
		label="Oracle Service Bus Configuration Page"/>
	</context>
	
	<context id="uiEditALSBDomainDialog" 
		title="Oracle Service Bus Configuration Page">
		<description>An Oracle Service Bus configuration project is a grouping of Oracle Service Bus projects and resources destined for a server, a location for system resources (SMTP, UDDI, and such), and a container for validation. Use this dialog to edit an Oracle Service Bus configuration project. </description>  
		<topic href="uiEditALSBDomainDialog.htm" 
		label="Oracle Service Bus Configuration Page"/>
	</context>
	
	<context id="uiCreateALSBDomainDialog" 
		title="New Oracle Service Bus Configuration Project Wizard">
		<description>Use this wizard to create an Oracle Service Bus configuration project.</description>  
		<topic href="uiCreateALSBDomainDialog.htm" 
		label="New Oracle Service Bus Configuration Project Wizard"/>
		<topic href="uiEditALSBDomainDialog.htm" 
		label="Oracle Service Bus Configuration Page"/>
	</context>
	
	<context id="uiPSEditor" 
		title="New Oracle Service Bus Proxy Server">
		<description>Use this wizard to create an Oracle Service Bus proxy server.</description>  
		<topic href="uiProxyServerConfiguration.htm" 
		label="Oracle Service Bus Proxy Server Configuration Page"/>
	</context>
	
	
	<context id="uiEditEmailRecipientDialog" 
		title="Edit E-mail Recipient Page">
		<description>Use this page to configure the destination target for an alert sent via e-mail (that is, using the e-mail transport).</description>  
		<topic href="uiEditEmailRecipientDialog.htm" 
		label="Edit E-mail Recipient Page"/>
	</context>

	<context id="uiEditJMSDestinationDialog" 
		title="Edit JMS Destination Page">
		<description>Use this page to configure the destination target for an alert sent via JMS (that is, using the JMS transport).</description>  
		<topic href="uiEditJMSDestinationDialog.htm" 
		label="Edit JMS Destination Page"/>
	</context>
	
<!-- Export wizard -->
	
	<context id="uiExportWizardSelectResourcesForConfigurationJARPage" 
		title="Export wizard - Select Resources for Configuration JAR Page">
		<description>>Use this page to export Oracle Service Bus resources to a configuration JAR file</description>  
		<topic href="uiExportWizardSelectResourcesForConfigurationJARPage.htm" 
		label="Export wizard - Select Resources for Configuration JAR Page"/>
	</context>

	<context id="uiExportWizardALSBConfigurationJarExportPage" 
		title="Export wizard - Oracle Service Bus Configuration JAR Export Page">
		<description>Use this page to export Oracle Service Bus resources to a configuration JAR file</description>  
		<topic href="uiExportWizardALSBConfigurationJarExportPage.htm" 
		label="Export wizard - Oracle Service Bus Configuration JAR Export Page"/>
	</context>

	<context id="uiExportWizardReviewResourcesPage" 
		title="Export wizard - Export to Server - Review Resources Page">
		<description>Use this page to select the projects or resources you want to export.</description>  
		<topic href="uiExportWizardReviewResourcesPage.htm" 
		label="Export wizard - Export to Server - Review Resources Page"/>
	</context>

	<context id="uiExportWizardSelectResourcesForServerPage" 
		title="Export wizard - Export to Server - Select Resources Page">
		<description>Use this page to select the projects or resources you want to export. </description>  
		<topic href="uiExportWizardSelectResourcesForServerPage.htm" 
		label="Export wizard - Export to Server - Select Resources Page"/>
	</context>
	
<!-- Import wizard -->

	<context id="uiImportWizardConfigJARImportLoadResourcesPage" 
		title="Import wizard - Config JAR Import Load Resources Page">
		<description>Use this page to select a configuration JAR to import and an import destination.</description>  
		<topic href="uiImportWizardConfigJARImportLoadResourcesPage.htm" 
		label="Import wizard - Config JAR Import Load Resources Page"/>
	</context>
	
	<context id="uiImportWizardConfigJARImportReviewResourcesPage" 
		title="Import wizard - Config JAR Import Review Resources Page">
		<description>Use this page to select the objects on which you want to operate (create, update, or delete). </description>  
		<topic href="uiImportWizardConfigJARImportReviewResourcesPage.htm" 
		label="Import wizard - Config JAR Import Review Resources Page"/>
	</context>

	<context id="uiImportWizardConfigURLImportLoadResourcesPage" 
		title="Import wizard - URL Import - Load Resources Page">
		<description>Use this page to import resources such as WSDLs or XML schemas that are available on the Web. </description>  
		<topic href="uiImportWizardConfigURLImportLoadResourcesPage.htm" 
		label="Import wizard - URL Import - Load Resources Page"/>
	</context>
	
	<context id="uiImportWizardConfigURLImportReviewResourcesPage" 
		title="Import wizard - URL Import - Review Resources Page">
		<description>Use this page to select the objects you want to import. Clear the check boxes next to any resources that you do not want to include in this import. </description>  
		<topic href="uiImportWizardConfigURLImportReviewResourcesPage.htm" 
		label="Import  wizard - URL Import - Review Resources Page"/>
	</context>
	
	<context id="uiImportWizardConfigZIPImportLoadResourcesPage" 
		title="Import wizard - Config ZIP Import - Load Resources Page">
		<description>Use this page to select a ZIP file with resources to import and an import destination.</description>  
		<topic href="uiImportWizardConfigZIPImportLoadResourcesPage.htm" 
		label="Import wizard - Config ZIP Import - Load Resources Page"/>
	</context>
	
	<context id="uiImportWizardConfigZIPImportReviewResourcesPage" 
		title="Import wizard - Config ZIP Import - Review Resources Page">
		<description>Use this page to select the objects you want to import. Clear the check boxes next to any resources that you do not want to include in this import. </description>  
		<topic href="uiImportWizardConfigZIPImportReviewResourcesPage.htm" 
		label="Import wizard - Config ZIP Import - Review Resources Page"/>
	</context>
	


<!-- JNDI Provider -->	
	
	<context id="uiJNDIProviderDialog" 
		title="New JNDI Provider Resource wizard - Create a New JNDI Provider Page">
		<description>Use this page to create a JNDI provider.</description>  
		<topic href="uiJNDIProviderWizardCreateNewJNDIProviderPage.htm" 
		label="New JNDI Provider Resource wizard - Create a New JNDI Provider Page"/>
	</context>
	
	<context id="uiJNDIProviderEditor" 
		title="JNDI Provider Editor">
		<description>Use this page to edit an existing JNDI provider configuration</description>
		<topic href="uiJNDIProviderEditor.htm" 
		label="JNDI Provider Editor"/>
	</context>

	<context id="uiNewJNDIProviderWizardAddPage" 
		title="New JNDI Provider Resource wizard - Add a New JNDI Provider Page">
		<description>Use this page to configure a new JNDI provider resource. </description>  
		<topic href="uiJNDIProviderWizardAddNewJNDIProviderPage.htm" 
		label="New JNDI Provider Resource wizard - Add a New JNDI Provider Page"/>
	</context>



<!-- Message Flow Palette and Editor -->

	<context id="uiMessageFlowPalette" 
		title="Message Flow Design Palette">
		<description>The Message Flow Design Palette lists all the nodes and actions you can use to construct a message flow for a proxy service. To insert a node or an action into a message flow, drag the item from the palette to the Message Flow editor. For help on configuring the nodes and actions, click the node or action in the editor, click the Properties view, then press F1.</description>  
		<topic href="uiMessageFlowPalette.htm" 
		label="Message Flow Design Palette"/>
		<topic href="uiMessageFlowEditor.htm" 
		label="Message Flow Editor"/>
	</context>

	<context id="uiProxyServiceEditorMessageFlowPage" 
		title="Message Flow Editor">
		<description>Use this editor to construct a proxy service message flow. To insert a node or an action into a message flow, drag the item from the Message Flow Design Palette to the editor. For help on configuring the nodes and actions, click the node or action in the editor, click the Properties view, then press F1.</description>  
		<topic href="uiMessageFlowEditor.htm" 
		label="Message Flow Editor"/>
		<topic href="uiMessageFlowPalette.htm" 
		label="Message Flow Design Palette)"/>
	</context>
	

	
	
<!-- Message Flow Properties pages -->

	<context id="uiMsgFlowPropertiesViewAlertPage" 
		title="Alert Action Properties">
		<description>In a message flow, use the alert action to generate alerts based on message context in a pipeline, to send to an alert destination. </description>  
		<topic href="uiMsgFlowPropertiesViewAlertPage.htm" 
		label="Alert Action Properties"/>
	</context>

	<context id="uiMsgFlowPropertiesViewAnnotationPage" 
		title="Message Flow Properties - Comment">
		<description>Use this page to add an optional comment about the item selected in the message flow.</description>  
		<topic href="uiMsgFlowPropertiesViewAnnotationPage.htm" 
		label="Message Flow Properties View - Comment"/>
	</context>

	<context id="uiMsgFlowPropertiesViewAssignPage" 
		title="Assign Action Properties">
		<description>In a message flow, use an assign action to assign the result of an XQuery expression to a context variable. </description>  
		<topic href="uiMsgFlowPropertiesViewAssignActionPage.htm" 
		label="Assign Action Properties"/>
	</context>

	<context id="uiMsgFlowPropertiesViewBranchPage" 
		title="Branch Node Properties">
		<description>In a message flow, use this page to configure the selected branch in a conditional branch node or an operational branch node.</description>  
		<topic href="uiMsgFlowPropertiesViewCondidtionalBranchNodePage.htm" 
		label="Conditional Branch Node Properties"/>
		<topic href="uiMsgFlowPropertiesViewOperationalBranchNodePage.htm" 
		label="Operational Branch Node Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewCasePage" 
		title="Case Action Properties">
		<description>In a message flow, use this page to configure the selected case action in a publish table action or routing table action.</description>  
		<topic href="uiMsgFlowPropertiesViewPublishTableActionPage.htm" 
		label="Routing Table Action Properties"/>
		<topic href="uiMsgFlowPropertiesViewRoutingTableActionPage.htm" 
		label="Publish Table Action Properties"/>
	</context>

	<context id="uiMsgFlowPropertiesViewConditionalBranchPage" 
		title="Conditional Branch Node Properties">
		<description>In a message flow, use a conditional branch node to specify that message processing is to proceed along exactly one of several possible paths, based on a result returned by an XPath condition.</description>  
		<topic href="uiMsgFlowPropertiesViewConditionalBranchNodePage.htm" 
		label="Conditional Branch Node Properties"/>
		<topic href="uiMsgFlowPropertiesViewOperationalBranchPage.htm" 
		label="Operational Branch Node Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewDeletePage" 
		title="Delete Action Properties">
		<description>In a message flow, the delete action deletes a context variable or a set of nodes specified by an XPath expression.</description>  
		<topic href="uiMsgFlowPropertiesViewDeleteActionPage.htm" 
		label="Delete Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewDynamicPublishPage" 
		title="Dynamic Publish Action Properties">
		<description>In a message flow, a dynamic publish action publishes a message to a service specified by an XQuery expression.</description>  
		<topic href="uiMsgFlowPropertiesViewDynamicPublishActionPage.htm" 
		label="Dynamic Publish Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewDynamicRoutingPage" 
		title="Dynamic Routing Action Properties">
		<description>In a message flow, a dynamic routing action assigns a route for a message based on routing information available in an XQuery resource.</description>  
		<topic href="uiMsgFlowPropertiesViewDynamicRoutingActionPage.htm" 
		label="Dynamic Routing Action Properties"/>
	</context>

	<context id="uiMsgFlowPropertiesViewFlowPage" 
		title="Conditional Branch Node Flow Properties">
		<description>In a message flow, a conditional branch flow contains the branches and actions of the conditional branch.</description>  
		<topic href="uiMsgFlowPropertiesViewConditionalBranchNodePage.htm" 
		label="Conditional Branch Node Flow Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewIfPage" 
		title="If-Then Action Properties">
		<description>An if-then action performs an action or a set of actions conditionally, based on the Boolean result of an XQuery expression. An if-then action contains an if condition, an else condition, and zero or more else-if conditions.</description>  
		<topic href="uiMsgFlowPropertiesViewIfThenConditionPage.htm" 
		label="If-Then Action Properties"/>
	</context>

	<context id="uiMsgFlowPropertiesViewInsertPage" 
		title="Insert Action Properties">
		<description>In a message flow, use an insert action to insert data at a specified location in a named variable.</description>  
		<topic href="uiMsgFlowPropertiesViewInsertActionPage.htm" 
		label="Insert Action Properties"/>
	</context>

		<context id="uiMsgFlowPropertiesViewJavaCalloutPage" 
		title="Java Callout Action Properties">
		<description>Use a Java callout action to invoke a Java method or an EJB business service from within a message flow.</description>  
		<topic href="uiMsgFlowPropertiesViewJavaCalloutActionPage.htm" 
		label="Java Callout Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewLogPage" 
		title="Log Action Properties">
		<description>In a message flow, use the log action to construct a message to be logged and to define a set of attributes with which it will be logged. </description>  
		<topic href="uiMsgFlowPropertiesViewLogActionPage.htm" 
		label="Log Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewMFLTransformPage" 
		title="MFL Transform Action Properties">
		<description>In a message flow, use a MFL (Message Format Language) transform action to convert message content from XML to non-XML, or vice versa, in the message pipeline. </description>  
 		<topic href="uiMsgFlowPropertiesViewMFLTransformActionPage.htm" 
		label="MFL Transform Action Properties"/>
	</context>

	<context id="uiMsgFlowPropertiesViewNamespacesPage" 
		title="Message Flow Properties View - Namespaces">
		<description>In a message flow, use the namespaces page to see a list of defined namespaces or to create a new namespace.</description>  
		<topic href="uiMsgFlowPropertiesViewNamespacesPage.htm" 
		label="Message Flow Properties View - Namespaces"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewOperationalBranchPage" 
		title="Message Flow Properties View - Operational Branch">
		<description>In a message flow, use an operational branch node to configure branching based on operations defined in a WSDL.</description>  
		<topic href="uiMsgFlowPropertiesViewOperationalBranchPage.htm" 
		label="Operational Branch Node Properties"/>
		<topic href="uiMsgFlowPropertiesViewConditionalBranchNodePage.htm" 
		label="Conditional Branch Node Properties"/>
	</context>

	<context id="uiMsgFlowPropertiesViewPage" 
		title="Message Flow Properties View - For Each">
		<description>In a message flow, a for-each action iterates over a sequence of values and executes a block of actions. Use this page to configure the selected for-each action.</description>  
		<topic href="uiMsgFlowPropertiesViewForEachConditionPage.htm" 
		label="Message Flow Properties View - For Each"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewPipelinePairPage" 
		title="Pipeline Pair Node Properties">
		<description>In a message flow, use a pipeline pair node to define request and response processing. </description>  
		<topic href="uiMsgFlowPropertiesViewPipelinePairNodePage.htm" 
		label="Pipeline Pair Node Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewPublishPage" 
		title="Publish Action Properties">
		<description>In a message flow, use a publish action to identify a statically specified target service for a message and to configure how the message is packaged and sent to that service.</description>  
		<topic href="uiMsgFlowPropertiesViewPublishActionPage.htm" 
		label="Publish Action Properties"/>
	</context>
	

	<context id="uiMsgFlowPropertiesViewPublishTablePage" 
		title="Publish Table Action Properties">
		<description>Use a publish table action to publish a message to zero or more statically specified services. Switch-style condition logic is used to determine at run time which services will be used for the publish. </description>  
		<topic href="uiMsgFlowPropertiesViewPublishTableActionPage.htm" 
		label="Publish Table Action Properties"/>
	</context>

	<context id="uiMsgFlowPropertiesViewRaiseErrorPage" 
		title="Raise Error Action Properties">
		<description>In a message flow, use the raise error action to raise an exception with a specified error code (a string) and description. </description>  
		<topic href="uiMsgFlowPropertiesViewRaiseErrorActionPage.htm" 
		label="Raise Error Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewRenamePage" 
		title="Rename Action Properties">
		<description>In a message flow, use the rename action to rename elements selected by an XPath expression without modifying the contents of the element. </description>  
		<topic href="uiMsgFlowPropertiesViewRenameActionPage.htm" 
		label="Rename Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewReplacePage" 
		title="Replace Action Properties">
		<description>In a message flow, use a replace action to replace a node or the contents of a node specified by an XPath expression. The node or its contents are replaced with the value returned by an XQuery expression. </description>  
		<topic href="uiMsgFlowPropertiesViewReplaceActionPage.htm" 
		label="Replace Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewReplyPage" 
		title="Reply Action Properties">
		<description>In a message flow, use the reply action to specify that an immediate reply be sent to the invoker.</description>  
		<topic href="uiMsgFlowPropertiesViewReplyActionPage.htm" 
		label="Reply Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewReportPage" 
		title="Report Action Properties">
		<description>In a message flow, use the report action to enable message reporting for a proxy service. </description>  
		<topic href="uiMsgFlowPropertiesViewReportActionPage.htm" 
		label="Report Action Properties"/>
	</context>
	
		<context id="uiMsgFlowPropertiesViewResumePage" 
		title="Resume Action Properties">
		<description>In a message flow, use the resume action to resume message flow after an error is handled by an error handler. This action has no parameters and can only be used in error pipelines. </description>  
		<topic href="uiMsgFlowPropertiesViewReportActionPage.htm" 
		label="Resume Action Properties"/>
	</context>
	

	<context id="uiMsgFlowPropertiesViewRoutePage" 
		title="Route Node Properties">
		<description>In a message flow, use the route node to handle resquest and response dispatching of messages to and from business services. No other nodes can follow a route node.</description>  
		<topic href="uiMsgFlowPropertiesViewRouteNodePage.htm" 
		label="Route Node Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewRoutingPage" 
		title="Routing Action Properties">
		<description>In a message flow, use a routing action to identify a target service for the message and configure how the message is routed to that service.</description>  
		<topic href="uiMsgFlowPropertiesViewRoutingActionPage.htm" 
		label="Routing Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewRoutingOptionsPage" 
		title="Routing Options Action Properties">
		<description>In a message flow, use a routing options action to modify any or all of the following properties in the outbound request: URI, Quality of Service, Mode, Retry parameters, Message Priority.</description>  
		<topic href="uiMsgFlowPropertiesViewRoutingOptionsActionPage.htm" 
		label="Routing Options Action Properties"/>
	</context>
	
	
	<context id="uiMsgFlowPropertiesViewRoutingTablePage" 
		title="Routing Table Action Properties">
		<description>In a message flow, use a routing table to select different routes based upon the results of a single XQuery expression. A routing table action contains a set of routes wrapped in a switch-style condition table. </description>  
		<topic href="uiMsgFlowPropertiesViewRoutingTableActionPage.htm" 
		label="Routing Table Action Properties"/>
	</context>


	<context id="uiMsgFlowPropertiesViewSkipPage" 
		title="Skip Action Properties">
		<description>In a message flow, use the skip action to specify that at run time, the execution of the current stage is skipped and the processing proceeds to the next stage in the message flow. This action has no parameters and can be used in the request, response or error pipelines. </description>  
		<topic href="uiMsgFlowPropertiesViewSkipActionPage.htm" 
		label="Skip Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewTransportHeadersPage" 
		title="Transport Headers Action Properties">
		<description>In a message flow, use a transport header action to set header values in messages. </description>  
		<topic href="uiMsgFlowPropertiesViewTransportHeadersActionPage.htm" 
		label="Transport Headers Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewServiceCalloutPage" 
		title="Service Callout Action Properties">
		<description>In a message flow, use a service callout action to configure a synchronous (blocking) callout to an Oracle Service Bus-registered proxy or business service.</description>  
		<topic href="uiMsgFlowPropertiesViewServiceCalloutActionPage.htm" 
		label="Service Callout Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewStagePage" 
		title="Stage Node Properties">
		<description>In a message flow, use a stage node as a container for actions in a message flow. You can string multiple stages together, to compartmentalize processing logic.</description> 		<topic href="uiMsgFlowPropertiesViewStageNodePage.htm" 
		label="Stage Node Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewValidatePage" 
		title="Validate Action Properties">
		<description>In a message flow, use a validate action to validate elements selected by an XPath expression against an XML schema element or a WSDL resource. You can validate global elements only; Oracle Service Bus does not support validation against local elements.</description>  
		<topic href="uiMsgFlowPropertiesViewValidateActionPage.htm" 
		label="Validate Action Properties"/>
	</context>
	
	<context id="uiMsgFlowPropertiesViewVariablesPage" 
		title="Message Flow Properties View - Variables">
		<description>Use the Variables page to see a list of defined context variables or to create a new one. </description>  
		<topic href="uiMsgFlowPropertiesViewVariablesPage.htm" 
		label="Message Flow Properties View - Variables"/>
	</context>
	

<!-- Custom Resource wizard and editor -->

	<context id="uiNewCustomResourceWizard" 
		title="New Custom Resource - Resource Type Page">
		<description>Use this page to select the type of custom resource to create.</description> 
		<topic href="uiNewCustomResourceResourceTypePage.htm" 
		label="New Custom Resource page"/>
	</context>
	
	<context id="uiNewCustomResourceEditorPage" 
		title="Custom Resource Editor">
		<description>Use this editor to modify the configuration of a custom resource.</description>  
		<topic href="uiNewCustomResourceEditorPage.htm" 
		label="Custom Resource Editor"/>
	</context>
	
	
	
<!-- New Service Account wizard + New Service Key Provider wizard -->

	<context id="uiNewServiceAccountResourceWizardAddPage"
		title="New Service Account Resource Wizard">
		<description>Use this page to create a new service account resource. </description>  
		<topic href="uiNewServiceAccountResourceWizardAddNewServiceAccountPage.htm" 
		label="Service Account Resource wizard - Add New Service Account Page"/>
	</context>
	
	
<!-- SMTP Server -->	
	
	<context id="uiNewSMTPServerWizardAddPage" 
		title="New SMTP Server Wizard">
		<description>Use this page to configure a new SMTP server resource. </description>  
		<topic href="uiNewSMTPServerResourceWizardCreateNewSMTPServerPage.htm" 
		label="New SMTP Server wizard - Add a New SMTP Server Page"/>
	</context>
	

<!-- UDDI -->

	<context id="uiNewUDDIResourceAddPage" 
		title="New UDDI Resource Wizard">
		<description>Use this page to configure a new UDDI registry resource. </description>  
		<topic href="uiNewUDDIResourceWizardUDDIConfigurationAddRegistryPage.htm" 
		label="New UDDI Registry Resource Wizard - Create a New Registry Page"/>
	</context>
	
	<context id="uiUDDIConfigurationEditor" 
		title="UDDI Registry Configuration Page"> 
		<description>Use this page to modfy the configuration of a UDDI registry resource.</description> 
		<topic href="uiNewUDDIResourceWizardUDDIConfigurationAddRegistryPage.htm" 
		label="UDDI Registry Configuration Page"/>
	</context>

	
<!-- Misc -->	

	<context id="uiNewWSPolicyWizardCreateANewWSPolicyPage" 
		title="New WS-Policy wizard - Create a New WS-Policy Page">
		<description>Use this page to select a name and location for a new WS-policy resource.</description>  
		<topic href="uiNewWSPolicyWizardCreateANewWSPolicyPage.htm" 
		label="New WS-Policy wizard - Create a New WS-Policy Page"/>
	</context>

<!--
	<context id="uiProjectExplorerALSB" 
		title="Oracle Service Bus Plug-in Project Explorer">
		<description>The Project Explorer for Oracle Service Bus is organized by project and configuration, each of which is at the top level of the tree. Right click an item to display the actions available in that context.</description>  
		<topic href="uiProjectExplorerALSB.htm" 
		label="Oracle Service Bus Plug-in Project Explorer"/>

	</context>
-->
	
	<context id="uiOutlineView" 
		title="Outline view">
		<description>This view displays a hierarchical view, or outline, of a structured file that is currently open in the editor area. When the message flow editor is displayed, you can switch between the hierarchical view and a thumbnail view of the service.</description>  
		<topic href="uiOutlineViewALSB.htm" 
		label="Outline view"/>
	</context>
	
	<context id="uiProjectWizard" 
		title="New Oracle Service Bus Project Wizard">
		<description>Use this page to create a new Oracle Service Bus project.</description>  
		<topic href="uiNewAquaLogicServiceBusProjectPage.htm" 
		label="New Oracle Service Bus Project Wizard"/>
	</context>
	
	<context id="uiReferencesView" 
		title="References View">
		<description>Use this page to view resource dependencies. This view shows your current selection whether it is in the Project Explorer or the active editor.</description>  
		<topic href="uiReferencesView.htm" 
		label="References View"/>
	</context>
	
<!-- This id is used in WSDL, XML but not in MFL (which has no ID) -->

	<context id="uiSelectResourceDialog" 
		title="Select a Resource Dialog">
		<description>Use this dialog to select a resource, appropriate to the context, that has been created in or imported into the Oracle Service Bus plug-in. </description>  
		<topic href="uiArtifactFolderDialog.htm" 
		label="Select a Resource Dialog"/>
	</context>

	<context id="uiServiceConsumptionDialog" 
		title="Service Consumption Dialog">
		<description>Use this dialog to select a resource that has been created in or imported into the Oracle Service Bus plug-in. </description>  
		<topic href="uiServiceConsumptionDialog.htm"
		label="Service Consumption Dialog"/>
	</context>

<!-- Service Account Editor -->
	
	<context id="uiServiceAccountEditorServiceAccountPage" 
		title="Service Account editor - General Configuration Page">
		<description>Use this page to configure a service account resource. </description>
		<topic href="uiServiceAccountEditorServiceAccountPage.htm"
		label="Service Account editor - General Configuration Page"/>
	</context>
	
	<context id="uiServiceAccountEditorStaticPage" 
		title="Service Account Editor - Static User Configuration Page">
		<description>Use this to page to save a user name and password with the service account configuration. </description>  
		<topic href="uiServiceAccountEditorStaticPage.htm"
		label="Service Account editor - Static User Configuration Page"/>
	</context>

	
	<context id="uiServiceAccountEditorMappingPage" 
		title="Service Account Editor - Mapping Configuration Page">
		<description>Use this to page to create a service account that maps the user name from one or more clients to user names and passwords that you specify.</description>  
		<topic href="uiServiceAccountEditorMappingPage.htm"
		label="Service Account editor - Mapping Configuration Page"/>
	</context>



<!-- XSL Transformation wizard -->
	
	<context id="uiNewXSLTransformationWizardCreateANewXSLTransformationPage" 
		title="New XSL Transformation wizard - Create a New XSL Transformation Page">
		<description>Transformation maps describe the mapping between two data types. eXtensible Stylesheet Language Transformation (XSLT) maps describe XML-to-XML mappings. Use this page to select a name and location for a new XSL transformation.</description>  
		<topic href="uiNewXSLTransformationWizardCreateANewXSLTransformationPage.htm"
		label="New XSL Transformation wizard - Create a New XSL Transformation Page"/>
	</context>


<!--  Proxy Service editor and Business Service editor Configuration pages -->

	<context id="uiServiceEditorGeneralConfigPage"
		title="Proxy Service or Business Service editor - General Configuration Page">
		<description>Use this page to specify general configuration settings for a business service or proxy service. This page appears in the New Oracle Service Bus Business Service wizard, the Oracle Service Bus Business Service editor, the New Oracle Service Bus Proxy Service wizard, and the Oracle Service Bus Proxy Service editor. </description>  
		<topic href="uiBizServiceGeneralConfigPage.htm"
		label="Oracle Service Bus Business Service - General Configuration page"/>
		<topic href="uiProxyServiceGeneralConfigPage.htm"
		label="Oracle Service Bus Proxy Service - General Configuration Page"/>
	</context>
	
	<context id="uiServiceEditorMessageTypeConfigPage"
		title="Proxy Service or Business Service editor - Message Type Configuration Page">
		<description>Use this page to configure message type settings for a business service or proxy service whose type is Messaging Service. This page appears in the New Oracle Service Bus Business Service wizard, the Oracle Service Bus Business Service editor, the New Oracle Service Bus Proxy Service wizard, and the Oracle Service Bus Proxy Service editor.  </description>  
		<topic href="uiBizServiceMessageTypeConfigPage.htm"
		label="Oracle Service Bus Business Service - Message Type Configuration Page"/>
		<topic href="uiProxyServiceMessageTypeConfigPage.htm"
		label="Oracle Service Bus Proxy Service - Message Type Configuration Page"/>
	</context>
	
	<context id="uiServiceEditorPolicyConfigPage"
		title="Proxy Service or Business Service editor - Service Policy Configuration Page">
		<description>Use this page to configure service policy settings for a business service or proxy service. This page appears in the New Oracle Service Bus Business Service wizard, the Oracle Service Bus Business Service editor, the New Oracle Service Bus Proxy Service wizard, and the Oracle Service Bus Proxy Service editor. </description>  
		<topic href="uiBizServiceServicePolicyConfigPage.htm"
		label="Oracle Service Bus Business Service - Service Policy Configuration Page"/>
		<topic href="uiProxyServiceServicePolicyConfigPage.htm"
		label="Oracle Service Bus Proxy Service - Service Policy Configuration Page"/>
	</context>
	
	<context id="uiServiceEditorTransportConfigPage" 
		title="Proxy Service or Business Service editor - Transport Configuration Page">
		<description>Use this page to select transport protocol for a business service or proxy service and to configure transport settings. This page appears in the New Oracle Service Bus Business Service wizard, the Oracle Service Bus Business Service editor, the New Oracle Service Bus Proxy Service wizard, and the Oracle Service Bus Proxy Service editor.</description>  
		<topic href="uiBizServiceTransportConfigPage.htm"
		label="Oracle Service Bus Business Service - Transport Configuration Page"/>
		<topic href="uiProxyServiceTransportConfig.htm"
		label="Oracle Service Bus Proxy Service - Transport Configuration Page"/>
	</context>

	<context id="uiServiceEditorMsgContentHandlingConfigPage"
		title="Proxy Service or Business Service editor - Message Content Handling Configuration Page">
		<description>Use this page to control outbound message encoding and attachments. This page appears in Oracle Service Bus Business Service editor and the Oracle Service Bus Proxy Service editor.</description>  
		<topic href="uiProxyServiceMessageContentHandlingConfigPage.htm"
		label="Oracle Service Bus Proxy Service - Message Content Handling Configuration Page"/>
		<topic href="uiBizServiceMessageContentHandlingConfigPage.htm"
		label="Oracle Service Bus Business Service - Message Content Handling Configuration Page"/>
	</context>
	
	
	<context id="uiProxyServiceEditorMessageLevelSecurityConfigPage" 
		title="Service Editor - Security Configuration Page">
		<description>Use this page to configure security for a business service or proxy service.</description>  
		<topic href="uiProxyServiceSecurityConfigPage.htm" 
		label="Proxy Service Editor - Security Configuration Page"/>
		<topic href="uiBizServiceSecurityConfigPage.htm" 
		label="Business Service Editor - Security Configuration Page"/>
	</context>
	

	<context id="uiBizServiceEditorSOAPBindingConfigPage" 
		title="Proxy Service Editor - SOAP Binding Configuration Page">
		<description>Use this page to enforce WS-I compliance for business services and proxy services (for SOAP 1.1 services only) and select the selection algorithm to use to determine the operation called by this service. This option is only available for SOAP or XML services defined from a WSDL. </description>  
		<topic href="uiProxyServiceSOAPBindingConfigPage.htm" 
		label="Proxy Service Editor - SOAP Binding Configuration Page"/>
		<topic href="uiBizServiceSOAPBindingConfigPage.htm" 
		label="Business Service Editor - SOAP Binding Configuration Page"/>
	</context>
	
	<context id="uiBizServiceEditorOperationBindingConfigPage" 
		title="Proxy Service editor - Operation Selection Configuration Page">
		<description>Use this page to enforce WS-I compliance for business services and proxy services (for SOAP 1.1 services only) and select the selection algorithm to use to determine the operation called by this service. This option is only available for SOAP or XML services defined from a WSDL. </description>  
		<topic href="uiBizServiceOperationConfigPage.htm" 
		label="Business Service Editor - Operation Selection Configuration Page"/>
		<topic href="uiProxyServiceOperationConfigPage.htm" 
		label="Proxy Service Editor - Operation Selection Configuration Page"/>
	</context>
	
	

<!--  Proxy Service wizard and Business Service wizard Configuration pages -->

	<context id="uiNewServiceWizardGeneralConfigPage"
		title="Proxy Service or Business Service wizard - General Configuration Page">
		<description>Use this page to specify general configuration settings for a business service or proxy service. This page appears in the the Oracle Service Bus Business Service editor, the New Oracle Service Bus Proxy Service wizard, and the Oracle Service Bus Proxy Service editor. </description>  
		<topic href="uiBizServiceGeneralConfigPage.htm"
		label="Oracle Service Bus Business Service - General Configuration Page"/>
		<topic href="uiProxyServiceGeneralConfigPage.htm"
		label="Oracle Service Bus Proxy Service - General Configuration Page"/>
	</context>
	
	<context id="uiNewProxyServiceWizardMessageTypeConfigPage"
		title="Proxy Service or Business Service wizard - Message Type Configuration Page">
		<description>Use this page to configure message type settings for a business service or proxy service whose type is Messaging Service. This page appears in the New Oracle Service Bus Business Service wizard, the Oracle Service Bus Business Service editor, the New Oracle Service Bus Proxy Service wizard, and the Oracle Service Bus Proxy Service editor.  </description>  
		<topic href="uiBizServiceMessageTypeConfigPage.htm"
		label="Oracle Service Bus Business Service - Message Type Configuration Page"/>
		<topic href="uiProxyServiceMessageTypeConfigPage.htm"
		label="Oracle Service Bus Proxy Service - Message Type Configuration Page"/>
	</context>
	
	<context id="uiNewServiceWizardPolicyConfigPage"
		title="Proxy Service or Business Service wizard - Policy Configuration Page">
		<description>Use this page to configure service policy settings for a business service or proxy service. This page appears in the New Oracle Service Bus Business Service wizard, the Oracle Service Bus Business Service editor, the New Oracle Service Bus Proxy Service wizard, and the Oracle Service Bus Proxy Service editor. </description>  
		<topic href="uiBizServiceServicePolicyConfigPage.htm"
		label="Oracle Service Bus Business Service - Service Policy Configuration Page"/>
		<topic href="uiProxyServiceServicePolicyConfigPage.htm"
		label="Oracle Service Bus Proxy Service - Service Policy Configuration Page"/>
	</context>
	
	<context id="uiNewProxyServiceMessageLevelSecurityConfigPage" 
		title="Proxy Service or Business Service wizard - Message Level Security Configuration Page">
		<description>Use this page to configure message-level security for a business service or proxy service. This page appears in the New Oracle Service Bus Business Service wizard, the Oracle Service Bus Business Service editor, the New Oracle Service Bus Proxy Service wizard, and the Oracle Service Bus Proxy Service editor.</description>  
		<topic href="uiProxyServiceMessageLevelSecurityConfigPage.htm" 
		label="Proxy Service Editor - Message Level Security Configuration Page"/>
		<topic href="uiProxyServiceMessageLevelSecurityConfigPage.htm" 
		label="Proxy Service Editor - Message Level Security Configuration Page"/>
	</context>
		
	<context id="uiNewProxyServiceWizardTransportConfigPage"
		title="Proxy Service or Business Service wizard - Transport Configuration Page">
		<description>Use this page to configure transport settings for a business service or proxy service. This page appears in the New Oracle Service Bus Business Service wizard, the Oracle Service Bus Business Service editor, the New Oracle Service Bus Proxy Service wizard, and the Oracle Service Bus Proxy Service editor.</description>  
		<topic href="uiBizServiceTransportConfigPage.htm"
		label="Oracle Service Bus Business Service - Transport Configuration Page"/>
		<topic href="uiProxyServiceTransportConfig.htm"
		label="Oracle Service Bus Proxy Service - Transport Configuration Page"/>
	</context>
	
	<context id="uiNewProxyServiceWizardSOAPBindingConfigPage" 
		title="Proxy Service Editor - SOAP Binding Configuration Page">
		<description>Use this page to enforce WS-I compliance for business services and proxy services (for SOAP 1.1 services only) and select the selection algorithm to use to determine the operation called by this service. This option is only available for SOAP or XML services defined from a WSDL. </description>  
		<topic href="uiProxyServiceSOAPBindingConfigPage.htm" 
		label="Proxy Service Editor - SOAP Binding Configuration Page"/>
	</context>
	
	<context id="uiNewProxyServiceEditorOperationBindingConfigPage" 
		title="Proxy Service editor - Operation Selection Configuration Page">
		<description></description>  
		<topic href="uiBizServiceOperationConfigPage.htm" 
		label="Business Service Editor - Operation Selection Configuration Page"/>
		<topic href="uiProxyServiceOperationConfigPage.htm" 
		label="Proxy Service Editor - Operation Selection Configuration Page"/>
	</context>
	
	
<!-- Expression Editors -->

	<context id="uiXQueryXSLTExpressionEditor" 
		title="XQuery/XSLT Expression Editor"> 
		<description>Use the XQuery/XSLT Expression editor to create variable structures, define user namespaces, use predefined message context variables to build inline XQuery expressions, build inline XQuery expressions manually, and select XQuery or XSLT resources for execution as inline XQueries.</description> 
		<topic href="uiXQueryXSLTExpressionEditor.htm" 
		label="XQuery/XSLT Expression Editor"/>
		<topic href="uiExpressionPage.htm" 
		label="Expression Page"/>
		<topic href="uiXQueryResourcePage.htm" 
		label="XQuery Resource Page"/>
		<topic href="uiXSLTResourcePage.htm" 
		label="XSLT Resource Page"/>
		<topic href="uiVariableStructuresPage.htm" 
		label="Variable Structures Page"/>
		<topic href="uiNamespaceDefinitionsPage.htm" 
		label="Namespace Definitions Page"/>
		<topic href="uiXQueryFunctionsPage.htm" 
		label="XQuery Functions Page"/>
	</context>

	<context id="uiXPathExpressionEditor" 
		title="XPath Expression Editor"> 
		<description>Use the XPath Expression editor to create an XPath expression, which is then inserted into the location from which you launched the XPath Expression Editor.</description> 
		<topic href="uiXPathExpressionEditor.htm" 
		label="XPath Expression Editor"/>
		<topic href="uiExpressionPage.htm" 
		label="Expression Page"/>
		<topic href="uiVariableStructuresPage.htm" 
		label="Variable Structures Page"/>
		<topic href="uiNamespaceDefinitionsPage.htm" 
		label="Namespace Definitions Page"/>
		<topic href="uiXQueryFunctionsPage.htm" 
		label="XQuery Functions Page"/>
	</context>

	<context id="uiConditionEditor" 
		title="Condition  Editor"> 
		<description>Use the Condition Editor to create an inline XQuery condition. </description> 
		<topic href="uiConditionEditor.htm" 
		label="Condition Editor"/>
	</context>


</contexts>

