<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
 <extension
         point="org.eclipse.help.contexts">
      <contexts file="context.xml" plugin="com.bea.alsb.process.messageflow.core"/>
      <contexts file="context.xml" plugin="com.bea.alsb.core"/>
      <contexts file="context.xml" plugin="com.bea.alsb.core.transports"/>
      <contexts file="context.xml" plugin="com.bea.alsb.debug.ui"/>
      <contexts file="context.xml" plugin="com.bea.alsb.feature.branding"/>
      <contexts file="context.xml" plugin="com.bea.alsb.flow.core"/>
      <contexts file="context.xml" plugin="com.bea.alsb.flow.typesystem.core"/>
      <contexts file="context.xml" plugin="com.bea.alsb.flow.typesystem.ui"/>
      <contexts file="context.xml" plugin="com.bea.alsb.flow.ui"/>
      <contexts file="context.xml" plugin="com.bea.alsb.flow.wsdltypesystem.core"/>
      <contexts file="context.xml" plugin="com.bea.alsb.flow.xpath10.core"/>
      <contexts file="context.xml" plugin="com.bea.alsb.flow.xpath10.ui"/>
      <contexts file="context.xml" plugin="com.bea.alsb.typesystem.core"/>
      <contexts file="context.xml" plugin="com.bea.alsb.process.messageflow.core"/>
      <contexts file="context.xml" plugin="com.bea.alsb.sam.connector"/>
      <contexts file="context.xml" plugin="com.bea.alsb.server.core"/>
      <contexts file="context.xml" plugin="com.bea.alsb.server.publish"/>
      <contexts file="context.xml" plugin="com.bea.alsb.server.ui"/>
      <contexts file="context.xml" plugin="com.bea.alsb.stages.logging.ui"/>
      <contexts file="context.xml" plugin="com.bea.alsb.stages.publish.ui"/>
      <contexts file="context.xml" plugin="com.bea.alsb.stages.routing.ui"/>
      <contexts file="context.xml" plugin="com.bea.alsb.stages.transform.ui"/>
      <contexts file="context.xml" plugin="com.bea.alsb.ui"/>
      <contexts file="context.xml" plugin="com.bea.alsb.ui.common"/>
      <contexts file="context.xml" plugin="com.bea.alsb.ui.viewer"/>
      <contexts file="context.xml" plugin="com.bea.alsb.ui.resources.ps"/>
      <contexts file="context.xml" plugin="com.bea.alsb.xbus.require"/>
   </extension>

</plugin>
