<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>
<contexts>

	<context id="tpDSPTransportBizService" 
		title="DSP Transport Configuration page (Business Service)">
	    <description>Use this page to configure the DSP transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpDSPTransportBizService.htm" 
		label="DSP Transport Configuration page (Business Service)"/>
	</context>
				
	<context id="tpDSPTransportBizWizard" 
		title="DSP Transport Configuration page (Business Service)">
	    <description>Use this page to configure the DSP transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpDSPTransportBizService.htm" 
		label="DSP Transport Configuration page (Business Service)"/>
	</context>
				
</contexts>

