<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>
<contexts>

	<context id="tpSOA-DIRECTTransportBizService" 
		title="SOA-DIRECT Transport Configuration page (Business Service)">
	    <description>Use this page to configure the SOA-DIRECT transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpSOADIRECTTransportBizService.htm" 
		label="SOA-DIRECT Transport Configuration page (Business Service)"/>
	</context>
		

</contexts>

