/* ARCS: $Header: /home/cvs/cvs/RDA_4/src/scripting/lib/modules/out.css,v 2.1 2010/01/05 13:45:50 mschenke Exp $ */

/* RDA Main Styles */
.rda_normal {font-size:9pt;font-family:sans-serif;}
.rda_normal A {font-family:sans-serif;}
.rda_normal A:link {color:#663300;}
.rda_normal A:visited {color:#996633;}
.rda_normal A:hover {color:#ff6600;}
.rda_normal P {font-size:9pt;font-family:sans-serif;margin:2pt 0pt 0pt 0pt;padding:0pt;}
.rda_normal TABLE {border-style:solid;border-width:1px;border-color:#999966;border-collapse:collapse;border-spacing:0px;empty-cells:show;}
.rda_normal TD {border-style:solid;border-width:1px;border-color:#999966;font-size:9pt;font-family:sans-serif;padding:2px;}
.rda_normal TH {border-style:solid;border-width:1px;border-color:#999966;background:#cccc99;font-size:9pt;font-family:sans-serif;font-weight:bold;padding:2px;color:#336699;}
.rda_normal TR {vertical-align:top;}
.rda_normal H1 {font-size:15pt;font-weight:bold;font-family:sans-serif;margin-top:8pt;margin-bottom:4pt;color:#336699;}
.rda_normal H2 {font-size:13pt;font-weight:bold;font-family:sans-serif;margin-top:6pt;margin-bottom:3pt;color:#336699;}
.rda_normal H3 {font-size:11pt;font-weight:bold;font-family:sans-serif;margin-top:4pt;margin-bottom:2pt;color:#336699;}
.rda_normal H4 {font-size:9pt;font-weight:bold;font-family:sans-serif;margin-top:2pt;margin-bottom:1pt;color:#336699;}
.rda_normal HR {color:#cccccc;height:1px;}
.rda_normal PRE {font-size:9pt;margin:2pt 0pt 0pt 0pt;padding:0pt;}
.rda_normal LI {font-size:9pt;font-family:sans-serif;padding:0pt;}
.rda_normal OL {margin:0pt 0pt 0pt 9pt;padding:0pt;}
.rda_normal UL {margin:0pt 0pt 0pt 9pt;padding:0pt;}

/* RDA List Styles */
.rda_lst LI {margin-left:6pt;font-family:sans-serif;}
.rda_seq LI {margin-left:12pt;font-family:sans-serif;}

/* Other RDA Styles */
.rda_filter {color:#993800;white-space:nowrap;}
.rda_null {font-style:Italic;}
.rda_red  {color:Red;}
.rda_blue {color:Blue;}
