# TSTssd.cfg: System State Dump Analysis Input
# $Id: TSTssd.cfg,v 2.6 2012/01/02 17:25:18 mschenke Exp $
# ARCS: $Header: /home/cvs/cvs/RDA_4/src/scripting/lib/modules/TSTssd.cfg,v 2.6 2012/01/02 17:25:18 mschenke Exp $
#
# Copyright (c) 2002, 2012, Oracle and/or its affiliates. All rights reserved.
#
# Change history
# 20120102  MSC  Change the copyright notice.

###############################################################################
# Collect the TSTssd input.
###############################################################################

#------------------------------------------------------------------------------
# Module definition
#------------------------------------------------------------------------------
dsc="Collects TSTssd input"
var=TRACE_FILE

#------------------------------------------------------------------------------
# Setting definitions
#------------------------------------------------------------------------------
[TRACE_FILE]
typ=F
dsc="Absolute path of the system state dump file"
inp="Enter the absolute path of the system state dump file to be analyzed"
ref="AFR"
val=E
err='The file does not exist or the path is not absolute'
