<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="DesignPaletteContributors" name="%extension.DesignPaletteContributors.name" schema="schema/DesignPaletteContributors.exsd"/>
   <extension-point id="DesignPaletteSort" name="%extension.DesignPaletteSort.name" schema="schema/DesignPaletteSort.exsd"/>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jst.j2ee.J2EEPerspective">
 	   	 <view
            id="com.bea.workshop.common.ui.CorePaletteView"
            ratio="0.6"
            relationship="bottom"
            relative="org.eclipse.ui.navigator.ProjectExplorer"
            visible="true"/>
          
          <viewShortcut id="com.bea.workshop.common.ui.CorePaletteView" />
	  </perspectiveExtension>
	  
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.bea.workshop.common.ui.CorePaletteView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            icon="icons/core_palette.gif"
            class="com.bea.workshop.common.ui.palette.design.CorePaletteView"
            category="com.bea.alsb.ui"
            name="%paletteViewName"
            id="com.bea.workshop.common.ui.CorePaletteView"/>
   </extension>
   <extension
         point="com.bea.workshop.common.ui.palette.DesignPaletteSort">
      <categorySort
            comparatorClass="com.bea.workshop.common.ui.palette.design.CategoryGroupComparator"
            paletteViewID="com.bea.workshop.common.ui.CorePaletteView"/>
   </extension>

</plugin>
