<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="service_resource" name="Service Resource" schema="schema/service_resource.exsd"/>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
        <actionProvider
            class="com.bea.al.scf.navigation.NavigateToServiceActionProvider"
            id="com.bea.al.scf.navigation.NavigateToServiceActionProvider">
           <enablement>
       			<instanceof value="org.eclipse.core.resources.IFile"/>
           </enablement>
      </actionProvider>
   </extension>
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="com.bea.al.scf.navigation.NavigateToServiceActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

  <extension point="com.bea.alsb.scf.service_resource">
  	<serviceResource
  		 id="com.bea.al.scf.resources.UriServiceResource"
         name="%uri"
         serviceResourceClass="com.bea.al.scf.resources.UriServiceResource">
  	</serviceResource>
  </extension>

  <extension point="com.bea.alsb.scf.service_resource">
  	<serviceResource
  		 id="com.bea.al.scf.resources.FileSystemServiceResource"
         name="%file"
         serviceResourceClass="com.bea.al.scf.resources.FileSystemServiceResource">
  	</serviceResource>
  </extension>

<!--
  <extension point="com.bea.al.scf.service_resource">
  	<serviceResource
  		 id="com.bea.al.scf.resources.WorkspaceServiceResource"
         name="%workspace"
         serviceResourceClass="com.bea.al.scf.resources.WorkspaceServiceResource">
  	</serviceResource>
  </extension>
-->

  <!-- TODO Removed for OSB OEPE 
  <extension point="com.bea.al.scf.service_resource">
  	<serviceResource
  		 id="com.bea.al.scf.resources.AlerServiceResource"
         name="%repository"
         serviceResourceClass="com.bea.al.scf.resources.AlerServiceResource">
  	</serviceResource>
  </extension>
  -->

</plugin>
