<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="com.bea.alsb.new" name="%ALSBCategory_name">
		</category>
        <wizard
              category="com.bea.alsb.new"
              class="com.bea.alsb.ui.resources.ps.wizard.PsWizard"
              finalPerspective="com.bea.alsb.ui.perspectives.aqualogic"
              icon="icons/new_proxyserver.gif"
              id="com.bea.alsb.ui.wizards.ps"
              name="%NewPsWizard_name"
              preferredPerspectives="com.bea.alsb.ui.perspectives.aqualogic"
              project="false">
           <description>%NewPsWizard_description</description>
        </wizard>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.navigatorContent">
        <commonWizard type="new" 
                      menuGroupId="com.bea.alsb.new"
                      wizardId="com.bea.alsb.ui.wizards.ps">
            <enablement>
                <or>
                    <adapt type="org.eclipse.core.resources.IResource">
				        <test forcePluginActivation="true"
				              property="org.eclipse.core.resources.projectNature"
				              value="com.bea.alsb.core.natures.alsb.container"/>
				    </adapt>
                </or>
            </enablement>
        </commonWizard>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
        <editor
              class="com.bea.alsb.ui.resources.ps.editor.PsEditor"
              contributorClass="com.bea.alsb.ui.resources.common.AlsbEditorActionBarContributer"
              default="true"
              extensions="ps"
              icon="icons/icon_proxyserver.gif"
              id="com.bea.alsb.ui.editors.ps"
              name="%PsEditor_name">
            <contentTypeBinding contentTypeId="com.bea.alsb.core.resources.ps.content-type"/>
        </editor>
	</extension>
	<extension
	   point="org.eclipse.ui.perspectiveExtensions">
	   <perspectiveExtension targetID="com.bea.alsb.ui.perspectives.aqualogic">
	      <newWizardShortcut id="com.bea.alsb.ui.wizards.ps"/>
	   </perspectiveExtension>
	</extension>
</plugin>
