<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>
<contexts>

	<context id="tpJEJBTransportBizService" 
		title="JEJB Transport Configuration page (Business Service)">
	    <description>Use this page to configure the JEJB transport used for a service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpJEJBTransportBizService.htm" 
		label="JEJB Transport Configuration page (Business Service)"/>
	</context>
		
	<context id="tpJEJBTransportProxyService" 
		title="JEJB Transport Configuration page (Proxy Service)">
	    <description>Use this page to configure the JEJB transport used for a service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpJEJBTransportProxyService.htm" 
		label="JEJB Transport Configuration page (Proxy Service)"/>
	</context>
		
	<context id="tpJEJBTransportBizWizard" 
		title="JEJB Transport Configuration page (Business Service)">
	    <description>Use this page to configure the JEJB transport used for a service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpJEJBTransportBizService.htm" 
		label="JEJB Transport Configuration page (Business Service)"/>
	</context>
		
	<context id="tpJEJBTransportProxyWizard" 
		title="JEJB Transport Configuration page (Proxy Service)">
	    <description>Use this page to configure the JEJB transport used for a service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpJEJBTransportProxyService.htm" 
		label="JEJB Transport Configuration page (Proxy Service)"/>
	</context>
		
</contexts>

