<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_constraints.xml"
            plugin="com.bea.alsb.common.mapper">
      </contexts>
      <contexts
            file="contexts_targetexpession.xml"
            plugin="com.bea.alsb.common.mapper">
      </contexts>
      <contexts
            file="contexts_expressionvariables.xml"
            plugin="com.bea.alsb.common.mapper">
      </contexts>
      <contexts
            file="contexts_properties.xml"
            plugin="com.bea.alsb.common.mapper">
      </contexts>
      <contexts
            file="contexts_testView.xml"
            plugin="com.bea.alsb.common.mapper">
      </contexts>
      <contexts
            file="contexts_designView.xml"
            plugin="com.bea.alsb.common.mapper">
      </contexts>
      <contexts
            file="contexts_expressionfunctions.xml"
            plugin="com.bea.alsb.common.mapper">
      </contexts>
   </extension>

</plugin>
