ENV.OPTION.LD_LIBRARY_PATH=%ORACLE_HOME%/lib32:%ORACLE_HOME%/network/lib32:%ORACLE_HOME%/lib:%ORACLE_HOME%/network/lib
ENV.OPTION.ORACLE_HOME=%ORACLE_HOME%
ENV.OPTION.SHLIB_PATH=%ORACLE_HOME%/lib32:%ORACLE_HOME%/network/lib32:%ORACLE_HOME%/lib:%ORACLE_HOME%/network/lib
ENV.OPTION.LIBPATH=%ORACLE_HOME%/lib32:%ORACLE_HOME%/network/lib32:%ORACLE_HOME%/lib:%ORACLE_HOME%/network/lib 
jvm.command.line.option=-Xmx512M -XX:MaxPermSize=256m -DORACLE_HOME=%ORACLE_HOME% -Dajp.keepalive=true %EM_OC4J_OPTS%
