<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <!--
            Action for generating service from JCA file
    -->
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution id="com.bea.alsb.ui.resources.jca.actions.GenerateService"
                            objectClass="org.eclipse.core.resources.IFile">
            <filter name="projectNature" value="com.bea.alsb.core.natures.alsb"/>
            <filter name="contentTypeId" value="com.bea.alsb.core.resources.jca.content-type"/>
            <action id="com.bea.alsb.ui.resources.jca.actions.GenerateService"
                    class="com.bea.alsb.ui.resources.jca.service.GenerateServiceAction"
                    enablesFor="1"
                    label="%GenerateService_name"
                    menubarPath="com.bea.alsb.ui.common.popup/ALSBpopupGroup"/>
        </objectContribution>
    </extension>

</plugin>
