<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- 
   <extension
         point="oracle.eclipse.tools.common.upgrade.projectUpgradeParticipants">
      <participant class="com.bea.ide.common.upgrade.DefaultProjectUpgradeParticipant"
         requires="com.bea.workshop.common.wtp.core.upgrade.internal.WtpComponentFileUpgradeParticipant;
         			com.bea.workshop.common.wtp.core.upgrade.internal.J2EEComponentClasspathUpgradeParticipant;
         			com.bea.workshop.wls.core.upgrade.internal.J2EELibraryContainerUpgradeParticipant;
         			com.bea.workshop.wls.core.upgrade.internal.J2EELibrariesPrefsUpgradeParticipant;
         			com.bea.workshop.wls.core.upgrade.internal.Wls92ProjectsTaskListUpgradeParticipant;
         			com.bea.workshop.wls.core.upgrade.internal.J2EELibrariesValidatorUpgradeParticipant;
         			com.bea.workshop.wls.core.upgrade.internal.AppLibrariesContainerUpgradeParticipant;
         			com.bea.workshop.wls.core.upgrade.internal.WlsFacetsUpgradeParticipant;
         			com.bea.workshop.wls.core.upgrade.internal.WlsCommonsLoggingBridgeFacetLibInstallRecordUpgradeParticipant;
         			com.bea.workshop.wls.core.upgrade.internal.WlsCommonsLoggingBridgeFacetUpgradeParticipants$J2EELibraryRefUpgradeParticipant;
         			com.bea.workshop.wls.core.upgrade.internal.WlsRuntimeClasspathUpgradeParticipant;
         			com.bea.workshop.wls.core.upgrade.internal.WlsRuntimeNameProjectUpgradeParticipant;
         			com.bea.workshop.wls.ejb.core.upgrade.EJBFacetUpgradeParticipant;
         			com.bea.workshop.wls.ejb.core.upgrade.EJBProjectUpgradeParticipant;
         			com.bea.workshop.xmlbeans.core.upgrade.XmlBeansBuilderUpgradeParticipant;
         			com.bea.workshop.xmlbeans.core.upgrade.XmlBeansContainerUpgradeParticipant;
         			com.bea.workshop.xmlbeans.core.upgrade.XMLBeansFacetsUpgradeParticipant;
         			com.bea.workshop.common.informant.upgrade.InformantUpgradeParticipant;
         			com.bea.workshop.controls.core.internal.ControlsUpgradeParticipant;
         			com.bea.workshop.controls.core.upgrade.WlsControlsFacetsUpgradeParticipant;
         			com.bea.workshop.controls.core.upgrade.ControlFactoryPathUpgradeParticipant;
         			com.bea.workshop.controls.core.upgrade.ControlsFacetUpgradeParticipants$J2EELibraryRefUpgradeParticipant;
         			com.bea.workshop.controls.core.upgrade.BeehiveControlsFacetLibInstallRecordUpgradeParticipant;
         			com.bea.workshop.controls.core.upgrade.WeblogicControlsFacetLibInstallRecordUpgradeParticipant;
         			com.bea.workshop.netui.core.internal.NetUiUpgradeParticipant;
         			com.bea.workshop.netui.core.upgrade.NetuiFactoryPathUpgradeParticipant;
         			com.bea.workshop.netui.project.core.upgrade.NetuiFacetLibInstallRecordUpgradeParticipant;
         			com.bea.workshop.netui.project.core.upgrade.NetuiFacetUpgradeParticipants$J2EELibraryRefUpgradeParticipant;
         			com.bea.workshop.netui.project.core.upgrade.StrutsFacetLibInstallRecordUpgradeParticipant;
         			com.bea.workshop.netui.project.core.upgrade.StrutsFacetUpgradeParticipants$J2EELibraryRefUpgradeParticipant;
         			com.bea.workshop.netui.project.core.upgrade.JstlFacetLibInstallRecordUpgradeParticipant;
         			com.bea.workshop.netui.project.core.upgrade.JstlFacetUpgradeParticipants$J2EELibraryRefUpgradeParticipant;
         			com.m7.wide.eclipse.project.facet.ProjectUpgradeParticipant;
         			com.m7.wide.eclipse.project.ValidatorUpgradeParticipant;
         			com.m7.wide.jwebapp.project.upgrade.internal.AppXRayProjectUpgradeParticipant;
         			com.m7.wide.jwebapp.project.upgrade.internal.StudioProjectUpgradeParticipant;
         			com.bea.workshop.web.jsf.core.internal.JSFUpgradeParticipant;
         			com.bea.workshop.web.jsf.core.upgrade.JsfFacetLibInstallRecordUpgradeParticipant;
         			com.bea.workshop.web.jsf.core.upgrade.JsfFacetUpgradeParticipants$J2EELibraryRefUpgradeParticipant;
         			com.bea.workshop.webservices.core.internal.WebServicesUpgradeParticipant;
         			com.bea.workshop.webservices.core.upgrade.WebservicesCore92UpgradeParticipant"/>
   </extension>   

   <extension
         point="oracle.eclipse.tools.common.upgrade.projectUpgradeParticipants">
      <participant class="com.bea.ide.common.upgrade.JpdProjectUpgradeParticipant" priority="-999"/>
   </extension>   
   -->
</plugin>
