<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>
<contexts>

	<context id="tpFTPTransportBizService" 
		title="FTP Transport Configuration page (Business Service)">
	    <description>Use this page to configure the FTP transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpFTPTransportBizService.htm" 
		label="FTP Transport Configuration page (Business Service)"/>
	</context>
		
	<context id="tpFTPTransportProxyService" 
		title="FTP Transport Configuration page (Proxy Service)">
	    <description>Use this page to configure the FTP transport used for a proxy service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpFTPTransportProxyService.htm" 
		label="FTP Transport Configuration page (Proxy Service)"/>
	</context>

	<context id="tpFTPTransportBizWizard" 
		title="FTP Transport Configuration page (Business Service)">
	    <description>Use this page to configure the FTP transport used for a business service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpFTPTransportBizService.htm" 
		label="FTP Transport Configuration page (Business Service)"/>
	</context>
		
	<context id="tpFTPTransportProxyWizard" 
		title="FTP Transport Configuration page (Proxy Service)">
	    <description>Use this page to configure the FTP transport used for a proxy service.</description>
		<topic href="PLUGINS_ROOT/com.bea.alsb.docs/tpFTPTransportProxyService.htm" 
		label="FTP Transport Configuration page (Proxy Service)"/>
	</context>


</contexts>

