<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>BEA AquaLogic Service Bus Console </display-name>
    <description>BEA AquaLogic Service Bus Console Web Application</description>

    <error-page>
        <error-code>403</error-code>
        <location>/jsp/login/error_403.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/jsp/main/error_500.jsp</location>
    </error-page>

    <!-- NetUIx Servlet -->
    <servlet>
        <servlet-name>AppManagerServlet</servlet-name>
        <servlet-class>weblogic.servlet.AsyncInitServlet</servlet-class>
        <init-param>
            <param-name>weblogic.servlet.AsyncInitServlet.servlet-class-name</param-name>
            <param-value>com.bea.netuix.servlets.manager.SingleFileServlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Action Servlet Configuration -->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>weblogic.servlet.AsyncInitServlet</servlet-class>
        <init-param>
            <param-name>weblogic.servlet.AsyncInitServlet.servlet-class-name</param-name>
            <param-value> com.bea.alsb.console.support.SBConsoleActionServlet</param-value>
        </init-param>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/security</param-name>
            <param-value>/WEB-INF/struts-auto-config-security.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/sb-security</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-security.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/-global</param-name>
            <param-value>/WEB-INF/struts/jpf-struts-config--global.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/services</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-services.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/providers</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-providers.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/resources</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-resources.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/test</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-testdialogs.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/projects</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-projects.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/pipelines</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-pipelines.xml</param-value>
        </init-param>

        <init-param>
            <param-name>config/stages</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-stages.xml</param-value>
        </init-param>

        <init-param>
            <param-name>config/alertrules</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-alertrules.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/changemgmt</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-changemgmt.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/authorization</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-authorization.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/deployment</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-deployment.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/main</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-main.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/xquery</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-xquery.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/svcmonitor</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-svcmonitor.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/jndi</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-jndiproviders.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/smtp</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-smtpservers.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/proxyserver</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-proxyservers.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/smartsearch</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-smartsearch.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/customization</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-customization.xml</param-value>
        </init-param>

        <init-param>
            <param-name>config/userpreferences</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-userpreferences.xml</param-value>
        </init-param>

        <init-param>
            <param-name>config/customresources</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-customresources.xml</param-value>
        </init-param>

        <init-param>
            <param-name>config/flow</param-name>
            <param-value>/WEB-INF/struts/struts-auto-config-flow.xml</param-value>
        </init-param>

        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>validating</param-name>
            <param-value>false</param-value>
        </init-param>

        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
     <servlet-name>ShowChart</servlet-name>
     <servlet-class>com.bea.alsb.console.dashboard.servlet.RenderChart</servlet-class>
    </servlet>

    <servlet>
     <servlet-name>DownloadServlet</servlet-name>
     <servlet-class>com.bea.alsb.console.deployment.DownloadServlet</servlet-class>
    </servlet>

    <servlet>
     <servlet-name>ModalPopupCallbackServlet</servlet-name>
     <servlet-class>com.bea.alsb.console.main.ModalPopupCallbackServlet</servlet-class>
    </servlet>

    <servlet>
     <servlet-name>AjaxRequestServlet</servlet-name>
     <servlet-class>com.bea.alsb.console.main.AjaxRequestServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CustomHelpServlet</servlet-name>
        <servlet-class>com.bea.alsb.console.main.CustomHelpServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginRedirectServlet</servlet-name>
        <servlet-class>com.bea.alsb.console.main.LoginRedirectServlet</servlet-class>
    </servlet>

   <!-- Precompiled JSP servlet -->
   <servlet>
     <servlet-name>JSPClassServlet</servlet-name>
     <servlet-class>weblogic.servlet.JSPClassServlet</servlet-class>
     <load-on-startup>1</load-on-startup>
   </servlet>

    <!-- NetUIx Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>AppManagerServlet</servlet-name>
        <url-pattern>/appmanager/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppManagerServlet</servlet-name>
        <url-pattern>*.portlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppManagerServlet</servlet-name>
        <url-pattern>*.portion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppManagerServlet</servlet-name>
        <url-pattern>*.portal</url-pattern>
    </servlet-mapping>

    <!-- Action Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.jpf</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
     <servlet-name>ShowChart</servlet-name>
     <url-pattern>/servlet/ShowChart</url-pattern>
   </servlet-mapping>

    <servlet-mapping>
     <servlet-name>DownloadServlet</servlet-name>
     <url-pattern>/DownloadServlet</url-pattern>
   </servlet-mapping>

    <servlet-mapping>
     <servlet-name>ModalPopupCallbackServlet</servlet-name>
     <url-pattern>/ModalPopupCallbackServlet</url-pattern>
   </servlet-mapping>

    <servlet-mapping>
     <servlet-name>AjaxRequestServlet</servlet-name>
     <url-pattern>/AjaxRequestServlet</url-pattern>
   </servlet-mapping>

    <servlet-mapping>
     <servlet-name>CustomHelpServlet</servlet-name>
     <url-pattern>/CustomHelpServlet</url-pattern>
   </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginRedirectServlet</servlet-name>
        <url-pattern>/LoginRedirectServlet</url-pattern>
    </servlet-mapping>

    <!-- Map pre-compiled JSPs (extensions are not pre-compiled) -->
    <servlet-mapping>
      <servlet-name>JSPClassServlet</servlet-name>
      <url-pattern>/framework/markup/shell/support/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>JSPClassServlet</servlet-name>
      <url-pattern>/framework/skeletons/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>JSPClassServlet</servlet-name>
      <url-pattern>/jsp/alertrules/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>JSPClassServlet</servlet-name>
      <url-pattern>/jsp/authorization/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>JSPClassServlet</servlet-name>
      <url-pattern>/jsp/changemgmt/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/customization/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/dashboard/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>JSPClassServlet</servlet-name>
      <url-pattern>/jsp/deployment/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/jndi/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>JSPClassServlet</servlet-name>
      <url-pattern>/jsp/login/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/main/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/module/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/monitoring/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/pipelines/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/projects/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/providers/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/reporting/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/resources/*</url-pattern>
    </servlet-mapping>

    <!-- need explicit mapping to avoid conflicts with rolepolicy-extension security JSPs -->
    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/security/EditSecurityPolicyStep1.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/security/PolicyBrowser.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/security/OwsmPolicyBrowser.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/security/ViewSecurityPolicies.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/security/ViewSecurityPolicy.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/security/MessagesInc.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/services/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>JSPClassServlet</servlet-name>
      <url-pattern>/jsp/smartsearch/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/smtp/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/proxyserver/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/stages/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/svcmonitor/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/test/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/transport/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/uddi/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/usermanagement/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>JSPClassServlet</servlet-name>
      <url-pattern>/jsp/userpreferences/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/welcome/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JSPClassServlet</servlet-name>
        <url-pattern>/jsp/xquery/*</url-pattern>
    </servlet-mapping>

    <!-- This mapping is used for console extension, assuming all jsps are under ext_jsp folder -->
    <servlet-mapping>
      <servlet-name>JSPClassServlet</servlet-name>
      <url-pattern>/ext_jsp/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.bea.console.utils.ConsoleRequestListener</listener-class>
    </listener>

    <!-- The Welcome File List -->
    <welcome-file-list>
        <welcome-file>/jsp/main/index.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <!-- taglibs required by portal framework JSPs -->
        <taglib>
            <taglib-uri>render.tld</taglib-uri>
            <taglib-location>WEB-INF/lib/render_taglib.jar</taglib-location>
        </taglib>

        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <!--
        security-constraint should appear before the login-config.
        See http://e-docs.bea.com/wls/docs60/programming/web_xml.html for details
    -->
    <!-- Protected resources -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Service Bus Console Resources</web-resource-name>
            <url-pattern>/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>IntegrationAdmin</role-name>
            <role-name>IntegrationOperator</role-name>
            <role-name>IntegrationDeployer</role-name>
            <role-name>IntegrationMonitor</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Unprotected resources (needed for login) -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Unprotected Resources</web-resource-name>
            <url-pattern>/images/*</url-pattern>
            <url-pattern>/jsp/login/login_childwindow.jsp</url-pattern>
            <url-pattern>/styles/sb/login.css</url-pattern>
            <url-pattern>/styles/sb/general.css</url-pattern>
            <url-pattern>/styles/sb/window.css</url-pattern>
            <url-pattern>/LoginRedirectServlet</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <!-- Login Configuration -->
    <login-config>
        <auth-method>CLIENT-CERT,FORM</auth-method>
        <form-login-config>
            <form-login-page>/jsp/login/login_form.jsp</form-login-page>
            <form-error-page>/jsp/login/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <!-- Security Roles -->
    <security-role>
        <role-name>IntegrationAdmin</role-name>
    </security-role>
    <security-role>
        <role-name>IntegrationOperator</role-name>
    </security-role>
    <security-role>
        <role-name>IntegrationDeployer</role-name>
    </security-role>
    <security-role>
        <role-name>IntegrationMonitor</role-name>
    </security-role>
</web-app>
